// //////////////////////////////////
// HEADER
// //////////////////////////////////
// Hamburger
.hamburger {
  margin-top: 30px;
  span {
    @include size(25px, 3px);
    display: block;
    margin-bottom: 5px;
  }
}
.logo {
  @include margin(20px 0 0 10px);
  h1 { span {
    font-size: 24px;
    letter-spacing: 3px;
  } }
}
// Social Links
.links { margin: 20px 0 15px 30px; }
.social-links {
  padding: 10px 10px 0;
  li {
    display: inline-block;
    a {
      margin-right: 15px;
      i {
        font-size: 24px;
      }
    }
  }
}
// Tel
.contact-tel {
  border-left: 1px solid $brand-primary;
  border-right: 1px solid $brand-primary;
  @include margin(2px 0 0 -40px);
  @include padding(12px 18px);
  font-size: 13px;
  letter-spacing: 1px;
}
// Signin
.signin {
  @include margin(0 0 0 -10px);
  @include padding(10px 0);
  font-size: 16px;
}

// About
.selfcare-image {
  @include square(100%);
  position: relative;
  img { @include size(100%, 80%); }
  h2 { font-size: 50px; }
}
.about-desc {
  h3 { font-size: 28px; }
  .health-style {
    @include margin(15px 0 10px);
    font-size: 24px;
    font-style: italic;
    & + p { font-size: 16px; }
  }
}
.health-design {
  position: relative;
  .health-style {
    font-size: 20px;
    font-style: italic;
  }
}
.about-health {
  @include margin(50px 0);
  @include padding(50px 0);
  h2 {
    font-size: 36px;
    font-style: italic;
  }
  .about-health-content {
    @include size(100%, 400px);
    @include margin(50px 0 0);
    .glyphicon-chevron-right:before {
      content: "\f105";
      display: block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 70px;
    }
    .glyphicon-chevron-left:before {
      content: "\f104";
      display: block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 70px;
    }
    .embed-youtube {
      @include padding(50px 0 50px 30px);
    }
    .inner-about-carousel {
      @include size(100%, 400px);
      @include padding(100px 140px);
      h3 { font-size: 36px; }
      span {
        display: block;
        font-size: 28px;
      }
      hr { border-top: 2px solid $brand-brown; }
      p { font-size: 16px; }
    }
  }
}
.what-we-do {
  @include margin(0 0 50px);
  p { font-size: 18px; }
  .we-do-topics {
    @include padding(0 40px);
    .we-do-title {
      @include margin(50px 0 0);
      img {
        @include margin(0 0 40px 0);
        display: inline-block;
      }
      h3 {
        @include margin(20px 0 0 20px);
        display: inline-block;
        font-size: 30px;
        span {
          position: relative;
          display: block;
        }
      }
    }
    .nutri { @include margin(57px 0 0); }
    p {
      @include margin(-30px 0 0);
      font-size: 16px;
      letter-spacing: 0.2px;
    }
  }
}
.rel { position: relative; }

// ///////////////////////
// CAROUSEL
// //////////////////////
.carousel-control {
  width: auto;
  color: $brand-brown;
  opacity: 1;
}
.carousel-control.left, .carousel-control.right { background-image: none; }
.about-health .about-health-content {
  .carousel-control.left { span { left: 50px; }
    &:hover { color: $brand-brown; }
  }
  .carousel-control.right { span { right: 50px; }
    &:hover { color: $brand-brown;}
  }
}
.carousel-indicators { display: none; }

// Health Packages
.what-health-goal {
  @include margin(50px 0);
  h2 { @include margin(0 0 40px); }
  .health-goals {
    @include padding(50px 0);
    .weight-goal, .health-manage-goal {
      @include margin(0 20px);
      @include padding(20px);
      border: 2px solid $brand-primary;
      .btn-packages {
        @include margin(20px 0 0 0);
        @include padding(12px 35px);
        font-size: 16px;
      }
    }
  }
}

// Image Consulting
.consult-detail {
  @include padding(50px 60px);
  font-size: 16px;
}
.consults {
  .inner-consults { @include padding(0 50px); }
  .single-consult {
    @include margin(50px 0 0);
    .consult-image {
      @include margin(20px 0 0);
      display: inline-block;
    }
    .consult-title {
      @include size(50%, 100%);
      @include margin(0 20px);
      display: inline-block;
      h3 {
        font-size: 30px;
        span {
          position: relative;
          display: block;
        }
      }
    }
    p { font-size: 16px; }
  }
}
.we-enroll {
  @include margin(0 0 100px);
  h2 {
    @include margin(100px 0);
    font-weight: bold;
  }
  .session-one, .session-two {
    .session-number {
      border-radius: 10px;
      span {
        @include square(80px);
        @include margin(-25px 0 0 0);
        display: inline-block;
        background-color: white;
        font-size: 54px;
        font-weight: bold;
        border: 5px solid $brand-primary;
        border-radius: 50%;
      }
      h4 {
        @include padding(0 0 10px 0);
        font-size: 28px;
        font-weight: bold;
      }
    }
    .session-charges {
      @include margin(0 0 0 -22px);
      @include padding(23px 0 8px);
      border-radius: 10px;
      .inner-session {
        border-right: 3px solid white;
      }
      .charge {
        font-size: 20px;
        font-weight: bold;
      }
      p + p {
        @include margin(-10px 0 0 0);
        font-size: 28px;
      }
      .services {
        @include margin(0 0 0 -40px);
        font-size: 18px;
        span { font-weight: bold; }
      }
    }
  }
  .session-two {
    @include margin(100px 0 0 0);
    .last {
      .session-charges { @include padding(23px 0 15px); }
    }
  }
}

// Team
.team-desc {
  @include padding(50px 60px);
  font-size: 18px;
  text-align: justify;
}
.team-members {
  .single-member {
    @include margin(50px 0 0);
    .member-image {
      @include square(170px);
      @include margin(20px 0 0);
      border: 2px solid $brand-primary;
      border-radius: 100%;
      overflow: hidden;
      img {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .member-detail {
      h3, h4 { font-weight: bold; }
      h3 { font-size: 28px; }
      h4 { font-size: 22px; }
      p { letter-spacing: 2px; }
    }
  }
  .team-nav {
    @include margin(20px 0 0);
    .pagination {
      li { a {
          @include padding(5px 30px);
          color: $body-bg;
          background-color: $brand-primary;
          font-size: 24px;
          font-weight: bold;
        }
        .active { background-color: $brand-brown; }
      }
    }
  }
}
.join-team {
  @include margin(50px 0 0);
  a {
    @include margin(0 0 100px 0);
    @include padding(15px 40px);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

// Success Stories
.stories-section {
  .single-read {
    @include padding(20px);
  }
}
.growth-section {
  @include margin(50px 0);
  h3 {
    @include padding(0 200px);
    color: $brand-brown-dark;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .growth-years {
    position: relative;
    letter-spacing: 2px;
    .growth-line {
      @include size(100%, 3px);
      display: block;
      @include position(absolute, 50% auto auto auto);
      background-color: $brand-primary;
      z-index: -1;
    }
    ul {
      @include margin(60px 0);
      li {
        display: inline-block;
        position: relative;
        .growth-year {
          @include position(absolute, auto auto auto 35%);
          font-size: 16px;
        }
        .up { @include margin(-35px 0 0); }
        .down { @include margin(90px 0 0); }
        .line-up, .line-down {
          @include size(2px, 10px);
          display: block;
          background-color: $brand-primary;
        }
        .line-up {
          @include margin(-10px 0 0 0);
          @include position(absolute, auto auto auto 50%);
        }
        .line-down {
          @include margin(0 0 -10px 0);
          @include position(absolute, auto auto 0 50%);
        }
        .growth-number {
          @include size(75px, 75px);
          @include margin(0 17px);
          display: inline-block;
          background-color: $body-bg;
          text-align: center;
          line-height: 75px;
          font-size: 16px;
          border: 2px solid $brand-primary;
        }
      }
    }
  }
}
.care-programs {
  @include margin(0 0 100px 0);
  h3 {
    font-size: 32px;
    letter-spacing: 5px;
  }
  .care-buttons {
    @include margin(50px 0);
    a {
      @include size(280px, auto);
      border: 2px solid $brand-primary;
      text-align: left;
      font-size: 15px;
      letter-spacing: 2px;
      img {
        @include size(auto, 30px);
        @include margin(0 50px 0 0);
        display: inline-block;
      }
    }
    a + a {
      @include margin(0 0 0 20px);
      img { @include margin(0 15px 0 0); }
    }
  }
}

// Contact Us
.contact-location {
  @include margin(50px 0);
  .mumbai, .kolkata {
    @include margin(0 0 20px);
    letter-spacing: 2px;
    .tardeo { @include margin(0 0 20px); }
    h4 { font-size: 28px; }
    p {
      @include margin(0);
      font-size: 20px;
    }
  }
}
.contact-query {
  h4 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  form { @include margin(10px 0 50px); }
  .form-group {
    .form-control {
      font-size: 16px;
      font-style: italic;
      border: 1px solid $brand-primary;
      border-radius: 0;
    }
    textarea { @include size(100%, 100px); }
  }
  .submit-button {
    @include margin(20px 0 0);
    a { @include padding(15px 70px); }
  }
}

// Product Category
.product-categories {
  @include margin(0 0 50px);
  .single-category {
    @include margin(50px 0 0);
    .category-image {
      @include square(350px);
      @include margin(0 auto);
      overflow: hidden;
      img { height: 100%; }
    }
    h3 {
      @include padding(0 150px);
      font-size: 32px;
    }
  }
}

// Health products
.product-desc {
  @include padding(50px);
  p { font-size: 16px; }
}
.products {
  .product-cat {
    a {
      @include square(100%);
      @include margin(0 0 5px);
      @include padding(5px 0);
      font-size: 16px;
      border-radius: 0;
      &:hover { color: $body-bg; }
    }
  }
  .filters {
    @include margin(30px 0);
    @include padding(10px 20px);
    h3 { @include margin(0 0 10px 10px); }
    div {
      @include margin(0 0 0 20px);
      input {
        @include square(10px);
        @include margin(0 5px 0 0);
        background-color: transparent;
        border: 1px solid $brand-brown-dark;
        border-radius: 1px;
        -webkit-appearance: none;
      }
      span {
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }
  @include margin(50px 0);
  .single-product {
    @include margin(0 0 50px);
    .product-image {
      @include square(150px);
      @include margin(0 auto 20px);
      overflow: hidden;
    }
  }
}
