@media (max-width: 1200px) {
  .about-suman {
    .heading {
      width: 60%;
      margin: 30px auto 50px;
      h4 {
        font-size: 34px;
      }
    }
  }
  .health-manageselect {
    .managecat {
      margin: 20px 0;
      .category-imghold {
        @include square(150px);
      }
      figcaption {
        margin: 10px 0;
      }
    }
  }
  .news {
    .slider {
      width: 817px;
    }
  }
  .news-article p {
    font-size: 16px;
  }
  .cart-main h3 {
    font-size: 20px;
  }
  .cart-table {
    .table > thead > tr > th {
      padding: 12px;
      font-size: 14px;
    }
    .cart-imgholder {
      @include square(150px);
    }
    figcaption {
      font-size: 14px;
    }
    .remove {
      margin-top: 55px;
    }
    .cart-grand-total {
      padding: 10px 25px;
      font-size: 18px;
    }
  }
}
@media (max-width: $screen-sm-max) {
  // faq
  .faq-accordion {
    padding: 25px;
    .panel-default {
      margin: 15px 0;
      .panel-heading {
        .panel-title a {
          padding: 18px;
          font-size: 17px;
        }
      }
    }
  }
  // faq end
  .get-up {
    padding: 35px;
    margin-top: -80px;
  }
  .health-descp {
    margin: 0;
    font-size: 15px;
  }
  .suman-video {
    width: 65%;
    height: 250px;
  }
  .about-suman {
    .heading {
      width: 70%;
      margin: 20px auto 40px;
      h4 {
        font-size: 30px;
      }
    }
  }
  .suman-info {
    .title {
      text-align: center;
    }
  }
  .health-manageselect {
    margin: 40px 0;
    .managecat {
      margin: 10px 0;
      .category-imghold {
        @include square(120px);
      }
      figcaption {
        font-size: 14px;
      }
    }
  }
  .news {
    .slider {
      width: 548px;
    }
    .flex-direction-nav .flex-prev {
      left: -50px;
    }
    .flex-direction-nav .flex-next {
      right: -50px;
    }
  }
  .cart-table {
    .cart-imgholder {
      @include square(100px);
    }
    figcaption {
      font-size: 14px;
      letter-spacing: 1px;
    }
    .quantity {
      width: 40px;
      padding-left: 10px;
    }
    .more,
    .less {
      padding: 0 2px;
      i {
        font-size: 12px;
      }
    }
    .remove {
      margin-top: 30px;
    }
    .cart-btn {
      margin: 10px 0;
      text-align: center;
    }
  }
}
@media (max-width: $screen-xs-max) {
  // faq
  .faq-accordion {
    padding: 20px;
    .panel-default {
      margin: 12px 0;
      .panel-heading {
        .panel-title a {
          padding: 15px;
          font-size: 16px;
        }
      }
    }
    .faq-descp {
      font-size: 13px;
    }
  }
  // faq end
  .get-up {
    padding: 25px;
    margin-top: -40px;
  }
  .suman-video {
    width: 75%;
    height: 180px;
  }
  .about-suman {
    .heading {
      width: 80%;
      margin: 20px auto;
      h4 {
        font-size: 22px;
      }
    }
  }
  .suman-info {
    padding: 0 20px;
    .title {
      margin-bottom: 10px;
      font-size: 20px;
      text-align: center;
    }
    .descp {
      font-size: 15px;
    }
  }
  .pro-info {
    margin-bottom: 60px;
  }
  .health-manageselect {
    .row-flex {
      @include flex-wrap(wrap);
      .col-flex {
        @include flex(auto);
      }
    }
    .managecat {
      margin: 10px 0;
      .category-imghold {
        @include square(100px);
      }
      figcaption {
        font-size: 13px;
      }
    }
  }
  .news {
    margin: 20px 0 40px;
    .slider {
      width: 405px;
    }
  }
  .cart-main {
    padding: 40px 0;
    h3 {
      font-size: 17px;
    }
  }
  .cart-table {
    .cart-imgholder {
      @include square(90px);
    }
    figcaption {
      font-size: 12px;
      letter-spacing: 1px;
    }
    .quantity {
      width: 30px;
      padding-left: 7px;
    }
    .more,
    .less {
      padding: 0 2px;
      i {
        font-size: 12px;
      }
    }
    .remove {
      margin-top: 26px;
      button {
        padding: 6px 14px;
        font-size: 10px;
      }
    }
    .table {
      thead > tr > th {
        padding: 12px 0;
        font-size: 13px;
      }
      tbody > tr > td {
        padding: 10px 0;
        font-size: 13px;
        p {
          margin: 0;
        }
      }
    }
    .cart-grand-total {
      padding: 10px 15px;
      font-size: 16px;
    }
    .shipping p {
      font-size: 12px;
    }
  }
}
@media (max-width: 480px) {
  // faq
  .faq-accordion {
    padding: 15px;
    .panel-default {
      margin: 10px 0;
      .panel-body {
        padding: 12px;
      }
      .panel-heading {
        .panel-title a {
          padding: 20px 25px 20px 20px;
          font-size: 12px;
        }
      }
    }
    .faq-descp {
      font-size: 11px;
    }
    .open-me {
      right: 9px;
    }
  }
  // faq end
  .get-up {
    padding: 15px;
    margin-top: -20px;
  }
  .health-descp {
    font-size: 13px;
    line-height: 16px;
  }
  .suman-video {
    width: 85%;
    height: 120px;
    top: 30px;
  }
  .about-suman {
    width: 95%;
    .heading {
      h4 {
        font-size: 18px;
      }
    }
  }
  .suman-info {
    padding: 0 10px;
    .title {
      font-size: 16px;
    }
    .descp {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .pro-info {
    margin-bottom: 50px;
  }
  .health-manageselect {
    margin: 25px 0;
    .managecat {
      margin: 15px;
      .category-imghold {
        @include square(100px);
      }
      figcaption {
        font-size: 13px;
      }
    }
  }
  .news {
    margin: 20px 0;
    .slider {
      width: 275px;
    }
    .flex-direction-nav .flex-prev {
      left: -30px;
    }
    .flex-direction-nav .flex-next {
      right: -30px;
    }
  }
  .cart-main {
    padding: 30px 0;
    h3 {
      font-size: 14px;
    }
  }
  .cart-table {
    .cart-imgholder {
      @include square(70px);
    }
    figcaption {
      margin: 5px 0;
      font-size: 8px;
    }
    .table {
      thead > tr > th {
        padding: 12px;
        font-size: 10px;
        letter-spacing: 1px;
        vertical-align: middle;
      }
      tbody > tr > td {
        font-size: 10px;
        letter-spacing: 1px;
      }
    }
    .remove {
      margin-top: 15px;
      button {
        padding: 4px 10px;
      }
    }
    .cart-grand-total {
      padding: 10px;
      font-size: 13px;
    }
    .shipping p {
      font-size: 12px;
    }
  }
}
