@media (max-width: 1200px) {
  .about-suman {
    .heading {
      width: 60%;
      margin: 30px auto 50px;
      h4 {
        font-size: 34px;
      }
    }
  }
  .health-manageselect {
    .managecat {
      margin: 20px 0;
      .category-imghold {
        @include square(150px);
      }
      figcaption {
        margin: 10px 0;
      }
    }
  }
  .news {
    .slider {
      width: 817px;
    }
  }
  .news-article p {
    font-size: 16px;
  }
  .cart-main h3 {
    font-size: 20px;
  }
  .cart-table {
    .table > thead > tr > th {
      padding: 12px;
      font-size: 14px;
    }
    .cart-imgholder {
      @include square(150px);
    }
    figcaption {
      font-size: 14px;
    }
    .remove {
      margin-top: 55px;
    }
    .cart-grand-total {
      padding: 10px 25px;
      font-size: 18px;
    }
  }
  // weight-manangement
  .tab-chart {
    .nav-tabs {
      li:first-child {
        a {
          padding: 8px 28px;
        }
      }
      li.active:first-child {
        a {
          padding: 8px 28px;
        }
      }
      li {
        a {
          padding: 10px 28px;
        }
      }
    }
    .chart-head {
      p {
        font-size: 16px;
      }
      .price {
        font-size: 22px;
      }
    }
  }
  .section-story .view-detail .descp { width: 70%; }
  .consult-chart {
    height: 75px;
    .consult {
      margin-top: 47px;
    }
  }
  .tab-foot {
    .plan {
      display: block;
    }
  }
  .slider-round {
    .healthmanagement-slider {
      .slide-imghold {
        @include square(150px);
      }
      figcaption {
        margin: 15px 0 0;
      }
    }
    .carousel-control {
      .glyphicon-chevron-left {
        left: -50px;
      }
      .glyphicon-chevron-right {
        right: -50px;
      }
    }
  }
  // home
  .health-design {
    padding: 25px 30px;
    h4 {
      font-size: 28px;
      word-spacing: 2px;
    }
    .img-holder {
      @include square(120px);
      top: -22px;
      left: 62%;
      background: url(../img/suman.jpg) no-repeat -135px -12px;
    }
    .more-abt-suman {
      font-size: 17px;
      word-spacing: 1px;
    }
  }
  .health-cat {
    margin: 40px 20px;
    .health-info {
      padding: 0;
    }
  }
  .info {
    .health-title {
      span {
        font-size: 18px;
      }
    }
    .health-count {
      font-size: 35px;
    }
    .icon {
      @include square(80px);
    }
  }
  .blog-main {
    padding: 25px;
    margin: 0 15px 0 0;
  }
  .blog-section {
    .heading {
      h4 {
        font-size: 36px;
      }
    }
    .blog-imgholder {
      @include square(90px);
    }
    .blog-imginfo {
      min-height: auto;
      padding: 20px 20px 30px 5px;
      p {
        font-size: 19px;
      }
    }
  }
  .askqts {
    margin: 0 0 0 15px;
    .tips {
      letter-spacing: 0;
    }
    form {
      textarea {
        min-height: 190px;
      }
    }
  }
  // product-cat
  .product-categories {
  .single-category {
    .category-image {
      @include square(250px);
    }
    h3 {
    padding: 0 90px;
    font-size: 25px;
  }
  }
}
// checkout
.checkout-tab {
  .greater {
    top: 50%;
    @include transform(translateY(-50%));
  }
  .order-summary {
    .table {
      thead > tr > th { font-size: 17px; }
    }
  }
  .nav-tabs {
    li {
      font-size: 18px;
    }
  }
}
}
@media (max-width: $screen-sm-max) {
  // faq
  .faq-accordion {
    padding: 25px;
    .panel-default {
      margin: 15px 0;
      .panel-heading {
        .panel-title a {
          padding: 18px;
          font-size: 17px;
        }
      }
    }
  }
  // faq end
  .get-up {
    padding: 35px;
    margin-top: -80px;
  }
  .health-descp {
    margin: 0;
    font-size: 15px;
  }
  .suman-video {
    width: 65%;
    height: 250px;
  }
  .about-suman {
    .heading {
      width: 70%;
      margin: 20px auto 40px;
      h4 {
        font-size: 30px;
      }
    }
  }
  .suman-info {
    .title {
      text-align: center;
    }
  }
  .health-manageselect {
    margin: 40px 0;
    .managecat {
      margin: 10px 0;
      .category-imghold {
        @include square(120px);
      }
      figcaption {
        font-size: 14px;
      }
    }
  }
  .news {
    .slider {
      width: 548px;
    }
    .flex-direction-nav .flex-prev {
      left: -50px;
    }
    .flex-direction-nav .flex-next {
      right: -50px;
    }
  }
  .cart-table {
    .cart-imgholder {
      @include square(100px);
    }
    figcaption {
      font-size: 14px;
      letter-spacing: 1px;
    }
    .quantity {
      width: 40px;
      padding-left: 10px;
    }
    .more,
    .less {
      padding: 0 2px;
      i {
        font-size: 12px;
      }
    }
    .remove {
      margin-top: 30px;
    }
    .cart-btn {
      margin: 10px 0;
      text-align: center;
    }
  }
  .tab-chart {
    .nav-tabs {
      li:first-child {
        a {
          padding: 6px 26px;
        }
      }
      li.active:first-child {
        a {
          padding: 6px 26px;
        }
      }
      li {
        a {
          padding: 8px 26px;
        }
      }
    }
    .chart-head {
      p {
        font-size: 15px;
      }
      .price {
        font-size: 20px;
      }
    }
  }
  .weight-round {
    @include square(90px);
  }
  .tab-foot {
    .plan {
      display: block;
      text-align: center;
    }
  }
  .section-story {
    .slider {
      padding: 20px;
      .glyphicon-chevron-left:before {
        color: $brand-brown-light;
        font-size: 45px;
      }
      .glyphicon-chevron-right:before {
        color: $brand-brown-light;
        font-size: 45px;
      }
      .carousel-control.left {
        width: auto;
        margin: 0;
        left: -34px;
      }
      .carousel-control.right {
        width: auto;
        margin: 0;
        right: -34px;
      }
    }
    .view-detail {
      padding: 10px 0 0;
      .descp {
        width: 100%;
        margin: 58px 0;
        &:before {
          width: 39px;
          height: 29px;
          background-size: contain;
          top: -30px;
        }
        &:after {
          width: 39px;
          height: 29px;
          background-size: contain;
          top: 65px;
          right: 0;
        }
      }
    }
  }
  .story-video {
    height: 230px;
  }
  .consult-chart {
    height: 67px;
    .consult {
      margin-top: 42px;
    }
  }
  .slider-round {
    padding: 0 25px;
    .healthmanagement-slider {
      .slide-imghold {
        @include square(120px);
      }
      figcaption {
        margin: 10px 0 0;
        font-size: 13px;
      }
    }
  }
  .home-slider {
    .slider-info {
      h2 {
        margin: 0;
        font-size: 25px;
      }
      p {
        font-size: 15px;
      }
      button {
        margin-top: 10px;
      }
    }
    .flexslider .flex-direction-nav a {
      zoom: 0.8;
    }
  }
  .health-heading {
    margin: 0 0 15px;
    font-size: 23px;
  }
  .health-design {
    padding: 20px 10px;
    h4 {
      font-size: 20px;
      word-spacing: 0;
    }
    .img-holder {
      @include square(100px);
      left: 64%;
      border: 2px solid #fff;
    }
    .more-abt-suman {
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
  .health-cat {
    margin: 40px 0;
    .health-info {
      margin: 20px 0;
      text-align: center;
      .title {
        span {
          display: inline-block;
        }
      }
      .health-descp {
        margin: 10px auto 20px;
      }
      .health-imgholder {
        margin: 0 auto;
      }
    }
  }
  .info {
    .health-title {
      span {
        font-size: 16px;
      }
    }
    .health-count {
      font-size: 29px;
    }
    .icon {
      @include square(70px);
    }
  }
  .health-diet {
    padding: 20px 0;
    .diet-info {
      padding: 0;
      h4 {
        font-size: 22px;
        font-weight: normal;
      }
      .diet-holder {
        width: 280px;
        height: 150px;
      }
      .descp {
        width: 280px;
        margin: 10px auto;
      }
    }
  }
  .blog-main {
    padding: 15px;
  }
  .blog-section {
    .heading {
      h4 {
        font-size: 30px;
      }
    }
    .blog-imgholder {
      @include square(80px);
    }
    .blog-imginfo {
      min-height: 80px;
      padding: 0;
      p {
        font-size: 14px;
        letter-spacing: 0;
      }
    }
  }
  .askqts {
    margin: 0 0 0 15px;
    .tips {
      font-size: 14px;
    }
    form {
      textarea {
        min-height: 175px;
      }
    }
  }
  // product-cat
  .product-categories {
  .single-category {
    margin: 30px 0 0;
    .category-image {
      @include square(200px);
    }
    h3 {
    padding: 0 50px;
    font-size: 22px;
  }
  }
}
// checkout
.checkout-tab {
  margin: 40px 0;
  .order-summary {
    margin: 10px 0 20px;
    .table {
      thead > tr > th {
        padding: 8px 30px;
        vertical-align: middle;
      }
    }
  }
  .nav-tabs {
    li:first-child {
a {
  padding: 12px 25px 0;
  min-height: 70px;
}
    }
  }
}
}
@media (max-width: $screen-xs-max) {
  .btn {
    padding: 10px 16px;
  }
  .btn-center { text-align: center; }
  // faq
  .faq-accordion {
    padding: 20px;
    .panel-default {
      margin: 12px 0;
      .panel-heading {
        .panel-title a {
          padding: 15px;
          font-size: 16px;
        }
      }
    }
    .faq-descp {
      font-size: 13px;
    }
  }
  // faq end
  .get-up {
    padding: 25px;
    margin-top: -40px;
  }
  .suman-video {
    width: 75%;
    height: 180px;
  }
  .about-suman {
    .heading {
      width: 80%;
      margin: 20px auto;
      h4 {
        font-size: 22px;
      }
    }
  }
  .suman-info {
    padding: 0 20px;
    .title {
      margin-bottom: 10px;
      font-size: 20px;
      text-align: center;
    }
    .descp {
      font-size: 15px;
    }
  }
  .pro-info {
    margin-bottom: 60px;
  }
  .health-manageselect {
    .row-flex {
      @include flex-wrap(wrap);
      .col-flex {
        @include flex(auto);
      }
    }
    .managecat {
      margin: 10px 0;
      .category-imghold {
        @include square(100px);
      }
      figcaption {
        font-size: 13px;
      }
    }
  }
  .news {
    margin: 20px 0 40px;
    .slider {
      width: 405px;
    }
  }
  .cart-main {
    padding: 40px 0;
    h3 {
      font-size: 17px;
    }
  }
  .cart-table {
    .cart-imgholder {
      @include square(90px);
    }
    figcaption {
      font-size: 12px;
      letter-spacing: 1px;
    }
    .quantity {
      width: 30px;
      padding-left: 7px;
    }
    .more,
    .less {
      padding: 0 2px;
      i {
        font-size: 12px;
      }
    }
    .remove {
      margin-top: 26px;
      button {
        padding: 6px 14px;
        font-size: 10px;
      }
    }
    .table {
      thead > tr > th {
        padding: 12px 0;
        font-size: 13px;
      }
      tbody > tr > td {
        padding: 10px 0;
        font-size: 13px;
        p {
          margin: 0;
        }
      }
    }
    .cart-grand-total {
      padding: 10px 15px;
      font-size: 16px;
    }
    .shipping p {
      font-size: 12px;
    }
  }
  .healthchart-list {
    width: 466px;
    margin: 40px auto;
  }
  .tab-chart {
    width: 390px;
    .nav-tabs {
      li:first-child {
        a {
          padding: 6px 13px;
        }
      }
      li.active:first-child {
        a {
          padding: 6px 13px;
        }
      }
      li.active {
        a {
          &:after {
            border-top: 20px solid transparent;
            border-bottom: 20px solid $brand-primary;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            bottom: -6px;
          }
        }
      }
      li {
        margin: 0 2px -2px 0;
        a {
          padding: 8px 13px;
          &:before {
            height: 34px;
          }
        }
      }
    }
    .chart-head {
      p {
        font-size: 13px;
        font-weight: normal;
      }
      .price {
        font-size: 14px;
        span {
          font-size: 10px;
        }
      }
    }
    .chart-info {
      padding: 15px;
    }
    .tab-head {
      margin-bottom: 30px;
      font-size: 13px;
    }
    .tab-body {
      h5 {
        margin-bottom: 12px;
        font-size: 18px;
      }
      .chart-list {
        li {
          margin-bottom: 6px;
          font-size: 13px;
        }
      }
    }
    .tab-foot {
      text-align: center;
      .tab-footinfo {
        width: 100%;
        p {
          width: 300px;
          text-align: left;
        }
      }
      .plan {
        margin: 15px 0;
      }
    }
  }
  .align {
    margin: -12px 2px 0 0;
  }
  .weight-round,
  .get-round {
    @include square(70px);
    .lost {
      padding: 4px 0 2px;
      font-size: 12px;
    }
    p {
      font-size: 20px;
      .weight-number {
        font-size: 27px;
      }
    }
  }
  .consult-chart {
    width: 70px;
    height: 55px;
    .noconsult {
      @include square(35px);
      border: 2px solid $brand-primary;
      font-size: 20px;
      line-height: 30px;
      top: -15px;
    }
    .consult {
      margin-top: 35px;
      font-size: 11px;
    }
  }
  .slider-round {
    padding: 0 50px 0 40px;
    .healthmanagement-slider {
      .slide-imghold {
        @include square(100px);
      }
      figcaption {
        margin: 9px 0 0;
        font-size: 12px;
      }
    }
    .glyphicon-chevron-left:before,
    .glyphicon-chevron-right:before {
      font-size: 45px;
    }
  }
  .home-slider {
    .slider-info {
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
      button {
        margin-top: 8px;
      }
    }
    .flexslider .flex-direction-nav a {
      zoom: 0.7;
    }
  }
  .health-heading {
    margin: 0 0 12px;
    font-size: 18px;
  }
  .health-design {
    min-height: 200px;
    text-align: center;
    h4 {
      display: block;
    }
    .img-holder {
      position: static;
      @include transform(translate(0));
      margin: 15px auto;
    }
    .more-abt-suman {
      float: none !important;
      display: block;
    }
  }
  .health-cat {
    .health-info {
      margin: 20px auto;
      text-align: center;
      .title {
        font-size: 19px;
      }
      .health-descp {
        margin: 10px auto;
        font-size: 14px;
      }
      .know-more {
        padding: 10px 16px;
        font-size: 11px;
        letter-spacing: 1px;
      }
    }
  }
  .people-info {
    .info {
      padding: 0;
      border: none;
      margin: 0 0 20px;
      text-align: center;
    }
  }
  .census {
    width: 125px;
  }
  .section-story {
    padding: 30px 0;
    .carousel-control {
      .glyphicon-chevron-left,
      .glyphicon-chevron-right {
        top: 65%;
        &:before {
          color: $brand-brown-dark;
          font-size: 50px;
        }
      }
      .glyphicon-chevron-left {
        left: 25px;
      }
      .glyphicon-chevron-right {
        right: 25px;
      }
    }
    .view-detail {
      .name {
        font-size: 20px;
      }
      .weight-info {
        top: 10px;
      }
      .descp {
        &:before,
        &:after {
          @include square(20px);
        }
      }
    }
  }
  .health-diet {
    .diet-info {
      margin: 20px 0;
      h4 {
        font-size: 20px;
      }
      .descp {
        min-height: auto;
        margin: 15px auto;
      }
    }
  }
  .blog-section {
    padding: 20px 0;
    .blog-info .last-blog-info {
      border-bottom: 2px solid $brand-brown;
    }
    .heading {
      h4 {
        font-size: 25px;
      }
    }
    .blog-imginfo {
      min-height: 50px;
      p {
        padding: 10px 0 0;
      }
    }
  }
  .blog-main {
    min-height: auto;
    margin: 20px 0;
  }
  .askqts {
    margin: 0;
  }
  .section-about {
    .about-info {
      margin-bottom: 30px;
      h3 {
        margin: 0 0 18px;
        font-size: 27px;
      }
      h5 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
        line-height: 22px;
      }
    }
    .about-imgholder {
      width: 300px;
      height: 200px;
    }
  }
  // .product-cat
  .product-categories {
    margin: 0 0 30px;
  .single-category {
    .category-image {
      @include square(180px);
    }
    h3 {
    padding: 0;
    font-size: 19px;
  }
  }
}
// checkout
.checkout-tab {
  margin: 30px 0 ;
  .order-summary {
    margin: 10px 0 15px;
    .table {
      thead > tr > th {
        padding: 8px;
        font-size: 14px;
        letter-spacing: 0;
      }
    }
  }
  .nav-tabs {
    li:first-child {
      a {
        min-height: auto;
        padding: 0 41px 0;
      }
    }
    li {
      font-size: 16px;
      a {
        padding: 0 25px;
        letter-spacing: 0;
      }
    }
  }
}
.checkout-main {
  .cart-table {
    .table {
      thead > tr > th {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }
  .coupon {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .price-ship { margin-right: 0; }
}
}
@media (max-width: 480px) {
  // faq
  .faq-accordion {
    padding: 15px;
    .panel-default {
      margin: 10px 0;
      .panel-body {
        padding: 12px;
      }
      .panel-heading {
        .panel-title a {
          padding: 20px 25px 20px 20px;
          font-size: 12px;
        }
      }
    }
    .faq-descp {
      font-size: 11px;
    }
    .open-me {
      right: 9px;
    }
  }
  // faq end
  .get-up {
    padding: 15px;
    margin-top: -20px;
  }
  .health-descp {
    font-size: 13px;
    line-height: 16px;
  }
  .suman-video {
    width: 85%;
    height: 120px;
    top: 30px;
  }
  .about-suman {
    width: 95%;
    .heading {
      h4 {
        font-size: 18px;
      }
    }
  }
  .suman-info {
    padding: 0 10px;
    .title {
      font-size: 16px;
    }
    .descp {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .pro-info {
    margin-bottom: 50px;
  }
  .health-manageselect {
    margin: 25px 0;
    .managecat {
      margin: 15px;
      .category-imghold {
        @include square(100px);
      }
      figcaption {
        font-size: 13px;
        letter-spacing: 1px;
      }
    }
  }
  .news {
    margin: 20px 0;
    .slider {
      width: 275px;
    }
    .flex-direction-nav .flex-prev {
      left: -30px;
    }
    .flex-direction-nav .flex-next {
      right: -30px;
    }
  }
  .cart-main {
    padding: 30px 0;
    h3 {
      font-size: 14px;
    }
  }
  .cart-table {
    .cart-imgholder {
      @include square(70px);
    }
    figcaption {
      margin: 5px 0;
      font-size: 8px;
    }
    .table {
      thead > tr > th {
        padding: 12px;
        font-size: 10px;
        letter-spacing: 1px;
        vertical-align: middle;
      }
      tbody > tr > td {
        font-size: 10px;
        letter-spacing: 1px;
      }
    }
    .remove {
      margin-top: 15px;
      button {
        padding: 4px 10px;
      }
    }
    .cart-grand-total {
      padding: 10px;
      font-size: 13px;
    }
    .shipping p {
      font-size: 12px;
    }
  }
  .healthchart-list {
    width: auto;
    margin: 30px auto 20px;
    text-align: center;
  }
  .tab-chart {
    width: 290px;
    .nav-tabs {
      li:first-child {
        a {
          padding: 4px 8px;
        }
      }
      li.active:first-child {
        a {
          padding: 4px 8px;
        }
      }
      li.active {
        a {
          &:after {
            border-top: 15px solid transparent;
            border-bottom: 15px solid $brand-primary;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            bottom: -3px;
          }
        }
      }
      li {
        a {
          padding: 6px 8px;
          &:before {
            width: 1px;
            height: 28px;
          }
        }
      }
    }
    .chart-head {
      p {
        font-size: 10px;
        font-weight: normal;
      }
      .price {
        font-size: 10px;
        span {
          font-size: 9px;
        }
      }
    }
    .chart-info {
      padding: 10px;
    }
    .tab-head {
      margin-bottom: 20px;
      font-size: 12px;
      text-align: justify;
    }
    .tab-body {
      h5 {
        margin-bottom: 10px;
        font-size: 15px;
        text-align: left;
      }
      .chart-list {
        li {
          margin-bottom: 5px;
          font-size: 12px;
          text-align: left;
        }
      }
    }
    .tab-foot {
      text-align: center;
      .tab-footinfo {
        p {
          width: 100%;
          text-align: center;
        }
      }
      .plan {
        margin: 10px 0;
      }
    }
  }
  .weight-round,
  .get-round {
    @include square(55px);
    margin-bottom: 10px;
    .lost {
      padding: 5px 0 2px;
      font-size: 11px;
    }
    p {
      font-size: 15px;
      .weight-number {
        font-size: 19px;
      }
    }
  }
  .consult-chart {
    width: 60px;
    height: 42px;
    margin: 0 0 10px;
    .noconsult {
      @include square(25px);
      border: 1px solid $brand-primary;
      font-size: 14px;
      line-height: 20px;
    }
    .consult {
      margin-top: 25px;
      font-size: 9px;
    }
  }
  .slider-round {
    padding: 0 10px;
    .healthmanagement-slider {
      .slide-imghold {
        @include square(70px);
      }
      figcaption {
        margin: 7px 0 0;
        font-size: 9px;
        letter-spacing: 0;
      }
    }
    .glyphicon-chevron-left:before,
    .glyphicon-chevron-right:before {
      font-size: 35px;
    }
    .carousel-control {
      .glyphicon-chevron-left {
        left: -35px;
      }
      .glyphicon-chevron-right {
        right: -35px;
      }
    }
  }
  .home-slider {
    .slider-info {
      h2 {
        font-size: 15px;
      }
      p {
        margin: 10px 0;
        font-size: 10px;
      }
      button {
        margin-top: 6px;
        padding: 8px 10px;
        font-size: 8px;
      }
    }
    .flexslider .flex-direction-nav a {
      zoom: 0.6;
    }
  }
  .health-heading {
    margin: 0 0 8px;
    font-size: 15px;
  }
  .health-cat {
    margin: 0;
  }
  .info {
    .health-title {
      font-size: 13px;
    }
    .health-count {
      font-size: 25px;
      span {
        font-size: 12px;
      }
    }
    .icon {
      @include square(60px);
    }
  }
  .section-story {
    padding: 20px 0;
    .view-detail {
      .name {
        width: 100%;
        font-size: 17px;
      }
      .weight-info {
        top: 7px;
        left: 70%;
      }
      .descp {
        font-size: 13px;
        margin: 30px 0 20px;
      }
    }
  }
  .health-diet {
    .diet-info {
      h4 {
        font-size: 18px;
      }
      .descp {
        font-size: 15px;
        word-spacing: 0;
      }
    }
  }
  .section-about {
    .about-info {
      margin-bottom: 20px;
      h3 {
        margin: 0 0 12px;
        font-size: 22px;
      }
      h5 {
        font-size: 15px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
    .about-imgholder {
      width: 250px;
      height: 150px;
    }
  }
  // product-cat
  .product-categories {
  .single-category {
    .category-image {  @include square(130px); }
    h3 {  font-size: 15px; }
  }
}
// checkout
.checkout-tab {
  .greater { display: none; }
  .order-summary {
    .table {
      thead > tr > th {  font-size: 11px;  }
    }
  }
  .nav-tabs {
    li {
      font-size: 12px;
      a { padding: 0 15px; }
    }
    li:first-child {
      a {
min-height: auto;
padding: 0 15px;
      }
    }
  }
}
.checkout-main {
  .cart-table {
    .table {
      thead > tr > th {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0;
      }
      tbody > tr > td:last-child {
        padding: 0 9px;
      }
    }
  }
  .coupon-ship { margin: 0 0 10px; }
  .coupon {
    font-size: 12px;
    letter-spacing: 0;
  }
}
}
