@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@font-face {
  font-family: 'Baubodi';
  src: url('../fonts/baubodi.ttf');
}
@font-face {
  font-family: 'Vista Slab';
  src: url('../fonts/vista_slab.otf');
}
@font-face {
  font-family: 'Whitney Book';
  src: url('../fonts/whitney_book.otf');
}
@font-face {
  font-family: 'Whitney Light';
  src: url('../fonts/whitney_light.otf');
}
@font-face {
  font-family: 'Whitney Medium';
  src: url('../fonts/whitney_medium.otf');
}
@font-face {
  font-family: 'Whitney Semibold';
  src: url('../fonts/whitney_semibold.otf');
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot'), url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg') format('svg');
}

/* Bootstrap Variables Goes Here */

//$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-primary: #e96542 !default; //Orange
$brand-primary-light: #f4b2a1 !default; //LightOrange
$brand-primary-lighter: #ffd8ce !default; //ligherOrange
$brand-brown: #c2a388 !default; //Brown
$brand-brown-light: #e6d9ce !default; //BrownLight
$brand-brown-dark: #3b1808 !default; //BrownDark
$brand-brown-dark2: #2d1205 !default; //BrownDark2
$brand-brown-gray: #998675 !default; //BrownGray
$brand-yellow: #f2921d !default; //Yellow
$brand-blue: #5184c5 !default; //Blue
$brand-graylight: #d5cdc6 !default; //lightgray
$font-color: #242424 !default;
$body-bg: #fff !default;
$text-color: $font-color !default;
$section-bg: #d3d3d3 !default;
$link-color: $font-color !default;
$link-hover-color: $font-color !default;
$link-hover-decoration: none !default;
$font-family-sans-serif: "Lato",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif !default;
$font-family-serif: "Lato",
Georgia,
"Times New Roman",
Times,
serif !default;
$font-funky: "Lemonade",
"Helvetiva Neue",
Helvetica !default;
$font-loading: "Exo 2",
"Helvetiva Neue",
Helvetica !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$instagram: #396d9a !default;
.white {
  color: $body-bg;
}
.brand-primary {
  color: $brand-primary;
}
.brand-primary-light {
  color: $brand-primary-light;
}
.brand-primary-lighter {
  color: $brand-primary-lighter;
}
.brand-brown {
  color: $brand-brown;
}
.brand-brown-light {
  color: $brand-brown-light;
}
.brand-brown-dark {
  color: $brand-brown-dark;
}
.brand-brown-dark2 {
  color: $brand-brown-dark2;
}
.brand-brown-gray {
  color: $brand-brown-gray;
}
.brand-yellow {
  color: $brand-yellow;
}
.brand-blue {
  color: $brand-blue;
}
.brand-primary-bg {
  background-color: $brand-primary;
}
.brand-primary-light-bg {
  background-color: $brand-primary-light;
}
.brand-brown-bg {
  background-color: $brand-brown;
}
.brand-brown-light-bg {
  background-color: $brand-brown-light;
}
.brand-brown-dark-bg {
  background-color: $brand-brown-dark;
}
.brand-brown-dark2-bg {
  background-color: $brand-brown-dark2;
}
.brand-brown-gray-bg {
  background-color: $brand-brown-gray;
}
.brand-yellow-bg {
  background-color: $brand-yellow;
}
.brand-blue-bg {
  background-color: $brand-blue;
}
.brand-graylight-bg {
  background-color: $brand-graylight;
}
//button
.btn-yellow {
  @include button-variant(white,
  $brand-yellow,
  $brand-yellow);
  &:hover {
    color: #fff !important;
  }
}
.btn-blue {
  @include button-variant(white,
  $brand-blue,
  $brand-blue);
  &:hover {
    color: #fff !important;
  }
}
.foot-btn {
  @include button-variant($brand-primary,
  white,
  $brand-primary);
}
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #fff;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a {
  @include transition(all 300ms ease);
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
input,
select,
textarea {
  &:focus {
    border-color: $brand-primary !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
form .form-control {
  min-height: 40px;
  border-radius: 4px;
}
textarea {
  resize: none;
}
// Class
.relate {
  position: relative;
}
.m-center {
  margin: 0 auto;
}
.get-center {
  @include position(absolute,
  50% auto auto 50%);
  @include transform(translate(-50%,
  -50%));
}
.get-up {
  margin-top: -100px;
  padding: 20px 50px;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.text-bold {
  font-weight: 700;
}
.text-light {
  font-weight: 300;
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
}
.btn {
  font-size: 12px;
  padding: 12px 24px;
  @extend.letter-space;
  border-radius: 4px;
}
button {
  &:focus {
    outline: none !important;
  }
}
.get-round {
  @include square(90px);
  border-radius: 100%;
  color: #fff;
  background-color: $brand-primary;
  overflow: hidden;
  span {
    display: block;
    padding: 5px 0;
  }
  .weight-count {
    margin-top: -15px;
    font-size: 24px;
  }
}
.letter-space {
  letter-spacing: 1px;
}

/* Start writing sass here */

///////////////
//Home/////////
//////////////
.home-slider {
  .slider-info {
    h2 {
      font-size: 39px;
    }
    button {
      margin-top: 20px;
    }
  }
  .flexslider {
    border: none;
    .flex-control-nav {
      display: none;
    }
    .flex-direction-nav a {
      width: 35px;
      height: 70px;
      padding: 6px 10px;
      border-radius: 4px;
      background-color: #fff;
      color: #fff;
      text-align: center;
      &:before {
        color: #f4b2a0;
      }
    }
    .flex-prev {
      left: 0;
      opacity: 1;
      &:before {
        content: "\f104";
        display: block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 55px;
        margin-left: -5px;
      }
    }
    .flex-next {
      right: 0;
      opacity: 1;
      &:before {
        content: "\f105";
        display: block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 55px;
        margin-right: -5px;
      }
    }
    &:hover {
      .flex-prev {
        left: 0;
        opacity: 1;
      }
      .flex-next {
        right: 0;
        opacity: 1;
      }
    }
  }
}
.health-design {
  padding: 25px 60px;
  h4 {
    margin: 0;
    font-size: 35px;
    font-weight: 300;
    @extend.letter-space;
    word-spacing: 3px;
  }
  .img-holder {
    position: absolute;
    top: -30px;
    left: 65%;
    @include transform(translateX(-65%));
    border: 6px solid #fff;
    @include square(150px);
    overflow: hidden;
    background: url('../img/suman.jpg') no-repeat -125px -12px;
  }
  .more-abt-suman {
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 3px;
    a {
      margin-top: 6px;
    }
  }
}
.health-cat {
  margin: 100px 60px;
  .health-info {
    padding: 0 25px;
    .title {
      @extend.letter-space;
    }
    .health-descp {
      width: 270px;
      margin: 20px 0;
    }
    button {
      position: relative;
      top: 20px;
    }
    .health-imgholder {
      width: 270px;
      height: 150px;
      img {
        max-width: 100%;
        max-height: 100%;
        @extend.m-center;
      }
    }
  }
}
.people-info {
  padding: 30px 0;
  h3,
  h5 {
    margin: 0;
  }
  .health-title {
    text-align: left;
    span {
      font-size: 25px;
    }
  }
  .health-count {
    font-size: 45px;
    span {
      font-size: 14px;
      color: $brand-brown-dark;
      text-transform: uppercase;
    }
  }
  .v-top {
    vertical-align: top;
  }
}
.health-diet {
  padding: 80px 0;
}
.diet-info {
  padding: 0 40px;
  .diet-holder {
    width: 380px;
    height: 210px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .descp {
    min-height: 100px;
    width: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
  }
}
.section-story {
  padding: 60px 0;
  .slider {
    padding: 40px 120px;
    .carousel-control {
      left: -50px;
    }
    .right carousel-control {
      right: -50px;
    }
  }
  .view-detail {
    padding-top: 15px;
    .name {
      width: 70%;
      margin: 0;
      border-bottom: 1px solid $brand-brown-dark;
      font-size: 22px;
    }
    .descp {
      width: 50%;
      margin: 75px 0;
      font-size: 17px;
    }
    .weight-info {
      position: absolute;
      top: 11px;
      left: 65%;
      z-index: 10;
    }
  }
}
.blog-section {
  padding: 70px 0;
  .heading {
    h4 {
      font-size: 40px;
      @extend.letter-space;
    }
  }
  .blog-info {
    margin: 15px 0;
  }
  .blog-imgholder {
    @include square(100px);
    border-radius: 4px;
    img {
      max-width: 100%;
      max-height: 100%;
      @extend.m-center;
    }
  }
  .blog-imginfo {
    min-height: 100px;
    padding: 30px;
    border-bottom: 2px solid $brand-brown;
    p {
      width: 70%;
      font-size: 20px;
      @extend.text-bold;
    }
  }
}
.blog-main {
  padding: 25px;
}
.askqts {
  form {
    select {
      background-color: $brand-primary;
      color: #fff;
    }
    textarea {
      min-height: 224px;
    }
  }
}
.section-about {
  padding: 60px 0;
  .about-info {
    h3 {
      margin: 0 0 25px;
      font-size: 30px;
    }
    h5 {
      font-size: 20px;
    }
    p {
      font-size: 17px;
      margin: 20px 0;
      line-height: 28px;
    }
  }
}
///end home///
///////////////
//Footer///////
///////////////
footer {
  padding: 40px 0;
  @extend.text-bold;
  h5,
  p {
    margin: 0;
  }
  .menu {
    li {
      margin-bottom: 3px;
      a {
        @extend.brand-primary-lighter;
      }
    }
  }
  .menu2 {
    h5 {
      @extend.letter-space;
    }
    ul {
      a {
        @extend.brand-brown-dark;
        @extend.letter-space;
        word-spacing: 2px;
        &:before {
          content: "-";
          margin-right: 5px;
          font-size: 15px;
        }
      }
    }
  }
  .foot-about {
    margin-top: 62px;
  }
  .foot-healthkit {
    margin-top: 20px;
  }
  .note {
    margin-bottom: 20px;
    @extend.letter-space;
    word-spacing: 2px;
  }
  .mail {
    .email {
      width: 320px;
      border-color: #c24f31;
      background-color: #c24f31;
    }
    .btn-submit {
      border-color: $brand-brown-dark2;
      border-radius: 0;
      margin-left: -4px;
      background-color: $brand-brown-dark2;
    }
  }
  .foot-sociallinks {
    padding: 25px 5px 0;
  }
  .copyright {
    margin-top: 25px;
    @extend.letter-space;
  }
}
.health-foot {
  .health-back {
    min-height: 200px;
  }
  .package {
    background: url('../img/foot-healthpack.jpg') no-repeat;
    background-size: 100% 100%;
  }
  .shop {
    background: url('../img/health-shop.jpg') no-repeat;
    background-size: 100% 100%;
  }
  .foot-btn {
    border-radius: 5px;
    padding: 12px 28px;
    font-weight: 900;
    letter-spacing: 2px;
  }
}
//////end footer/////
@import "harsh";
