@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@font-face {
  font-family: 'Baubodi';
  src: url(../fonts/baubodi.ttf);
}
@font-face {
  font-family: 'Vista Slab';
  src: url(../fonts/vista_slab.otf);
}
@font-face {
  font-family: 'Whitney Book';
  src: url(../fonts/whitney_book.otf);
}
@font-face {
  font-family: 'Whitney Light';
  src: url(../fonts/whitney_light.otf);
}
@font-face {
  font-family: 'Whitney Medium';
  src: url(../fonts/whitney_medium.otf);
}
@font-face {
  font-family: 'Whitney Semibold';
  src: url(../fonts/whitney_semibold.otf);
}
@font-face {
  font-family: 'Gotham Rounded Book';
  src: url(../fonts/gotham-rounded.otf);
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot'), url(../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff) format('woff'), url(../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf) format('truetype'), url(../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg) format('svg');
}
/* Bootstrap Variables Goes Here */
//$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-primary: #e96542 !default; //Orange
$brand-primary-light: #f4b2a1 !default; //LightOrange
$brand-primary-lighter: #ffd8ce !default; //ligherOrange
$brand-brown: #c2a388 !default; //Brown
$brand-brown-light: #e6d9ce !default; //BrownLight
$brand-brown-dark: #3b1808 !default; //BrownDark
$brand-brown-dark2: #2d1205 !default; //BrownDark2
$brand-brown-gray: #998675 !default; //BrownGray
$brand-yellow: #f2921d !default; //Yellow
$brand-blue: #5184c5 !default; //Blue
$brand-teal: #16a085 !default; //Teal
$brand-graylight: #d5cdc6 !default; //lightgray
$font-color: #242424 !default;
$body-bg: #fff !default;
$text-color: $font-color !default;
$section-bg: #d3d3d3 !default;
$link-color: $font-color !default;
$link-hover-color: $font-color !default;
$link-hover-decoration: none !default;
$font-family-sans-serif: "Whitney Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Whitney Medium", Georgia, "Times New Roman", Times, serif !default;
$font-vista: "Vista Slab", "Helvetiva Neue", Helvetica !default;
$font-baubodi: "Baubodi", "Helvetiva Neue", Helvetica !default;
$font-gotham: "Gotham Rounded Book", "Helvetica Neue", Helvetica !default;
$font-family-light: "Whitney Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-semibold: "Whitney Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-book: "Whitney Book", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$instagram: #396d9a !default;
.white {
  color: $body-bg;
}
.brand-primary {
  color: $brand-primary;
}
.brand-primary-light {
  color: $brand-primary-light;
}
.brand-primary-lighter {
  color: $brand-primary-lighter;
}
.brand-brown {
  color: $brand-brown;
}
.brand-brown-light {
  color: $brand-brown-light;
}
.brand-brown-dark {
  color: $brand-brown-dark;
}
.brand-brown-dark2 {
  color: $brand-brown-dark2;
}
.brand-brown-gray {
  color: $brand-brown-gray;
}
.brand-yellow {
  color: $brand-yellow;
}
.brand-blue {
  color: $brand-blue;
}
.brand-teal {
  color: $brand-teal;
}
.brand-primary-bg {
  background-color: $brand-primary;
}
.brand-primary-light-bg {
  background-color: $brand-primary-light;
}
.brand-brown-bg {
  background-color: $brand-brown;
}
.brand-brown-light-bg {
  background-color: $brand-brown-light;
}
.brand-brown-dark-bg {
  background-color: $brand-brown-dark;
}
.brand-brown-dark2-bg {
  background-color: $brand-brown-dark2;
}
.brand-brown-gray-bg {
  background-color: $brand-brown-gray;
}
.brand-yellow-bg {
  background-color: $brand-yellow;
}
.brand-blue-bg {
  background-color: $brand-blue;
}
.brand-graylight-bg {
  background-color: $brand-graylight;
}
// fonts
.font-primary {
  font-family: $font-family-sans-serif;
}
.font-light {
  font-family: $font-family-light;
}
.font-semibold {
  font-family: $font-family-semibold;
}
.font-book {
  font-family: $font-family-book;
}
.font-vista {
  font-family: $font-vista;
}
.font-baubodi {
  font-family: $font-baubodi;
}
.font-gotham {
  font-family: $font-gotham;
}
//button
.btn {
  @include transition(all 300ms ease);
  &:hover {
    @include transition(all 300ms ease);
  }
}
.btn-yellow {
  @include button-variant(white, $brand-yellow, $brand-yellow);
  &:hover {
    color: #fff !important;
  }
}
.btn-blue {
  @include button-variant(white, $brand-blue, $brand-blue);
  &:hover {
    color: #fff !important;
  }
}
.btn-primary-inverse {
  @include button-variant($brand-primary, white, $brand-primary);
  &:hover {
    background-color: $body-bg !important;
  }
}
.fb-btn {
  @include button-variant(white, $facebook, $facebook);
  &:hover {
    color: $body-bg !important;
  }
}
.google-btn {
  @include button-variant(white,$google,$google);
  &:hover {
    color: $body-bg !important;
  }
}
.foot-btn {
  @include button-variant($brand-primary, white, $brand-primary);
}
.btn-more {
  padding: 12px 34px !important;
}
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #fff;
  font-family: $font-family-sans-serif;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading, img.fancybox-image {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a {
  @include transition(all 300ms ease);
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
input,
select,
textarea {
  &:focus {
    border-color: $brand-primary !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
form .form-control {
  min-height: 40px;
  border-radius: 4px;
  @include box-shadow(none);
}
textarea {
  resize: none;
}
.v-top {
  vertical-align: top;
}
.no-border {
  border: none;
}
// Class
.relate {
  position: relative;
}
.m-center {
  margin: 0 auto;
}
.get-center {
  @include position(absolute, 50% auto auto 50%);
  @include transform(translate(-50%, -50%));
}
.get-up {
  margin-top: -100px;
  padding: 35px 60px;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.text-bold {
  font-weight: 700;
}
.text-light {
  font-weight: 300;
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
}
.btn {
  font-size: 12px;
  padding: 12px 24px;
  @extend.letter-space;
  border-radius: 4px;
}
button {
  &:focus {
    outline: none !important;
  }
}
.get-round {
  @include square(90px);
  border-radius: 100%;
  color: #fff;
  background-color: $brand-primary;
  text-align: center;
  overflow: hidden;
  span {
    display: block;
    padding: 5px 0;
  }
  .weight-count {
    margin-top: -15px;
    font-size: 24px;
  }
}
.round {
  border-radius: 100%;
  overflow: hidden;
}
.letter-space {
  letter-spacing: 2px;
}
.no-radius {
  border-radius: 0;
}
/* Start writing sass here */
///////////////
//Home/////////
//////////////
.home-slider {
  .slider-info {
    h2 {
      font-size: 39px;
    }
    button {
      margin-top: 20px;
    }
  }
  .flexslider {
    border: none;
    .flex-control-nav {
      display: none;
    }
    .flex-direction-nav a {
      width: 35px;
      height: 70px;
      padding: 6px 10px;
      border-radius: 4px;
      background-color: #fff;
      color: #fff;
      text-align: center;
      &:before {
        color: #f4b2a0;
      }
    }
    .flex-prev {
      left: 0;
      opacity: 1;
      &:before {
        content: "\f104";
        display: block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 55px;
        margin-left: -5px;
      }
    }
    .flex-next {
      right: 0;
      opacity: 1;
      &:before {
        content: "\f105";
        display: block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 55px;
        margin-right: -5px;
      }
    }
    &:hover {
      .flex-prev {
        left: 0;
        opacity: 1;
      }
      .flex-next {
        right: 0;
        opacity: 1;
      }
    }
  }
}
.health-design {
  padding: 25px 60px;
  h4 {
    margin: 0;
    font-size: 35px;
    @extend.letter-space;
    word-spacing: 3px;
  }
  .img-holder {
    position: absolute;
    top: -30px;
    left: 65%;
    @include transform(translateX(-65%));
    border: 6px solid #fff;
    @include square(150px);
    overflow: hidden;
    background: url(../img/suman.jpg) no-repeat -125px -12px;
  }
  .more-abt-suman {
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 3px;
    a {
      margin-top: 6px;
    }
  }
}
.health-cat {
  margin: 100px 60px;
  .health-info {
    padding: 0 25px;
    .title {
      @extend.letter-space;
    }
    .health-descp {
      width: 270px;
      margin: 20px 0;
    }
    .know-more {
      position: relative;
      top: 20px;
      font-weight: bold;
    }
    .health-imgholder {
      width: 270px;
      height: 150px;
      img {
        max-width: 100%;
        max-height: 100%;
        @extend.m-center;
      }
    }
  }
}
.people-info {
  padding: 30px 0;
  h3,
  h5 {
    margin: 0;
  }
  .health-title {
    text-align: left;
    span {
      font-size: 25px;
    }
  }
  .health-count {
    font-family: $font-vista;
    font-size: 45px;
    span {
      font-size: 14px;
      color: $brand-brown-dark;
      text-transform: uppercase;
    }
  }
  .people-weight-count {
    padding-right: 30px;
  }
  .info {
    border-right: 2px solid $brand-brown-dark;
  }
  .no-border {
    border: none;
  }
}
.health-diet {
  padding: 80px 0;
}
.diet-info {
  padding: 0 40px;
  h4 {
    @include margin(0 0 20px 0);
    font-size: 24px;
  }
  .diet-holder {
    width: 380px;
    height: 210px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .descp {
    min-height: 100px;
    width: 380px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
  }
}
.section-story {
  padding: 60px 0;
  .slider {
    padding: 40px 120px;
    .carousel-control.left {
      top: -50px;
      left: -50px;
      opacity: 1;
      &:hover {
        color: $brand-brown;
      }
    }
    .carousel-control.right {
      top: -50px;
      right: -50px;
      opacity: 1;
      &:hover {
        color: $brand-brown;
      }
    }
    .glyphicon-chevron-right:before {
      content: "\f105";
      display: block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 70px;
    }
    .glyphicon-chevron-left:before {
      content: "\f104";
      display: block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 70px;
    }
  }
  .view-detail {
    padding-top: 15px;
    .name {
      width: 70%;
      margin: 0;
      border-bottom: 1px solid $brand-brown-dark;
      font-size: 22px;
    }
    .descp {
      width: 50%;
      margin: 75px 0;
      font-size: 17px;
      position: relative;
      &:after {
        content: url(../img/right.png);
        position: absolute;
        top: 80px;
        right: 0;
      }
      &:before {
        content: url(../img/left.png);
        position: absolute;
        top: -50px;
        left: 0;
      }
      p {
        line-height: 20px;
      }
    }
    .weight-info {
      position: absolute;
      top: 11px;
      left: 65%;
      z-index: 10;
    }
  }
}
.blog-section {
  padding: 70px 0;
  .heading {
    h4 {
      font-size: 40px;
      @extend.letter-space;
      span {
        font-family: $font-family-book;
      }
    }
  }
  .blog-info {
    margin: 15px 0;
    .last-blog-info {
      border: none;
    }
  }
  .blog-imgholder {
    @include square(100px);
    border-radius: 4px;
    img {
      max-width: 100%;
      max-height: 100%;
      @extend.m-center;
    }
  }
  .blog-imginfo {
    min-height: 100px;
    padding: 30px;
    border-bottom: 2px solid $brand-brown;
    p {
      width: 82%;
      font-size: 22px;
      @extend.text-lighter;
    }
  }
}
.blog-main {
  padding: 25px;
  min-height: 576px;
}
.askqts {
  form {
    select {
      background-color: $brand-primary;
      color: #fff;
      @include appearance(none);
    }
    span {
      position: absolute;
      top: 50%;
      right: 4%;
    }
    textarea {
      min-height: 225px;
    }
  }
}
.section-about {
  padding: 60px 0;
  .about-info {
    h3 {
      margin: 0 0 25px;
      font-size: 30px;
    }
    h5 {
      font-size: 20px;
    }
    p {
      font-size: 17px;
      margin: 20px 0;
      line-height: 28px;
    }
  }
}
///end home///
/////////////////////
////Health-Management
////////////////////
.health-descp {
  font-size: 16px;
}
.healthchart-list {
  margin: 60px 0;
}
.align {
  @include margin(-12px 4px 0 0);
}
.tick {
  @include square(34px);
  margin: 0 10px 0 0;
  @extend.v-top;
}
.health-manageselect {
  margin: 80px 0;
  .managecat {
    margin: 30px 0;
    .category-imghold {
      @include square(180px);
      @extend.m-center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    figcaption {
      margin: 20px 0;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }
}
.health-heading {
  margin: 0 0 25px;
}
.consult-chart {
  width: 110px;
  height: 67px;
  border-radius: 6px;
  background-color: $brand-primary;
  font-size: 16px;
  .noconsult {
    width: 45px;
    height: 45px;
    border: 4px solid $brand-primary;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    background-color: #fff;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    @include transform(translateX(-50%));
  }
  .consult {
    margin-top: 40px;
    display: block;
    @extend.text-bold;
  }
}
.tab-chart {
  width: 84%;
  border: 2px solid $brand-brown;
  border-radius: 6px;
  display: inline-block;
  .chart-head {
    text-align: center;
    p {
      margin: 0;
      font-size: 17px;
    }
    .price {
      font-size: 21px;
      span {
        font-size: 11px;
        vertical-align: middle;
        text-transform: uppercase;
      }
    }
  }
  .chart-info {
    padding: 30px;
  }
  .nav-tabs li:last-child a {
    &:before {
      content: "";
      display: none;
    }
  }
  .nav-tabs li:first-child a {
    background-color: #fff;
    padding: 4px 26px;
    .chart-head {
      p {
        color: $brand-primary;
      }
      .price {
        color: $brand-brown-dark;
      }
    }
    &:hover {
      background-color: #fff !important;
      .chart-head {
        p {
          color: $brand-primary;
        }
        .price {
          color: $brand-brown-dark;
        }
      }
    }
    &:after {
      content: "";
      display: none;
    }
    &:before {
      content: '';
      display: none;
    }
  }
  .nav-tabs li.active:first-child a {
    background-color: #fff;
  }
  .nav-tabs {
    background-color: $brand-brown;
    border: none;
    li {
      margin: 0 4px -2px 0;
      a {
        border-radius: 6px;
        border: none;
        padding: 6px 26px;
        @include transition(all 0ms ease);
        &:hover {
          background-color: $brand-primary;
          color: #fff;
          &:after {
            content: "";
            border-top: 40px solid transparent;
            border-bottom: 40px solid $brand-primary;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-radius: 100%;
            position: absolute;
            bottom: -9px;
            left: 50%;
            z-index: -1;
            @include transform(translateX(-50%));
            .chart-head {
              p {
                color: #fff;
              }
            }
          }
        }
        &:before {
          content: "";
          height: 45px;
          width: 2px;
          position: absolute;
          right: -4px;
          top: 50%;
          @include transform(translateY(-50%));
          background: #fff;
        }
      }
    }
    li.active {
      a {
        border: none;
        background-color: $brand-primary;
        color: #fff;
        &:after {
          content: "";
          border-top: 40px solid transparent;
          border-bottom: 40px solid $brand-primary;
          border-left: 40px solid transparent;
          border-right: 40px solid transparent;
          border-radius: 100%;
          position: absolute;
          bottom: -9px;
          left: 50%;
          z-index: -1;
          @include transform(translateX(-50%));
          .chart-head {
            p {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.tab-head {
  margin-bottom: 35px;
}
.tab-body {
  h5 {
    margin-bottom: 20px;
    font-size: 20px;
    color: $brand-brown-dark;
  }
  .chart-list {
    li {
      margin-bottom: 7px;
      color: $brand-primary;
    }
  }
}
.tab-foot {
  margin: 20px 0 0;
  .tab-footinfo {
    display: inline-block;
    width: 67%;
    p {
      width: 320px;
    }
  }
  .plan {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    .note {
      font-style: italic;
      display: block;
    }
    button {
      font-size: 14px;
    }
  }
}
.slider-round {
  margin-bottom: 50px;
  .carousel-control.left {
    top: -50px;
    left: 40px;
    opacity: 1;
    &:hover {
      color: $brand-brown;
    }
  }
  .carousel-control.right {
    top: -50px;
    right: 40px;
    opacity: 1;
    &:hover {
      color: $brand-brown;
    }
  }
  .glyphicon-chevron-right:before {
    content: "\f105";
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 70px;
  }
  .glyphicon-chevron-left:before {
    content: "\f104";
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 70px;
  }
  .healthmanagement-slider {
    .slide-imghold {
      @include square(180px);
    }
    figcaption {
      margin: 20px 0 0;
    }
  }
}
//end Health-management////
/////meet////
.suman-video {
  width: 70%;
  height: 300px;
  @extend.m-center;
  position: relative;
  top: 50px;
}
.speech {
  margin: 60px 0;
}
.about-suman {
  .heading {
    width: 50%;
    margin: 40px auto 80px;
    h4 {
      font-size: 36px;
    }
  }
}
.suman-info {
  padding: 0 30px;
  .title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .descp {
    font-size: 16px;
    line-height: 20px;
  }
}
.pro-info {
  margin-bottom: 100px;
}
////end meet///
//////faq/////
.faq {
  .banner {
    h2 {
      font-size: 38px;
    }
  }
}
.faq-accordion {
  padding: 60px;
  .panel-default {
    border-color: $brand-brown;
    border-radius: 8px;
    margin: 20px 0;
    .panel-body {
      border: none !important;
      padding: 20px;
    }
    .panel-heading {
      border-color: $brand-brown;
      border-radius: 6px;
      padding: 0;
      background-color: $brand-brown;
      .panel-title a {
        padding: 20px;
        position: relative;
        display: block;
        color: $brand-brown-dark;
        font-size: 18px;
        @extend .text-bold;
      }
    }
  }
  .open-me {
    position: absolute;
    top: 50%;
    right: 20px;
    @include transform(translateY(-50%));
  }
}
///end faq////
///cart//////
.cart-main {
  @include padding(60px 0);
  h3 {
    @include margin(0 0 20px 0);
  }
}
.cart-table {
  .more,
  .less {
    @include padding(3px 4px);
  }
  .less {
    margin-left: -3px;
  }
  .cart-imgholder {
    @include square(200px);
    overflow: hidden;
  }
  figcaption {
    @include margin(10px 0);
  }
  .quantity {
    width: 50px;
    padding-left: 15px;
    border: 2px solid $brand-primary;
    background-color: transparent;
  }
  .table > thead > tr > th {
    padding: 20px;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .table > tbody > tr > td {
    @include padding(15px 8px);
    font-size: 16px;
    vertical-align: middle;
    &:last-child {
      vertical-align: bottom;
    }
  }
  .remove {
    margin-top: 80px;
    button {
      @include padding(8px 16px);
    }
  }
  .cart-grand-total {
    @include padding(20px 30px);
    font-size: 22px;
  }
  .shipping {
    @include margin(20px 0);
    p {
      @include margin(0);
    }
    .continue {
      @include margin(0 20px 0 0);
    }
  }
}
//end cart///
////Login//////
.login-tab {
  height: 400px;
  form {
    margin: 30px 0 0;
    input {
      border-color: $brand-primary;
      font-style: italic;
    }
  }
  .login-form {
    padding: 20px;
  }
  .nav-tabs {
    @include display(flex);
    border: none;
    li {
      @include flex(1);
      text-align: center;
      text-transform: uppercase;
      a {
        border: none;
        margin: -8px 0 0;
        color: $brand-primary;
        font-size: 20px;
        &:hover {
          background-color: $brand-primary;
          color: #fff;
        }
      }
    }
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border: none;
    border-radius: 4px;
    background-color: $brand-primary;
    color: #fff;
  }
  .submit {
    margin: 10px 0;
  }
}
.btn-round {
  @include margin(0 10px 0 0);
  button {
    @include padding(0);
    @include square(40px);
    i {
      font-size: 18px;
    }
  }
}
////end login//
///checkout/////
.checkout-tab {
  margin: 70px 0;
  .greater {
    position: absolute;
    right: 0;
  }
  .nav-tabs {
    border: none;
    @include display(flex);
    li {
      margin: 0;
      @include flex(1);
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      a {
        border: none;
        color: $brand-primary;
        @extend.letter-space;
        &:hover,
        &:focus {
          border: none;
          background-color: transparent;
        }
      }
    }
    li.active {
      margin: 0;
      a {
        color: $brand-brown-dark;
        &:focus,
        &:hover {
          border: none;
        }
      }
    }
  }
  .order-summary {
    border-top: 1px solid $brand-brown-dark;
    border-bottom: 1px solid $brand-brown-dark;
    margin: 10px 0 30px;
    .table {
      margin: 0;
      thead > tr > th {
        border: none;
        color: $brand-primary;
        font-size: 18px;
        font-weight: 300;
        @extend.letter-space;
        text-align: center;
      }
    }
  }
}
.checkout-main {
  input {
    border-color: $brand-primary;
    font-style: italic;
  }
  .cart-table {
    .quantity {
      font-style: normal;
    }
    .table {
      thead > tr > th {
        padding: 10px;
        border-bottom: 1px solid $brand-primary;
        font-size: 16px;
        @extend.letter-space;
      }
      tbody > tr > td:last-child {
        vertical-align: middle;
      }
    }
  }
  .coupon {
    padding: 10px;
    border-top: 1px solid $brand-primary;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .price-ship {
    margin-right: 70px;
  }
  .coupon-ship {
    margin: 0 0 20px;
  }
  .apply {
    padding: 6px 12px;
    border-radius: 0;
    margin: 0 0 0 5px;
  }
}
///end checkout//
///////////////
//Footer///////
///////////////
footer {
  padding: 40px 0;
  h5,
  p {
    margin: 0;
  }
  .menu {
    li {
      margin-bottom: 3px;
      a {
        @extend.brand-primary-lighter;
      }
    }
  }
  .menu2 {
    ul {
      a {
        @extend.brand-brown-dark;
        @extend.letter-space;
        font-size: 13px;
        word-spacing: 2px;
        &:before {
          content: "-";
          margin-right: 5px;
          font-size: 15px;
        }
      }
    }
  }
  .foot-about {
    margin-top: 62px;
  }
  .foot-healthkit {
    margin-top: 20px;
  }
  .note {
    margin-bottom: 20px;
    word-spacing: 1px;
  }
  .mail {
    .email {
      width: 300px;
      border-color: #c24f31;
      background-color: #c24f31;
      color: $body-bg;
      @extend .letter-space;
      &:focus {
        border-width: 1px;
      }
      @include placeholder {
        color: $body-bg;
      };
    }
    .btn-submit {
      width: 50px;
      border-color: $brand-brown-dark2;
      border-radius: 0;
      margin-left: -4px;
      background-color: $brand-brown-dark2;
      &:focus {
        box-shadow: none;
        border-width: 1px;
      }
    }
  }
  .foot-sociallinks {
    padding: 25px 5px 0;
  }
  .copyright {
    margin-top: 25px;
  }
}
.health-foot {
  .health-back {
    min-height: 150px;
  }
  .package {
    background: url(../img/foot-healthpack.jpg) no-repeat;
    background-size: 100% 100%;
  }
  .shop {
    background: url(../img/health-shop.jpg) no-repeat;
    background-size: 100% 100%;
  }
  .foot-btn {
    min-width: 250px;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
  }
}
.radio {
  label {
    padding-left: 0;
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    font-size: 13px;
  }
  input[type="radio"] + label span {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid $brand-primary;
    margin: 0 4px 0 0;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
  }
  input[type="radio"] + label span {
    background-color: transparent;
  }
  input[type="radio"]:checked + label span {
    background-color: $brand-primary;
  }
  input[type="radio"] + label span,
  input[type="radio"]:checked + label span {
    @include transition(background-color 0.4s linear);
  }
}
.checkbox {
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    font-size: 13px;
    padding-left: 10px;
  }
  input[type="checkbox"] + label span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: -2px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid $brand-primary;
  }
  input[type="checkbox"] + label span {
    background-color: transparent;
  }
  input[type="checkbox"]:checked + label span {
    background-color: $brand-primary;
  }
  input[type="checkbox"] + label span,
  input[type="checkbox"]:checked + label span {
    @include transition(background-color 0.4s linear);
  }
}
// product-page filters
.filters {
  input[type="checkbox"] +label {
    padding: 0;
    font-size: 14px;
  }
  input[type="checkbox"] +label span {
    border: 1px solid $brand-brown-dark;
  }
  input[type="checkbox"]:checked + label span {
    background-color: $brand-brown-dark;
  }
}

/// end of filters///
//////end footer/////
@import "harsh";
@import "mobile";
@import "mobile_harsh";
