<section>
  <div class="selfcare-image">
    <img src="" alt="">
    <h2 class="text-uppercase">About Selfcare</h2>
  </div>

  <div class="container">
    <div class="health-design">
      <h3 class="text-uppercase">What is health design</h3>
      <p>Only the fit know how fabulous it feels.</p>
      <p></p>
    </div>
  </div>

  <div class="about-health">
    <div class="container">
      <h2>Health is, after all, about a state of absolute harmony-- of thebody, mind and spirit.</h2>
      <div class="about-health-content">
        <div class="row">
          <div class="col-md-5">
            <div class="embed-youtube">
              <!-- Youtube video -->
            </div>
          </div>
          <div class="col-md-7">
            <!-- Flex Slider -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="what-we-do">
    <div class="container">
      <h2 class="text-uppercase">This is what we are also doing:</h2>
      <p>As the industry experts in diet, health and food management, this is what we have already consulted on:</p>
      <div class="row">

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="" alt="">
              <h3 class="text-uppercase">Cool Sculpting</h3>
            </div>
            <p></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="" alt="">
              <h3 class="text-uppercase">Health Checks &amp; Presentations</h3>
            </div>
            <p></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="" alt="">
              <h3 class="text-uppercase">Health Foods</h3>
            </div>
            <p></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="" alt="">
              <h3 class="text-uppercase">Corporate Care Programmes</h3>
            </div>
            <p></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="" alt="">
              <h3 class="text-uppercase">Nutrigenomics</h3>
            </div>
            <p></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="" alt="">
              <h3 class="text-uppercase">School Meals</h3>
            </div>
            <p></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="" alt="">
              <h3 class="text-uppercase">Image Consulting</h3>
            </div>
            <p></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="" alt="">
              <h3 class="text-uppercase">Training Programme</h3>
            </div>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
