<section>
  <div class="selfcare-image">
    <img src="img/banners/aboutus.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">About Selfcare</h2>
  </div>

  <div class="container">
    <div class="about-desc get-up brand-brown-bg white health-descp relate">
      <h3 class="text-uppercase font-semibold">What is health design</h3>
      <p class="health-style font-baubodi">Only the fit know how fabulous it feels.</p>
      <p class="health-descp">At Selfcare a team of experts create designer diets to balance out a body-system that rights itself to suit your needs - be it weight loss, the need to circumvent aging, evade arthritis, diabetes or hypertension. Under the expert and experienced guidance
        of nutritionist Suman Agarwal , a qualified clinical nutritionist as well as a fitness expert, each nutrition plan is orchestrated to fit individualized needs without compromising on lifestyle. At Selfcare health overrides weight loss.</p>
    </div>
  </div>

  <div class="about-health brand-brown-bg">
    <div class="container">
      <h2 class="brand-brown-dark text-center font-baubodi">Health is, after all, about a state of absolute harmony - of the body, mind and spirit.</h2>
      <div class="about-health-content brand-brown-light-bg">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="embed-youtube">
              <!-- Youtube video -->
              <!-- <iframe width="100%" height="300" src="https://www.youtube.com/embed/nSQJuONAvaw" frameborder="0" allowfullscreen></iframe> -->
              <div class="story-video">
                <a class="various fancybox.iframe" fancybox href="https://www.youtube.com/embed/nSQJuONAvaw?autoplay=1">
                  <img src="http://img.youtube.com/vi/nSQJuONAvaw/sddefault.jpg" alt="" class="img-responsive" />
                  <div class="circle">
                    <img src="img/play.png" alt="" class="img-responsive" />
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12">
            <!-- Boostrap slider -->
            <carousel interval="sliderInterval" no-wrap="noWrapSlides">
              <slide ng-repeat="slide in aboutSlides" active="slide.active">
                <div class="inner-about-carousel">
                  <h3 class="text-uppercase text-center font-semibold">{{slide.title}}</h3>
                  <span class="text-center font-semibold">{{slide.text}}</span>
                  <hr>
                  <p class="text-left brand-primary">{{slide.desc}}</p>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="what-we-do">
    <div class="container">
      <h2 class="text-uppercase text-center brand-brown-dark font-semibold doing">This is what we are also doing:</h2>
      <!-- <p class="text-center">As the industry experts in diet, health and food management, this is what we have already consulted on:</p> -->
      <div class="row">

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="img/about/sculpting.png" alt="" class="img-responsive">
              <h3 class="text-uppercase brand-primary font-semibold">Cool<span>Sculpting</span></h3>
            </div>
            <p>CoolSculpting is a leading fat loss technology that has set new standards for non-invasive fat reduction.</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="img/about/checks.png" alt="" class="img-responsive">
              <h3 class="text-uppercase brand-primary font-semibold">Health Checks<span>&amp; Presentations</span></h3>
            </div>
            <p>We give corporates/clubs presentations on leading a healthy way of life. This includes diet, exercise management and weight - loss tips.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="img/about/foods.png" alt="" class="img-responsive">
              <h3 class="text-uppercase brand-primary font-semibold">Health<span>Foods</span></h3>
            </div>
            <p>We are constantly creating, trying and testing new food products and adding them to our in - house health shop.</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="img/about/workers.png" alt="" class="img-responsive">
              <h3 class="text-uppercase brand-primary font-semibold">Corporate<span>Care Programmes</span></h3>
            </div>
            <p>We have corporate packages to motivate employees to lead a healthy way of life. Our packages include diet, exercise management and weight - loss tips.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title about-nutri">
              <img src="img/about/dna.png" alt="" class="img-responsive">
              <h3 class="text-uppercase brand-primary font-semibold">Nutrigenomics</h3>
            </div>
            <p>Synchronising our unique DNA blueprint with our diet and lifestyle, known as nutrigenomics, is the key to the exciting new realm of personalised wellness medicine.</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="img/about/plate.png" alt="" class="img-responsive">
              <h3 class="text-uppercase brand-primary font-semibold">School<span>Meals</span></h3>
            </div>
            <p>We are consultants for a few exclusive schools where we outline and create wholesome, fun meals for the school canteen menu. We provide health checks for stressed out teenagers; specially designed and fine-tuned for VIII, IX and X class kids.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="img/about/consulting.png" alt="" class="img-responsive">
              <h3 class="text-uppercase brand-primary font-semibold">Image<span>Consulting</span></h3>
            </div>
            <p>A Reflection of our personality, our visual appearance creates the first &amp; lasting impression on the opposite person’s mind.</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="we-do-topics">
            <div class="we-do-title">
              <img src="img/about/training.png" alt="" class="img-responsive">
              <h3 class="text-uppercase brand-primary font-semibold">Training<span>Programme</span></h3>
            </div>
            <p>We recently launched a six week training programme for nutritionists.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>

</section>
