<section class="account">
  <div class="selfcare-image">
    <img src="img/banners/account.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">my account</h2>
  </div>
  <div class="profile-title">
    <div class="" ng-include="template.profile"></div>
  </div>
  <div class="account-main">
    <div class="container">
      <div class="alert-postion">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
      </div>
      <div class="account-tab">
        <div class="profile-tab">
          <div class="address">
            <div class="row">
              <div class="col-md-4">
                <div class="account-name">
                  <form ng-submit="editProfile(1)">
                    <button class="pull-right edit" type="submit">{{profile.nameemailedit}}</button>
                    <p>Name:{{user}}
                      <span>{{user.name}}</span>
                    </p>
                    <p>Email:
                      <span>{{user.email}}</span>
                    </p>
                    <p>Phone:
                      <span>{{user.phone}}</span>
                    </p>
                    <div ng-show="profile.nameemailedit=='save'">
                      <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" ng-model="updateuser.user.name" type="text">
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" ng-model="updateuser.user.email" type="email">
                      </div>
                      <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" ng-model="updateuser.user.phone" type="tel">
                      </div>
                    </div>
                  </form>

                  <form ng-submit="">
                    <button class="pull-right edit" ng-click="editProfile(2)" type="submit">{{profile.changepasswordedit}}</button>
                    <h5 class="brand-primary">CHANGE PASSWORD</h5>
                    <div ng-if="profile.changepasswordedit=='save'">
                      <div class="form-group">
                        <label>Old Password</label>
                        <input class="form-control" ng-model="password.oldpassword" required type="password">
                      </div>
                      <div class="form-group">
                        <label>New Password</label>
                        <input class="form-control" ng-model="password.newpassword" required type="password">
                      </div>
                      <div class="form-group">
                        <label>Re-enter Password</label>
                        <input class="form-control" ng-model="password.confirmpassword" required type="password">
                      </div>
                    </div>
                  </form>

                </div>
              </div>

              <div class="col-md-offset-1 col-md-6">
                <div class="account-name">
                  <form ng-submit="">
                    <button class="pull-right edit" ng-click="editProfile(3)" type="submit">{{profile.billingaddressedit}}</button>
                    <h5 class="brand-primary">BILLING ADDRESS</h5>
                    <p>{{user.billingline1}}
                      <br>{{user.billingline2}}
                      <br>{{user.billingline3}}
                      <br>{{user.billingcity}} {{user.billingpincode}}
                      <br>{{user.billingstate}} {{user.billingcountry}}
                    </p>
                    <div ng-if="profile.billingaddressedit=='save'">
                      <div class="form-group">
                        <label>Line1*</label>
                        <input class="form-control" ng-model="updateuser.user.billingline1" ng-change="assign(sameasbilling,updateuser.user.billingline1,updateuser.user.billingline2,updateuser.user.billingline3,updateuser.user.billingcity,updateuser.user.billingpincode,updateuser.user.billingstate,updateuser.user.billingcountry)"
                          type="text">
                      </div>
                      <div class="form-group">
                        <label>Line2</label>
                        <input class="form-control" ng-model="updateuser.user.billingline2" ng-change="assign(sameasbilling,updateuser.user.billingline1,updateuser.user.billingline2,updateuser.user.billingline3,updateuser.user.billingcity,updateuser.user.billingpincode,updateuser.user.billingstate,updateuser.user.billingcountry)"
                          type="text">
                      </div>
                      <div class="form-group">
                        <label>Line3</label>
                        <input class="form-control" ng-model="updateuser.user.billingline3" ng-change="assign(sameasbilling,updateuser.user.billingline1,updateuser.user.billingline2,updateuser.user.billingline3,updateuser.user.billingcity,updateuser.user.billingpincode,updateuser.user.billingstate,updateuser.user.billingcountry)"
                          type="text">
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>City*</label>
                            <input class="form-control" ng-model="updateuser.user.billingcity" ng-change="assign(sameasbilling,updateuser.user.billingline1,updateuser.user.billingline2,updateuser.user.billingline3,updateuser.user.billingcity,updateuser.user.billingpincode,updateuser.user.billingstate,updateuser.user.billingcountry)"
                              type="text">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Pincode*</label>
                            <input class="form-control" ng-model="updateuser.user.billingpincode" ng-change="assign(sameasbilling,updateuser.user.billingline1,updateuser.user.billingline2,updateuser.user.billingline3,updateuser.user.billingcity,updateuser.user.billingpincode,updateuser.user.billingstate,updateuser.user.billingcountry)"
                              type="text">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>State*</label>
                            <input class="form-control" ng-model="updateuser.user.billingstate" ng-change="assign(sameasbilling,updateuser.user.billingline1,updateuser.user.billingline2,updateuser.user.billingline3,updateuser.user.billingcity,updateuser.user.billingpincode,updateuser.user.billingstate,updateuser.user.billingcountry)"
                              type="text">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Country*</label>
                            <div class="custom-select">
                              <select class="form-control" ng-model="updateuser.user.billingcountry" ng-change="assign(sameasbilling,updateuser.user.billingline1,updateuser.user.billingline2,updateuser.user.billingline3,updateuser.user.billingcity,updateuser.user.billingpincode,updateuser.user.billingstate,updateuser.user.billingcountry)">
                                <option value="{{country.value}}" ng-repeat="country in countries">{{country.value}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="account-name">
                  <form ng-submit="">
                    <button class="pull-right edit" ng-click="editProfile(4)" type="submit">{{profile.shippingaddressedit}}</button>
                    <h5 class="brand-primary">SHIPPING ADDRESS</h5>
                    <p>{{user.shippingline1}}
                      <br>{{user.shippingline2}}
                      <br>{{user.shippingline3}}
                      <br>{{user.shippingcity}} {{user.shippingpincode}}
                      <br>{{user.shippingstate}} {{user.shippingcountry}}
                    </p>
                    <div ng-if="profile.shippingaddressedit=='save'">
                      <div class="form-group checkbox">
                        <input type="checkbox" class="iagree" id="same" ng-model="sameasbilling" ng-change="sameAsBilling(sameasbilling)">
                        <label for="same" class="same-bill"><span></span>Same as billing address</label>
                      </div>
                      <div class="form-group">
                        <label>Line1*</label>
                        <input class="form-control" ng-model="updateuser.user.shippingline1" type="text">
                      </div>
                      <div class="form-group">
                        <label>Line2</label>
                        <input class="form-control" ng-model="updateuser.user.shippingline2" type="text">
                      </div>
                      <div class="form-group">
                        <label>Line3</label>
                        <input class="form-control" ng-model="updateuser.user.shippingline3" type="text">
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>City*</label>
                            <input class="form-control" ng-model="updateuser.user.shippingcity" type="text">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Pincode*</label>
                            <input class="form-control" ng-model="updateuser.user.shippingpincode" type="text">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>State*</label>
                            <input class="form-control" ng-model="updateuser.user.shippingstate" type="text">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Country*</label>
                            <div class="custom-select">
                              <select class="form-control" ng-model="updateuser.user.shippingcountry">
                                <option value="{{country.value}}" ng-repeat="country in countries">{{country.value}}</option>
                              </select>
                              <span class="only-border"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
