<section>
  <div class="selfcare-image">
    <img src="img/banners/blog.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Blog</h2>
  </div>
  <div class="blog-main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-section">
            <div class="row">
              <div class="col-md-6" ng-repeat="blog in blogpage">
                <div class="blog-part">
                  <div class="blog-imghold">
                    <img ng-src="{{blog.img}}" alt="" class="img-responsive">
                  </div>
                  <div class="blog-detail">
                    <h3 class="brand-brown-dark text-uppercase">{{blog.title}}</h3>
                    <p class="blog-descp">{{blog.descp}}</p>
                    <div class="read-more">
                      <a href="" class="btn btn-primary text-uppercase">read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="get-inblog">
            <form action="">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control">
                  <span type="submit" class="input-group-addon">icon</span>
                </div>
              </div>
            </form>
            <div class="post">
              <h3 class="text-uppercase brand-brown-dark">popular post</h3>
              <div class="blog-post" ng-repeat="post in popularpost">
                <div class="media">
                  <div class="media-left">
                    <div class="media-imghold">
                      <img ng-src="{{post.img}}" alt="" class="img-responsive media-object">
                    </div>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{post.title}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="tags">
              <h3 class="text-uppercase brand-brown-dark">tags</h3>
              <div class="click-tag">
                <a href="" class="btn btn-primary text-uppercase" ng-repeat="tag in tagger">{{tag.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
