<section>
  <div class="selfcare-image">
    <img src="img/banners/blog.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Blog</h2>
  </div>
  <div class="blog-detail blog-page">
    <div class="container">
      <div class="get-inblog hidden-lg hidden-md">
        <form action="">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-addon pointer"><i class="fa fa-search brand-brown-dark"></i></span>
            </div>
          </div>
        </form>
      </div>
      <div class="row">

        <div class="col-md-8 col-sm-12">
          <div class="check-blog">
            <div class="blog-postinfo">
              <div class="bloginfo-imgholder">
                <img ng-src="{{blog.coverimage|serverimage}}" alt="" class="img-responsive">
              </div>
              <div class="bloginfo-descp">
                <h3 class="text-uppercase text-bold heading m-clear">{{blog.title}}</h3>
                <div class="selfcare-bloginfo">
                  <h5 class="text-uppercase">Posted by : <span class="brand-primary">selfcare by {{blog.posted_by}}</span> | {{ blog.date|date:'EEEE, MMMM d, y'}} | <span class="brand-primary">leave a comment</span> | {{blog.views}} view<span ng-if="blog.views != '1'">s</span></h5>
                </div>
                <div class="selfcare-descp text-justify" ng-bind-html="blog.content">

                </div>
                <div class="blog-tags">
                  <a href="" class="btn btn-primary text-uppercase" ui-sref="blogTag({tagname:tags})" ng-repeat="tags in blog.tagsArr">{{tags}}</a>
                </div>
              </div>
            </div>
            <div class="share-story clearfix">
              <div class="share-text">
                <h3 class="text-uppercase brand-primary text-bold">share this story</h3>
              </div>
              <div class="share-social">
                <div class="social-info">
                  <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
                  <span class='st_plusone_vcount' displayText='Google +1'></span>
                  <span class='st_twitter_vcount' displayText='Tweet'></span>
                  <span class='st_fblike_vcount' displayText='Facebook Like'></span>
                </div>
              </div>
            </div>
            <div class="story-pagination clearfix">
              <div class="story-prev">
                <a ui-sref="blogdetail({id:blog.prev.id})" class="brand-primary">Previous Post</a>
                <h4 class="brand-brown-dark text-uppercase m-clear">{{blog.prev.name}}</h4>
              </div>
              <div class="story-next text-right">
                <a  ui-sref="blogdetail({id:blog.next.id})" class="brand-primary">Next Post</a>
                <h4 class="brand-brown-dark text-uppercase m-clear">{{blog.next.name}}</h4>
              </div>
            </div>
            <div class="related-post">
              <h3 class="brand-brown-dark text-uppercase text-bold">related post</h3>
              <div class="row">

                <div class="col-sm-4 col-xs-12" ng-repeat="related in blog.related">
                  <div class="relatepost-holder">
                    <a ui-sref="blogdetail({id:related.id})"><img ng-src="{{related.image|serverimage}}" alt="" class="img-responsive"></a>
                  </div>
                </div>

              </div>
            </div>
            <div class="leave-reply">
              <h3 class="text-uppercase brand-brown-dark text-bold">leave a comment</h3>
              <p class="brand-primary">Your email address will not be published. Required fields are marked *</p>
              <form action="">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="comment.name" placeholder="Name*">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control"  ng-model="comment.email" placeholder="Email*">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="comment.website" placeholder="Website">
                </div>
                <div class="form-group">
                  <textarea class="form-control" ng-model="comment.comment" name="name" rows="" cols="" placeholder="Comment"></textarea>
                </div>
                <button class="btn btn-primary text-uppercase" type="submit">submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="get-inblog hidden-sm hidden-xs">
            <form action="">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="blog.search" placeholder="Search">
                  <span class="input-group-addon pointer" ui-sref="searchBlog({search:blog.search})"  ng-click="searchBlog()"><i class="fa fa-search brand-brown-dark"></i></span>
                </div>
              </div>
            </form>
            <div class="post">
              <h4 class="text-uppercase brand-brown-dark">popular post</h4>
              <div class="blog-post" ng-repeat="post in popularpost">
                <div class="post-imghold inline-block">
                  <a ui-sref="blogdetail({id:post.id})"><img ng-src="{{post.coverimage | serverimage}}" alt="" class="img-responsive media-object"></a>
                </div>
                <div class="post-content inline-block v-top">
                  <a href=""><h5 class="brand-brown-dark">{{post.title}}</h5></a>
                </div>
              </div>
            </div>
            <div class="tags">
              <h4 class="text-uppercase brand-brown-dark">tags</h4>
              <p ng-if="tagmsg!=''">
                {{tagmsg}}
              </p>
              <div class="click-tag">
                <a class="btn btn-primary text-uppercase" ng-repeat="tag in tagger" ui-sref="blogTag({tagname:tag.name})"  >{{tag.name}}</a>
                <a class="btn btn-primary text-uppercase" ui-sref="blog" >All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
