<section>
  <div class="selfcare-image">
    <img src="img/banners/blog.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Blog</h2>
  </div>
  <div class="blog-page">
    <div class="container" infinite-scroll='loadBlog()' infinite-scroll-distance="0" infinite-scroll-disabled="false">
      <div class="get-inblog hidden-lg hidden-md">
        <form action="">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-addon pointer"><i class="fa fa-search brand-brown-dark"></i></span>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="blog-pagesection">
            <div class="row">
              <div class="col-md-6" ng-repeat="blog in blogpage" ui-sref="blogdetail({id:blog.id})">
                <div class="blog-part">
                  <div class="blog-imghold">
                    <img ng-src="{{blog.image | serverimage}}" alt="" class="img-responsive">
                  </div>
                  <div class="blog-detail">
                    <h4 class="brand-brown-dark text-bold text-uppercase">{{blog.title}}</h4>
                    <p class="blog-descp text-justify" ng-bind-html="blog.content| cut:true:200:'...'"></p>
                    <div class="read-more">
                      <a ui-sref="blogdetail({id:blog.id})" class="btn btn-primary text-uppercase">read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="get-inblog hidden-sm hidden-xs">
            <form action="">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="blog.search" placeholder="Search">
                  <span class="input-group-addon pointer"  ui-sref="searchBlog({search:blog.search})" ><i class="fa fa-search brand-brown-dark"></i></span>
                </div>
              </div>
            </form>
            <div class="post">
              <h4 class="text-uppercase brand-brown-dark">popular post</h4>
              <div class="blog-post" ng-repeat="post in popularpost">
                <a ui-sref="blogdetail({id:post.id})">
                <div class="post-imghold inline-block">
                  <img ng-src="{{post.coverimage | serverimage}}" alt="" class="img-responsive media-object">
                </div>
                <div class="post-content inline-block v-top">
                  <h5 class="brand-brown-dark">{{post.title}}</h5>
                </div>
                </a>
              </div>
            </div>
            <div class="tags">
              <h4 class="text-uppercase brand-brown-dark">tags</h4>
              <p ng-if="tagmsg!=''">
                {{tagmsg}}
              </p>
              <div class="click-tag">
                <a class="btn btn-primary text-uppercase" ng-repeat="tag in tagger" ui-sref="blogTag({tagname:tag.name})" ng-show="t.showTag || $index< 30" >{{tag.name}}</a>
                <a class="btn btn-primary text-uppercase" ui-sref="blog" >All</a>
                <div ng-if = "tagger.length > 30">
                  <span class="pointer brand-primary" ng-show="!t.showTag" ng-click="showTag(true)">View More .. </span>
                  <span class="pointer brand-primary" ng-show="t.showTag" ng-click="showTag(false)">View Less .. </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
