<section>
  <div class="selfcare-image">
    <img src="img/banners/coolsculpting.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Cool Sculpting</h2>
  </div>
  <div class="blog-main">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="blog-section">
            <div class="row">
              <div class="col-md-6" ng-repeat="blog in blogpage">
                <div class="blog-part">
                  <div class="blog-imghold"><img src="" alt="" class="img-responsive"></div>
                  <div class="blog-detail">
                    <h3><span></span></h3>
                    <p class="blog-descp"></p>
                    <div class="read-more"><a href=""></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>
</section>
