<section>
  <div class="selfcare-image">
    <img src="img/banners/blog.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Blog</h2>
  </div>
  <div class="blog-page">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="blog-pagesection">
            <div class="row">
              <div class="col-md-6" ng-repeat="blog in blogpage">
                <div class="blog-part">
                  <div class="blog-imghold">
                    <img ng-src="{{blog.img}}" alt="" class="img-responsive">
                  </div>
                  <div class="blog-detail">
                    <h4 class="brand-brown-dark text-bold text-uppercase">{{blog.title}}</h4>
                    <p class="blog-descp text-justify">{{blog.descp}}</p>
                    <div class="read-more">
                      <a href="" class="btn btn-primary text-uppercase">read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="get-inblog">
            <form action="">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-addon"><i class="fa fa-search brand-brown-dark"></i></span>
                </div>
              </div>
            </form>
            <div class="post">
              <h4 class="text-uppercase brand-brown-dark">popular post</h4>
              <div class="blog-post" ng-repeat="post in popularpost">
                <div class="post-imghold inline-block">
                  <img ng-src="{{post.img}}" alt="" class="img-responsive media-object">
                </div>
                <div class="post-content inline-block v-top">
                  <h5 class="brand-brown-dark">{{post.title}}</h5>
                </div>
              </div>
            </div>
            <div class="tags">
              <h4 class="text-uppercase brand-brown-dark">tags</h4>
              <div class="click-tag">
                <a href="" class="btn btn-primary text-uppercase" ng-repeat="tag in tagger">{{tag.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
