<section class="careers">
  <div class="selfcare-image">
    <img src="img/banners/careers.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Careers</h2>
  </div>
  <div class="careers-main">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h2 class="text-center">If you wish to join the Selfcare team, please fill in the following details</h2>
        </div>
      </div>
      <form name="career" method="post" enctype="multipart/form-data" ng-hide="form.submit" action="thankyou">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control input-placeholder" name="name" placeholder="Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input name="email"  required ng-model="email" type="email" class="form-control input-placeholder" placeholder="Email *">
              <div class="" ng-show="career.careermail.$error.required && career.careermail.$touched">
                Please Enter Your Email Id.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="mobile" class="form-control input-placeholder" placeholder="Mobile">
            </div>
            <div class="row">
              <div class="col-md-9 col-sm-10">
                <div class="form-group">
                  <input type="text" disabled="disabled" id="clickfile" class="form-control input-placeholder" placeholder="Upload your resume">
                </div>
              </div>
              <div class="col-md-3 col-sm-2">
                <div class="form-group relate">
                  <a class="btn btn-primary pointer">Browse</a>
                  <input type="file" name="resume" class="upload" id="clickbtn" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea class="form-control input-placeholder" placeholder="Message" name="message"></textarea>
            </div>
          </div>
        </div>
        <input type="hidden" name="url" value="{{hiddenVal}}">
        <div class="text-center">
          <input type="submit" class="btn btn-primary send text-uppercase letter-space" value="Send">
        </div>
      </form>
      <div ng-show="form.submit">
        <h3 class="m-clear brand-brown-dark text-center">Your details has been submitted successfully.</h3>
      </div>
    </div>
  </div>
</section>
