<section class="cart">
  <div class="banner selfcare-image">
    <img src="img/apple.jpg" alt="">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">my cart</h2>
    </div>
  </div>

  <div class="cart-main">
    <div class="container">
      <h3 class="text-uppercase brand-brown-dark letter-space font-semibold">Items you would like to purchase</h3>
      <div class="cart-table">
        <table class="table">
          <thead class="brand-brown-dark brand-brown-bg text-uppercase letter-space">
            <tr>
              <th class="text-center">Items</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center letter-space font-semibold" ng-repeat="product in cart">
              <td>
                <figure>
                  <div class="cart-imgholder m-center round">
                  <img ng-src="{{product.img}}" class="img-responsive">
                  </div>
                  <figcaption class="text-center text-uppercase">{{product.name}}</figcaption>
                </figure>
              </td>
              <td>
                <input type="number" class="text-center quantity" name="" id="" value="{{product.quantity}}" disabled>
                <span class="more inline-block brand-primary-bg white"><i class="fa fa-plus"></i></span>
                <span class="less inline-block brand-primary-bg white"><i class="fa fa-minus"></i></span>
              </td>
              <td>
                <div class="cart-amount">
                <p>RS. {{product.amount}}</p>
              </div>
              </td>
              <td>
                <div class="cart-total-amount">
                <p>RS. {{product.totalamount}}</p>
              </div>
                <div class="remove text-right">
                  <button class="btn btn-primary text-uppercase no-radius">Remove</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="cart-grand-total clearfix brand-brown-bg brand-brown-dark font-semibold">
          <span class="text-uppercase pull-left">Grand Total</span>
          <span class="pull-right text-uppercase">Rs. 375.00</span>
        </div>

        <div class="shipping">
          <div class="row">
            <div class="col-md-6">
              <p class="brand-primary letter-space">Free shipping in Mumbai and Kolkata and India,</p>
              <p class="brand-primary letter-space">Shipping Charges applicable<sup>*</sup> for all other cities and countries.</p>
            </div>
            <div class="col-md-6">
              <div class="text-right cart-btn">
                <a href="" class="btn btn-primary text-uppercase continue">Continue Shopping</a>
                <a href="" class="btn btn-primary text-uppercase">Proceed to checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
