<section class="checkout">
  <div class="banner selfcare-image">
    <img src="img/banners/checkout.jpg" alt="">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">Checkout</h2>
    </div>
  </div>
  <div class="container">
    <div class="alert-postion">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
        </div>
    <div class="checkout-tab">
      <uib-tabset>
        <uib-tab active="tabs[0].active" disable="tabs[0].disabled">
          <uib-tab-heading>
            Email login
            <span class="greater"> &gt; </span>
          </uib-tab-heading>
          <div class="order-summary">
            <table class="table">
              <thead class="text-uppercase">
                <th>order summary</th>
                <th>items : {{allcart.length}}</th>
                <th>subtotal: rs. {{totalcart - shippingcharges}}</th>
                <th>grandtotal: rs. {{totalcart}}</th>
              </thead>
            </table>
          </div>
          <div class="checkout-main">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <form action="" name="loginForm">
                  <div class="form-group">
                    <input type="email" name="email" ng-model="login.email" required class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group" ng-show="guestshow">
                    <input type="password" name="password" ng-model="login.password" required class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                      <div class="radio">
                        <input type="radio" name="continue" ng-change="selectGuest(guest)" value="guest" ng-model="guest" id="pswd">
                                            <label for="pswd" class="text-light">
                        <span></span> Continue without passsword.
                                            </label>
                      </div>
                  </div>
                  <div class="form-group">
                  <div class="radio">
                      <input type="radio" name="continue" ng-change="selectGuest(guest)" value="notguest" ng-model="guest" id="sc">
                    <label for="sc" class="text-light">
                      <span></span> I have a selfcare account and password.
                    </label>
                  </div>
                  </div>
                  <a href="" class="btn btn-primary text-uppercase" ng-click="proceedToShipping(login,guestshow,loginForm)">continue</a>
                </form>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab active="tabs[1].active" disable="tabs[1].disabled">
          <uib-tab-heading>
            shipping address
            <span class="greater"> &gt; </span>
          </uib-tab-heading>
          <div class="order-summary">
            <table class="table">
              <thead class="text-uppercase">
                <th>order summary</th>
                <th>items : {{allcart.length}}</th>
                <th>subtotal: rs. {{totalcart - shippingcharges}}</th>
                <th>grandtotal: rs. {{totalcart}}</th>
              </thead>
            </table>
          </div>
          <div class="checkout-main profile-tab">
              <h3 class="text-uppercase brand-brown-dark letter-space">your details</h3>
              <form name="basicForm" class="form-inline details">
                <div class="form-group">
                  <input name="firstname" ng-model="checkout.firstname" required type="text" placeholder="First Name *" class="form-control">
                </div>
                <div class="form-group">
                  <input name="lastname" ng-model="checkout.lastname" required type="text" placeholder="Last Name *" class="form-control">
                </div>
                <div class="form-group">
                  <input name="phone" ng-model="checkout.phone" required type="tel" placeholder="Mobile Number *" class="form-control">
                </div>
                <div class="form-group">
                  <input name="email" ng-model="checkout.email" required type="email" placeholder="Email *" class="form-control">
                </div>
                <div class="text-center" ng-show="(basicForm.firstname.$invalid || basicForm.lastname.$invalid || basicForm.phone.$invalid || basicForm.email.$invalid) && basicForm.firstname.$touched && basicForm.lastname.$touched && basicForm.email.$touched && basicForm.phone.$touched">
                  Please enter all fields
                </div>
              </form>

              <div class="address">
                <div class="row">
                  <div class="col-md-4">
                    <h3 class="text-uppercase brand-brown-dark letter-space inline-block">billing address</h3>
                    <form name="billingForm">
                      <div class="form-group">
                        <input name="billingline1" ng-change="sameShipping(checkout)" required ng-model="checkout.billingline1" type="text" class="form-control" placeholder="Line 1 *">
                        <div class="text-center" ng-show="billingForm.billingline1.$invalid && billingForm.billingline1.$touched" role="alert">
                            Please enter billing line 1.
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="billingline2" ng-change="sameShipping(checkout)" required ng-model="checkout.billingline2" type="text" class="form-control" placeholder="Line 2 *">
                        <div class="text-center" ng-show="billingForm.billingline2.$invalid && billingForm.billingline2.$touched" role="alert">
                            Please enter billing line 2.
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="billingline3" ng-change="sameShipping(checkout)" required ng-model="checkout.billingline3" type="text" class="form-control" placeholder="Line 3 *">
                        <div class="text-center" ng-show="billingForm.billingline3.$invalid && billingForm.billingline3.$touched" role="alert">
                            Please enter billing line 3.
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="billingcity" ng-change="sameShipping(checkout)" required ng-model="checkout.billingcity" type="text" class="form-control" placeholder="City *">
                        <div class="text-center" ng-show="billingForm.billingcity.$invalid && billingForm.billingcity.$touched" role="alert">
                            Please enter billing city.
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="billingstate" ng-change="sameShipping(checkout)" required ng-model="checkout.billingstate" type="text" class="form-control" placeholder="State *">
                        <div class="text-center" ng-show="billingForm.billingstate.$invalid && billingForm.billingstate.$touched" role="alert">
                            Please enter billing state.
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="custom-select">
                          <select name="billingcountry" ng-change="sameShipping(checkout)" required ng-model="checkout.billingcountry"  id="">
                            <option value="{{country.value}}" ng-repeat="country in countries">{{country.value}}</option>
                          </select>
                          <span></span>
                        </div>
                        <div class="text-center" ng-show="billingForm.billingstate.$invalid && billingForm.billingstate.$touched" role="alert">
                            Please enter billing country.
                        </div>
                      </div>

                    </form>
                  </div>
                  <div class="col-md-offset-2 col-md-4">
                    <h3 class="text-uppercase brand-brown-dark letter-space inline-block">shipping address</h3>
                    <div class="checkbox">
                      <input type="checkbox" class="text-uppercase" ng-model="checkShip" ng-click="shippingCheck(checkShip)" id="same">
                      <label for="same" class="same-bill"> <span></span> Same as billing address</label>
                    </div>
                    <form name="shippingForm">
                      <div class="form-group">
                        <input name="shippingline1" ng-model="checkout.shippingline1" required type="text" class="form-control" placeholder="Line 1 *">
                      </div>
                      <div class="text-center" ng-show="shippingForm.shippingline1.$invalid && shippingForm.shippingline1.$touched" role="alert">
                          Please enter shipping line 1.
                      </div>
                      <div class="form-group">
                        <input name="shippingline2" ng-model="checkout.shippingline2" required type="text" class="form-control" placeholder="Line 2 *">
                      </div>
                      <div class="text-center" ng-show="shippingForm.shippingline2.$invalid && shippingForm.shippingline2.$touched" role="alert">
                          Please enter shipping line 2.
                      </div>
                      <div class="form-group">
                        <input name="shippingline3" ng-model="checkout.shippingline3" required type="text" class="form-control" placeholder="Line 3 *">
                      </div>
                      <div class="text-center" ng-show="shippingForm.shippingline3.$invalid && shippingForm.shippingline3.$touched" role="alert">
                          Please enter shipping line 3.
                      </div>
                      <div class="form-group">
                        <input name="shippingcity" ng-model="checkout.shippingcity" required type="text" class="form-control" placeholder="City *">
                      </div>
                      <div class="text-center" ng-show="shippingForm.shippingcity.$invalid && shippingForm.shippingcity.$touched" role="alert">
                          Please enter shipping city.
                      </div>
                      <div class="form-group">
                        <input name="shippingstate" ng-model="checkout.shippingstate" required type="text" class="form-control" placeholder="State *">
                      </div>
                      <div class="text-center" ng-show="shippingForm.shippingstate.$invalid && shippingForm.shippingstate.$touched" role="alert">
                          Please enter shipping state.
                      </div>
                      <div class="form-group">
                        <div class="custom-select">
                          <select name="shippingcountry" ng-model="checkout.shippingcountry" required id="">
                            <option value="{{country.value}}" ng-repeat="country in countries">{{country.value}}</option>
                          </select>
                        </div>
                        <div class="text-center" ng-show="shippingForm.shippingcountry.$invalid && shippingForm.shippingcountry.$touched" role="alert">
                            Please enter shipping country.
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
                <a href="" class="text-uppercase btn btn-primary" ng-click="proceedToSummary(user,basicForm,billingForm,shippingForm)">Continue</a>
              </div>
            <!-- <div class="row">
              <div class="col-md-4">
                <h5 class="brand-primary">Enter a new shipping address</h5>
                <form  name="shippingForm">
                  <div class="form-group">
                    <input type="text" name="name" ng-model="user.firstname" required class="form-control" placeholder="Name *">
                  </div>
                  <div class="text-center" ng-show="shippingForm.name.$invalid && shippingForm.name.$touched" role="alert">
                      Please enter your name
                  </div>
                  <div class="form-group">
                    <input type="text" name="address" ng-model="user.shippingaddress" required class="form-control" placeholder="Address *">
                  </div>
                  <div class="text-center" ng-show="shippingForm.address.$invalid && shippingForm.address.$touched" role="alert">
                      Please enter your address
                  </div>
                  <div class="form-group">
                    <input type="text" name="pin" ng-model="user.shippingpincode" required class="form-control" placeholder="Pin *">
                  </div>
                  <div class="text-center" ng-show="shippingForm.pin.$invalid && shippingForm.pin.$touched" role="alert">
                    Please enter your pin
                  </div>
                  <div class="form-group">
                    <input type="text" name="city" ng-model="user.shippingcity" required class="form-control" placeholder="City *">
                  </div>
                  <div class="text-center" ng-show="shippingForm.city.$invalid && shippingForm.city.$touched" role="alert">
                    Please enter your city
                  </div>
                  <div class="form-group">
                    <input type="text" name="state" ng-model="user.shippingstate" required class="form-control" placeholder="State *">
                  </div>
                  <div class="text-center" ng-show="shippingForm.state.$invalid && shippingForm.state.$touched" role="alert">
                    Please enter your state
                  </div>
                  <div class="form-group">
                    <input type="tel" name="phone" ng-model="user.shippingcontact" required class="form-control" placeholder="Phone *">
                  </div>
                  <div class="text-center" ng-show="shippingForm.phone.$invalid && shippingForm.phone.$touched" role="alert">
                    Please enter your phone
                  </div>
                  <a href="" class="text-uppercase btn btn-primary" ng-click="proceedToSummary(user,shippingForm)">Save &amp; Continue</a>
                </form>
              </div>
            </div> -->
          </div>
        </uib-tab>
        <uib-tab active="tabs[2].active" disable="tabs[2].disabled">
          <uib-tab-heading>
            order-summary
            <span class="greater"> &gt; </span>
          </uib-tab-heading>
          <div class="order-summary">
            <table class="table">
              <thead class="text-uppercase">
                <th>order summary</th>
                <th>items : {{allcart.length}}</th>
                <th>subtotal: rs. {{totalcart - shippingcharges}}</th>
                <th>grandtotal: rs. {{totalcart}}</th>
              </thead>
            </table>
          </div>
          <div class="checkout-main">
            <div class="checkout-table">
              <div class="cart-table">
                <table class="table">
                  <thead class="brand-primary text-uppercase letter-space">
                    <tr>
                      <th class="text-center">Item description</th>
                      <th class="text-center">Quantity</th>
                      <th class="text-center">price</th>
                      <th class="text-center">Sub total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center letter-space font-semibold" ng-repeat="product in allcart | orderBy:'id'">
                      <td>
                        <figure>
                          <div class="cart-imgholder m-center">
                            <img ng-src="{{product.image | serverimage}}" class="img-responsive round">
                          </div>
                          <figcaption class="text-center text-uppercase">{{product.options.realname}}</figcaption>
                        </figure>
                      </td>
                      <td>
                        <input type="number" class="text-center quantity" name="" id="" value="{{product.qty}}" disabled>
                        <div class="text-center" ng-show="product.exceeds">Quantity unavailable.</div>
                        <!-- <span class="more inline-block brand-primary-bg white"><i class="fa fa-plus"></i></span>
                        <span class="less inline-block brand-primary-bg white"><i class="fa fa-minus"></i></span> -->
                      </td>
                      <td>
                        <div class="cart-amount">
                          <p>RS. {{product.price}}</p>
                        </div>
                      </td>
                      <td>
                        <div class="cart-total-amount">
                          <p>RS. {{product.subtotal}}</p>
                        </div>
                        <!-- <div class="remove text-right">
                          <button class="btn btn-primary text-uppercase no-radius">Remove</button>
                        </div> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="coupon letter-space">
                  <div class="clearfix coupon-ship">
                    <div class="text-uppercase pull-left">
                      <span>Shipping Charges</span>
                    </div>
                    <div class="text-right text-uppercase pull-right price-ship">
                      <span>Rs {{shippingcharges}}</span>
                    </div>
                  </div>
                  <form action="" class="form-inline">
                    <label for="" class="text-light"> COUPON CODE
                      <input type="text" class="form-control">
                    </label>
                    <button class="btn btn-primary apply">APPLY</button>
                  </form>
                  <label>
                      <input type="checkbox" ng-model="cod" ng-change="codChange(cod)">  COD (Cash on Delivery)
                  </label>
                </div>
                <div class="cart-grand-total clearfix brand-brown-bg brand-brown-dark font-semibold">
                  <span class="text-uppercase pull-left">Grand Total</span>
                  <span class="pull-right text-uppercase">Rs. {{totalcart}}</span>
                </div>

                <div class="shipping">
                  <div class="row">
                    <div class="col-md-6">
                      <p class="brand-primary letter-space">Free shipping in Mumbai and Kolkata and India,</p>
                      <p class="brand-primary letter-space">Shipping Charges applicable<sup>*</sup> for all other cities and countries.</p>
                    </div>
                    <div class="col-md-6">
                      <div class="text-right">
                        <a href="" class="btn btn-primary text-uppercase" ng-click="proceedToPayment()" ng-show = "cod">Place Order</a>
                        <a href="" class="btn btn-primary text-uppercase" ng-click="proceedToPayment()" ng-hide = "cod">Continue</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab active="tabs[3].active" disable="tabs[3].disabled">
          <uib-tab-heading>
            payment options
          </uib-tab-heading>
          <p class="brand-primary letter-space" ng-show = "cod">Thank you for Shopping with us</p>
          <p class="brand-primary letter-space" ng-hide = "cod">Payment Details</p>
          <form method="post" name="customerData" ng-hide = "cod" action="http://moviewsapp.com/selfcare/paymentgateway/Checkout.php">
							<table width="40%" height="100">
								<tr>
									<td>TID	:</td><td><input type="text" name="Merchant_Id" value="M_careself_14677" readonly /></td>
								</tr>
								<tr>
									<td>Order Id	:</td><td><input type="text" name="Order_Id" ng-model="order"/></td>
								</tr>
								<tr>
									<td>Amount	:</td><td><input type="text" name="Amount" ng-model="totalcart"/></td>
								</tr>
								<tr >
									<td>Redirect URL	:</td><td><input type="text" name="Redirect_Url" value="http://moviewsapp.com/selfcare/index.php/json/payumoneysuccess"/></td>
								</tr>
						     	<tr>
						     		<td colspan="2">Billing information:</td>
						     	</tr>
						        <tr>
						        	<td>Billing Name	:</td><td><input type="text" name="billing_cust_name" style="border: none; width: 100%;" ng-model="checkout.firstname" value="adf"/></td>
						        </tr>
						        <tr>
						        	<td>Billing Address	:</td><td><input type="text" name="billing_cust_address" style="border: none; width: 100%;"  ng-model="checkout.billingline1" value="adf"/></td>
						        </tr>
						        <tr>
						        	<td>Billing City	:</td><td><input type="text" name="billing_city" style="border: none; width: 100%;" ng-model="checkout.billingcity" value="asdfa"/></td>
						        </tr>
						        <tr>
						        	<td>Billing State	:</td><td><input type="text" name="billing_cust_state" style="border: none; width: 100%;" ng-model="checkout.billingstate" value="adfasd"/></td>
						        </tr>
						        <tr>
						        	<td>Billing Zip	:</td><td><input type="text" name="billing_zip" style="border: none; width: 100%;" ng-model="checkout.billingpincode" value="234567"/></td>
						        </tr>
						        <tr>
						        	<td>Billing Country	:</td><td><input type="text" name="billing_cust_country" style="border: none; width: 100%;" ng-model="checkout.billingcountry" value="India"/></td>
						        </tr>
						        <tr>
						        	<td>Billing Tel	:</td><td><input type="text" name="billing_cust_tel" style="border: none; width: 100%;" ng-model="checkout.phone" value="9890989098"/></td>
						        </tr>
						        <tr>
						        	<td>Billing Email	:</td><td><input type="text" name="billing_cust_email" style="border: none; width: 100%;" ng-model="checkout.email" value="jagruti@wohlig.com"/></td>
						        </tr>
						        <tr>
						        	<td colspan="2">Shipping information</td>
						        </tr>
						        <tr>
						        	<td>Shipping Name	:</td><td><input type="text" name="delivery_cust_name" style="border: none; width: 100%;" ng-model="checkout.firstname"/ value="asdf"></td>
						        </tr>
						        <tr>
						        	<td>Shipping Address	:</td><td><input type="text" name="delivery_cust_address" style="border: none; width: 100%;" ng-model="checkout.shippingline1" value="asdfsd"/></td>
						        </tr>
						        <tr>
						        	<td>shipping City	:</td><td><input type="text" name="delivery_city" style="border: none; width: 100%;" ng-model="checkout.shippingcity" value="asdf"/></td>
shippingForm</tr>
						        <tr>
						        	<td>shipping State	:</td><td><input type="text" name="delivery_cust_state" style="border: none; width: 100%;" ng-model="checkout.shippingstate"value="sdfasd"/></td>
						        </tr>
						        <tr>
						        	<td>shipping Zip	:</td><td><input type="text" name="delivery_zip" style="border: none; width: 100%;" ng-model="checkout.shippingpincode" value="334566"/></td>
						        </tr>
						        <tr>
						        	<td>shipping Country	:</td><td><input type="text" name="delivery_cust_country" style="border: none; width: 100%;" ng-model="checkout.shippingcountry" value="India"/></td>
						        </tr>
						        <tr>
						        	<td>Shipping Tel	:</td><td><input type="text" name="delivery_cust_tel" style="border: none; width: 100%;" ng-model="checkout.phone" value="9898989898"/></td>
						        </tr>
						        <tr style="display:none">
						        	<td>Merchant Param1	:</td><td><input type="text" name="delivery_cust_notes" value=""/></td>
						        </tr>
						        <tr>
						        	<td></td><td><button class="btn btn-danger m-30 con-btn" type="submit">Place order</button></td>
						        </tr>
					      	</table>
					      </form>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</section>
