<section>
  <div class="selfcare-image">
    <img src="img/banners/contactus.jpg" alt="">
    <h2 class="text-uppercase get-center white contact-title">Contact Us</h2>
  </div>

  <div class="contact-location">
    <div class="container">
      <div class="alert-postion">
              <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="3000">{{alert.msg}}</uib-alert>
          </div>
      <div class="row">
        <div class="clinic text-center">
          <span class="brand-primary font-semibold">Clinic Timings (9:30am to 6pm)</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-5">
          <div class="mumbai">
            <h4 class="text-uppercase brand-brown-dark font-semibold">Mumbai</h4>

            <div class="tardeo">
              <p class="brand-primary font-semibold">Head Office, Tardeo</p>
              <span>432/432/403, Arun Chambers,</span>
              <br>
              <span>Next to A/C Market,</span>
              <br>
              <span>Tardeo Main Road, Mumbai - 400 034</span>
              <br>
              <span>t: <a href="tel:02261312222">022 61312222</a>, <a href="tel:+919323217232">+91 9323217232</a></span>
              <br>
              <span>f: <a href="tel:02261312200">022 61312200</a></span>
              <br>
              <a target="_blank" class="text-uppercase brand-teal" ng-click="map=1">View On Map</a>
            </div>

            <div class="santacruz">
              <p class="brand-primary font-semibold">Juhu</p>
              <span>1st floor, Sanghvi Udayan, V L Mehta</span>
              <br>
              <span>Marg, JVPD scheme, Vile Parle</span>
              <br>
              <span>Landmark opposite 'Jalsa'</span>
              <br>
              <span>West, Mumbai - 400 049</span>
              <br>
              <span>t: <a href="tel:+919819725206">+91 9819725206</a>, <a href="tel:+912226142435">+91 22-26142435</a>,<br><a href="tel:+912226109432" class="san-num">+91 22-26109432</a></span>
              <br>
              <a  target="_blank" class="text-uppercase brand-teal" ng-click="map=2">View On Map</a>
            </div>
          </div>

          <div class="kolkata">
            <h4 class="text-uppercase brand-brown-dark font-semibold">Kolkata</h4>
            <span>3, Cooper street, Off AJC Bose Road,</span>
            <br>
            <span>Landmark - lane opp. Pulse Diagnostics near</span>
            <br>
            <span>Lansdowne - Hazra crossing,</span>
            <br>
            <span>Kolkata - 700 026</span>
            <br>
            <span>t: <a href="tel: 03364571113"> 033-64571113</a></span>
            <br>
            <a  target="_blank" class="text-uppercase brand-teal" ng-click="map=3">View On Map</a>
          </div>
        </div>

        <div class="col-md-8 col-sm-7">
          <!-- Map -->
          <div class="contact-map" ng-show="map==1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3773.0566132050985!2d72.813697!3d18.973107!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce7051b84445%3A0x1474fecba24a5185!2sArun+Chambers%2C+Tardeo+Rd%2C+Janata+Nagar%2C+Tardeo%2C+Mumbai%2C+Maharashtra+400034%2C+India!5e0!3m2!1sen!2s!4v1455617613300" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="contact-map" ng-show="map==2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.073893345421!2d72.82559671490158!3d19.104413987071688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9eaa0ce7ab7%3A0x4798f71406486521!2sSanghvi+Udyan!5e0!3m2!1sen!2s!4v1455617730411" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="contact-map" ng-show="map==3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.4168827862363!2d88.35025351495872!3d22.52605118520679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277303ae170ad%3A0x1de2277f47ceb5fd!2sPulse+Diagnostics!5e0!3m2!1sen!2sin!4v1455617852109" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-query">
    <div class="container">
      <div class="row">
        <h4 class="text-uppercase text-center brand-brown-dark font-semibold">Send your query</h4>
        <div class="col-md-offset-2 col-md-8">
          <form name="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="firstname" ng-model="contact.firstname" class="form-control" required placeholder="First Name">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="lastname" ng-model="contact.lastname" class="form-control" required placeholder="Last Name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="tel" name="mobile" ng-model="contact.mobile" class="form-control" required placeholder="Mobile">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" name="email" ng-model="contact.email" class="form-control" required placeholder="Email">
                </div>
              </div>
            </div>

            <div class="form-group">
              <textarea name="message" ng-model="contact.message" class="form-control" required placeholder="Message"></textarea>
            </div>
              <div class="text-center" ng-show="contactForm.$invalid && contactForm.firstname.$touched && contactForm.lastname.$touched && contactForm.email.$touched && contactForm.mobile.$touched && contactForm.message.$touched" role="alert">
                  Please enter all details
              </div>
            <div class="submit-button text-center">
              <a href="" class="btn btn-primary submit text-uppercase" ng-click="contactUs(contact,contactForm)">Submit</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
