<section>
  <div class="banner selfcare-image">
    <img src="img/banners/forgot.jpg" alt="Forgot Password">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">Forgot password ?</h2>
    </div>
  </div>
  <div class="forgot-main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form action="">
            <div class="form-group">
              <label for="newpassword" class="text-uppercase letter-space">Enter new password</label>
              <input type="password" class="form-control" id="newpassword">
            </div>
            <div class="form-group">
              <label for="re-password" class="text-uppercase letter-space">re-enter password</label>
              <input type="password" class="form-control" id="re-password">
            </div>
            <button type="button" name="button" class="btn btn-primary text-uppercase">submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
