<section>
  <div class="banner selfcare-image">
    <img src="img/banners/forgot.jpg" alt="Forgot Password">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">Forgot password ?</h2>
    </div>
  </div>
  <div class="forgot-main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form name="forgot">
            <div class="form-group">
              <label for="newpassword" class="text-uppercase letter-space">Enter new password</label>
              <input name="newpswd" required type="password" ng-model="forgot.newpswd" class="form-control input-placeholder" id="newpassword">
              <div class="" ng-show="forgot.newpswd.$invalid && forgot.newpswd.$touched" role="alert">
                Please Enter The Password.
              </div>
            </div>
            <div class="form-group">
              <label for="re-password" class="text-uppercase letter-space">re-enter password</label>
              <input name="repswd" required type="password" ng-model="forgot.repswd" class="form-control input-placeholder" id="re-password">
              <div class="" ng-show="forgot.repswd.$invalid && forgot.repswd.$touched" role="alert">
                Password Does Not Match.
              </div>
            </div>
            <button type="button" name="button" class="btn btn-primary text-uppercase">submit</button>
          </form>
          <div class="forgot-msgshow">
            <h4 class="brand-brown-dark">Your Password has been successfully changed.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
