<section>
  <div class="selfcare-image">
    <img ng-src="{{productCategory.bannerimg | serverimage}}" alt="">
    <h2 class="text-uppercase get-center white font-semibold">{{productCategory.name}}</h2>
  </div>

  <div class="container" infinite-scroll='refreshProducts(filterBy)' infinite-scroll-distance="0" infinite-scroll-disabled="fasle">
    <div class="product-desc get-up brand-brown-bg white health-descp rel">
      <p>{{productCategory.description}}</p>
    </div>
  </div>

  <div class="products">
    <div class="container">
      <div class="alert-postion">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
      </div>
      <div class="row">

        <div class="col-md-3 col-sm-4">
          <div class="product-cat">
            <h3 class="text-uppercase brand-brown-dark font-semibold">Categories</h3>
            <a class="btn text-uppercase brand-primary-bg white font-semibold" ui-sref="healthproducts({id:category.id})" ng-repeat="category in categories">{{category.name}}</a>
          </div>

          <div class="filters brand-brown-bg">
            <h3 class="text-uppercase brand-brown-dark font-semibold">Filters by</h3>

            <div class="protein" ng-repeat="subcategory in subCategories" ng-if="subCategories.length > 0">
              <div class="checkbox">
                <input type="checkbox" id="{{subcategory.name | nospace | lowercase}}" ng-click="filterIt(subcategory.id)">
                <label class="white" for="{{subcategory.name | nospace | lowercase}}">
                  <span></span>{{subcategory.name}}</label>
              </div>
            </div>


          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <div class="row">
            <div class="col text-center">
              {{msg}}
            </div>
            <div class="col-md-4 col-sm-6" ng-repeat="product in products" ng-if="products.length > 0">
              <div class="single-product text-center">
                <div class="product-image pointer" ui-sref="productdetail({
                  id:product.id
                })">
                  <img ng-src="{{product.image | serverimage}}" alt="" class="img-responsive round">
                </div>
                <p class="brand-primary font-semibold pointer name" ui-sref="productdetail({
                  id:product.id
                })">
                  <span class="text-uppercase">{{product.name}}</span> |
                  <span><i class="fa fa-inr"></i> {{product.price}}</span>
                </p>
                <a class="btn btn-primary text-uppercase" ng-click="cartAdd(product.id)" data-target="#successcart" data-toggle="modal">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="successcart">
  <div class="modal fade" id="successcart" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
          <h3>Your product has been added to the cart, successfully!</h3>
          <div class="success-btn">
            <a href="#/healthproducts/1" class="btn btn-primary text-uppercase continue" data-dismiss="modal">Continue Shopping</a>
            <a class="btn btn-primary text-uppercase">Proceed to checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
