<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Health Packages</h2>
  </div>

  <div class="what-health-goal">
    <h2 class="text-uppercase text-center brand-brown-dark font-semibold">What's your health goal?</h2>

    <div class="health-goals brand-brown-bg">
      <div class="container">
        <div class="row">

          <div class="col-md-6">
            <div class="weight-goal text-center brand-primary brand-brown-light-bg">
              <img src="img/packages/1.png" alt="">
              <h3 class="text-uppercase font-semibold">Weight Loss</h3>
              <p class="text-uppercase font-semibold">(Includes health management)</p>
              <a href="#/weightmanagement" class="btn btn-primary text-uppercase btn-packages">Know More</a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="health-manage-goal text-center brand-primary brand-brown-light-bg">
              <img src="img/packages/2.png" alt="">
              <h3 class="text-uppercase font-semibold">Health Management</h3>
              <p class="text-uppercase font-semibold">&nbsp;</p>
              <a href="#/healthmanagement" class="btn btn-primary text-uppercase btn-packages">Know More</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
