<div class="health-management">
  <div class="banner selfcare-image">
    <img src="img/apple.jpg" alt="">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">health management</h2>
    </div>
  </div>
  <div class="container">
    <div class="get-up brand-brown-bg relate">
      <h2 class="text-center text-bold brand-brown-dark health-heading">LACTATION WITH WEIGHT LOSS</h2>
      <p class="white health-descp">
        This is a happy but a hectic and phase in woman’s life. She is juggling between taking care of her young one and herself. We offer personalized diet chart for lactation that takes care of your nutritional requirements during this phase and also help you
        shed those extra kilos in the right way.
      </p>
    </div>
    <div class="health-chart">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
          <div class="health-tab healthchart-list">
            <div class="inline-block v-top space">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">1</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
                <span class="text-uppercase white duration font-gotham-bold">Duration</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price text-capitalize">4</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-head">
                      <p class="brand-brown-dark text-justify">Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert
                        nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                    </div>
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 150</span>
                        <span class="brand-primary font-gotham-bold">Rs. 8900</span>
                      </div>
                    </div>
                    <div class="tab-foot">
                      <div class="tab-footinfo">
                        <div class="tick inline-block">
                          <img src="img/tick.png" alt="" class="img-responsive">
                        </div>
                        <p class="inline-block">Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                      </div>
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-head">
                      <p class="brand-brown-dark text-justify">Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert
                        nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                    </div>
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 150</span>
                        <span class="brand-primary font-gotham-bold">Rs. 8900</span>
                      </div>
                    </div>
                    <div class="tab-foot">
                      <div class="tab-footinfo">
                        <div class="tick inline-block">
                          <img src="img/tick.png" alt="" class="img-responsive">
                        </div>
                        <p class="inline-block">Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                      </div>
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-head">
                      <p class="brand-brown-dark text-justify">Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert
                        nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                    </div>
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 150</span>
                        <span class="brand-primary font-gotham-bold">Rs. 8900</span>
                      </div>
                    </div>
                    <div class="tab-foot">
                      <div class="tab-footinfo">
                        <div class="tick inline-block">
                          <img src="img/tick.png" alt="" class="img-responsive">
                        </div>
                        <p class="inline-block">Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                      </div>
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">diamond</p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-head">
                      <p class="brand-brown-dark text-justify">Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert
                        nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                    </div>
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 150</span>
                        <span class="brand-primary font-gotham-bold">Rs. 8900</span>
                      </div>
                    </div>
                    <div class="tab-foot">
                      <div class="tab-footinfo">
                        <div class="tick inline-block">
                          <img src="img/tick.png" alt="" class="img-responsive">
                        </div>
                        <p class="inline-block">Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                      </div>
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">2</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
                <span class="text-uppercase white duration font-gotham-bold">Duration</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price text-capitalize">8</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">diamond</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">4</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
                <span class="text-uppercase white duration font-gotham-bold">Duration</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price text-capitalize">17</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">diamond</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">6</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
                <span class="text-uppercase white duration font-gotham-bold">Duration</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price text-capitalize">26</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">diamond</p>
                  </uib-tab-heading>
                </uib-tab>
              </uib-tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-round">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in healthdetail" active="slide.active">
            <div class="healthmanagement-slider">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="detail in slide">
                  <figure>
                  <div class="slide-imghold round m-center">
                    <img ng-src="{{detail.img}}" alt="" class="img-responsive">
                  </div>
                  <figcaption class="text-uppercase brand-brown-dark text-bold letter-space">{{detail.caption}}</figcaption>
                  </figure>
                </div>
                <!-- <div class="col-md-4">
                  <figure>
                  <div class="slide-imghold round m-center">
                    <img ng-src="{{slide.img}}" alt="" class="img-responsive">
                  </div>
                  <figcaption class="text-uppercase brand-brown-dark text-bold">{{slide.caption}}</figcaption>
                  </figure>
                </div>
                <div class="col-md-4">
                  <figure>
                  <div class="slide-imghold round m-center">
                    <img ng-src="{{slide.img}}" alt="" class="img-responsive">
                  </div>
                  <figcaption class="text-uppercase brand-brown-dark text-bold">{{slide.caption}}</figcaption>
                  </figure>
                </div>
              </div> -->
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>
