<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Snacks &amp; Munchies</h2>
  </div>

  <div class="container">
    <div class="product-desc get-up brand-brown-bg white health-descp rel">
      <p>We have created a whole range of healthy, deliious and tasty snacks so that you never miss out on your favourite treat. The best part is that all these munchies are all far lower in calories than their off-the-self versions and many of them are
        even tastier.</p>
    </div>
  </div>

  <div class="products">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-4">
          <div class="product-cat">
            <h3 class="text-uppercase brand-brown-dark font-semibold">Categories</h3>
            <a href="" class="btn text-uppercase brand-primary-bg white font-semibold">Vitamins &amp; Minerals</a>
            <a href="" class="btn text-uppercase brand-primary-bg white font-semibold">Protein &amp; Supplement</a>
            <a href="" class="btn text-uppercase brand-primary-bg white font-semibold">Books &amp; Gadgets</a>
          </div>

          <div class="filters brand-brown-bg">
            <h3 class="text-uppercase brand-brown-dark font-semibold">Filters by</h3>

            <div class="protein">
            <div class="checkbox">
                <input type="checkbox" id="protein">
              <label class="white" for="protein">
                <span></span>Protein Snacks</label>
            </div>
            </div>

            <div class="evening">
              <div class="checkbox">
                <input type="checkbox" id="eve">
                <label class="white" for="eve"> <span></span>Evening Snacks</label>
              </div>
            </div>

            <div class="cookies">
              <div class="checkbox">
                <input type="checkbox" id="cookies">
                <label class="white" for="cookies"><span></span> Cookies</label>
              </div>
            </div>

            <div class="nuts">
              <div class="checkbox">
                <input type="checkbox" id="nuts">
                <label class="white" for="nuts"><span></span> Nuts</label>
              </div>
            </div>

            <div class="fiber">
              <div class="checkbox">
                <input type="checkbox" id="fiber">
                <label class="white" for="fiber"><span></span> Fiber Rich</label>
              </div>
            </div>

            <div class="teas">
            <div class="checkbox">
                <input type="checkbox" id="teas">
              <label class="white" for="teas"><span></span>  Flavoured Teas</label>
            </div>
            </div>

            <div class="burner">
            <div class="checkbox">
                <input type="checkbox" id="burner">
              <label class="white" for="burner"><span></span> Fat Burner</label>
            </div>
            </div>

            <div class="chocolate">
              <div class="checkbox">
                <input type="checkbox" id="choc">
                <label class="white"for="choc"><span></span> Chocolates</label>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <div class="row">

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/1.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Baked Potato Chips</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/2.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Chana Jor</span> |
                  <span><i class="fa fa-inr"></i>125</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/3.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Bajra Rings</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/1.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Baked Potato Chips</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/2.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Chana Jor</span> |
                  <span><i class="fa fa-inr"></i>125</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/3.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Bajra Rings</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/1.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Baked Potato Chips</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/2.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Chana Jor</span> |
                  <span><i class="fa fa-inr"></i>125</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/3.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Bajra Rings</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/1.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Baked Potato Chips</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/2.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Chana Jor</span> |
                  <span><i class="fa fa-inr"></i>125</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="single-product text-center">
                <div class="product-image round">
                  <img src="img/health-products/3.jpg" alt="" class="img-responsive">
                </div>
                <p class="brand-primary font-semibold">
                  <span class="text-uppercase">Bajra Rings</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
