<section>
  <div class="selfcare-image">
    <img src="" alt="">
    <h2 class="text-uppercase">Health Packages</h2>
  </div>

  <div class="what-health-goal">
    <h2 class="text-uppercase text-center">Whats your health goal?</h2>

    <div class="health-goals">
      <div class="container">
        <div class="row">

          <div class="col-md-6">
            <div class="weight-goal text-center">
              <img src="" alt="">
              <h3 class="text-uppercase">Weight Loss</h3>
              <p class="text-uppercase">(Includes health management)</p>
              <a href="" class="btn btn-primary text-uppercase">Know More</a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="health-manage-goal text-center">
              <img src="" alt="">
              <h3 class="text-uppercase">Health Management</h3>
              <a href="" class="btn btn-primary text-uppercase">Know More</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
