<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <h2 class="text-uppercase get-center white">Snacks &amp; Munchies</h2>
  </div>

  <div class="container">
    <div class="product-desc get-up brand-brown-bg white rel">
      <p>We have created a whole range of healthy, deliious and tasty snacks so that you never miss out on your favourite treat. The best part is that all these munchies are all far lower in calories than their off-the-self versions and many of them are
        even tastier.</p>
    </div>
  </div>

  <div class="products">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="product-cat">
            <h3 class="text-uppercase">Categories</h3>
            <a href="" class="btn btn-primary text-uppercase">Vitamins &amp; Minerals</a>
            <a href="" class="btn btn-primary text-uppercase">Protein &amp; Supplement</a>
            <a href="" class="btn btn-primary text-uppercase">Books &amp; Gadgets</a>
          </div>

          <div class="filters">
            <h3 class="text-uppercase">Filters by</h3>

            <div class="protein">
              <input type="checkbox">
              <span>Protein Snacks</span>
            </div>

            <div class="evening">
              <input type="checkbox">
              <span>Evening Snacks</span>
            </div>

            <div class="cookies">
              <input type="checkbox">
              <span>Cookies</span>
            </div>

            <div class="nuts">
              <input type="checkbox">
              <span>Nuts</span>
            </div>

            <div class="fiber">
              <input type="checkbox">
              <span>Fiber Rich</span>
            </div>

            <div class="teas">
              <input type="checkbox">
              <span>Flavoured Teas</span>
            </div>

            <div class="burner">
              <input type="checkbox">
              <span>Fat Burner</span>
            </div>

            <div class="chocolate">
              <input type="checkbox">
              <span>Chocolates</span>
            </div>

          </div>
        </div>

        <div class="col-md-9">
          <div class="row">

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Baked Potato Chips</span> |
                  <span><i class="fa fa-inr"></i> 225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Chana Jor</span> |
                  <span><i class="fa fa-inr"></i>125</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Bajra Rings</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Baked Potato Chips</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Chana Jor</span> |
                  <span><i class="fa fa-inr"></i>125</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Bajra Rings</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Baked Potato Chips</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Chana Jor</span> |
                  <span><i class="fa fa-inr"></i>125</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Bajra Rings</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Baked Potato Chips</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Chana Jor</span> |
                  <span><i class="fa fa-inr"></i>125</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="single-product">
                <div class="product-image">
                  <img src="" alt="">
                </div>
                <p>
                  <span class="text-uppercase">Bajra Rings</span> |
                  <span><i class="fa fa-inr"></i>225</span>
                </p>
                <a href="" class="btn btn-primary text-uppercase">Add to cart</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
