<div class="health-management">
  <div class="banner selfcare-image">
    <img src="img/banners/healthmanagement.jpg" alt="">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">health management</h2>
    </div>
  </div>
  <div class="container">
    <div class="get-up brand-brown-bg relate">
      <p class="text-justify white health-descp">Many ailments and health complaints can be rectified and reversed with a simple and nutritious diet. A right plan can contribute significantly to recover from lifestyle, hormonal and genetics related disorder. We provide a tailor made diet plan
        to overcome these health and well being complaints and also target weight loss. Along with nutritional advice we examine stipulated blood test to see if you are genetically pre-disposed to any health ailments will also recommend vitamins to help
        keep future disorder at bay. These are specialized plans aimed at individual with particular needs such as pregnancy, weight gain, inch loss etc. A personalized and detailed diet chart will be created to meet your specific requirements.</p>
    </div>
    <div class="health-manageselect">
      <div class="row-flex" ng-repeat="row in subpackages">
        <div class="col-flex" ng-repeat="package in row">
          <div class="managecat text-center">
            <figure>
              <a ui-sref="healthmanagementdetail({id:package.id})">
                <div class="category-imghold ">
                  <img ng-src="{{package.image | serverimage}}" alt="" class="img-responsive round">
                </div>
                <figcaption class="text-uppercase brand-brown-dark font-semibold">{{package.name}}</figcaption>
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
