<div class="home-slider">
  <flex-slider flex-slide="slide in homeslider track by $index" animation="slide" class="carousel">
    <li>
      <div class="slide-holder relate">
        <a href="{{slide.link}}">
          <img ng-src="{{slide.img | serverimage}}">
        </a>
        <!-- <div class="slider-info get-center text-center">
          <h2 class="text-uppercase brand-primary font-semibold">{{slide.title}}</h2>
          <p>{{slide.description}}</p>
          <button class="text-uppercase btn btn-primary" type="button">Know more</button>
        </div> -->
      </div>
    </li>
  </flex-slider>
</div>
<div class="container">
  <div class="alert-postion">
          <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
      </div>
  <div class="health-design brand-brown-bg relate">
    <h4 class="text-capitalize inline-block font-light">Health design by suman agarwal</h4>
    <div class="img-holder get-round">
    </div>
    <div class="pull-right more-abt-suman">
      <a href="#/meet" class="text-uppercase inline-block ">More about suman <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
  <div class="health-cat">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="health-info">
          <h3 class="brand-primary title text-uppercase font-gotham-bold">Health <span class="block">Packages</span></h3>
          <p class="text-justify health-descp">Our health packages are a right blend of food with science. whether its managing any kind of health disorder, improving vitamin deficiency, shedding extra kilos  or looking for specialized diet .. we have it all for all age groups.We believe in losing weight in the right manner and not losing hair, immunity, muscle and bone.</p>
          <a href="#/healthpackages" class="btn btn-primary text-uppercase font-gotham-bold letter-space know-more">know more</a>
          <div class="health-imgholder">
            <img src="img/health-package.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="health-info">
          <h3 class="brand-yellow title text-uppercase font-gotham-bold">Health <span class="block">Products</span></h3>
          <p class="text-justify health-descp">We have cook books written by our founder Mrs. Suman Agarwal with a team of culinary expert and nutritionist. A variety of snacks and munchies and an extensive range of vital vitamins.  These help to maintain immunity, hair, skin and correct deficiencies r alleviate chronic ailments. Our range of protein supplements help to support strength training. And electronics like pedometer, weighing scale to help you monitor your health goals</p>
          <a href="#/healthproducts/1" class="btn btn-yellow text-uppercase font-gotham-bold letter-space know-more">know more</a>
          <div class="health-imgholder">
            <img src="img/health-products.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="health-info">
          <h3 class="brand-blue title text-uppercase font-gotham-bold">cool <span class="block">sculpting</span></h3>
          <p class="text-justify health-descp home-coolsculp-descp">The CoolSculpting procedure eliminates stubborn fat safely and effectively, without surgery or downtime. This fat reduction treatment is the only FDA-cleared procedure.</p>
          <a href="#/coolsculpting" class="btn btn-blue text-uppercase font-gotham-bold letter-space know-more">know more</a>
          <div class="health-imgholder">
            <img src="img/cool-sculpting.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="brand-primary-bg people-info">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="info text-center">
              <div class=" inline-block v-top census">
                <h5 class="text-uppercase text-bold brand-brown-dark font-semibold health-title">Total number of
                  <span class="block">Clients</span>
                </h5>
                <h3 class="health-count text-left white text-bold">12479</h3>
              </div>
              <div class="icon inline-block v-top">
                <img src="img/user.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="info  text-center people-weight-count">
              <div class="inline-block v-top census">
                <h5 class="text-uppercase text-bold brand-brown-dark font-semibold health-title">Total
                  <span class="block count">Weight Loss</span>
                </h5>
                <h3 class="health-count text-left white text-bold">23494.12
                  <span class="font-primary">kgs</span>
                </h3>
              </div>
              <div class="icon inline-block">
                <img src="img/weight-meter.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="info no-border">
              <div class="inline-block v-top census">
                <h5 class="text-uppercase text-bold  brand-brown-dark font-semibold health-title">Presence in
                  <span class="block">Countries</span>
                </h5>
                <h3 class="health-count text-left white text-bold">48</h3>
              </div>
              <div class="icon inline-block">
                <img src="img/world.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="brand-brown-bg section-story">
  <div class="container">
    <div class="slider brand-brown-light-bg">
   <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-animate="{'slide':true}">
        <uib-slide ng-repeat="slide in homestory" active="slide.active">
          <div class="row">
            <div class="col-md-6">
              <div class="story-video">
                <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dnmzOqhu62k" frameborder="0" allowfullscreen></iframe> -->
                <a class="various fancybox.iframe" fancybox href="{{slide.link}}">
                  <img ng-src="{{slide.image}}" alt="" />
                  <div class="circle">
                    <img src="img/play.png" alt="" class="img-responsive" />
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="view-detail relate">
                <div class="get-round weight-info text-center">
                <span class="text-uppercase brand-brown-dark-bg lost">Lost</span>
                <p>
                  <span class="weight-number font-vista">{{slide.weight}}</span>kgs
                </p>
              </div>
                <h4 class="text-left brand-brown-dark name font-semibold letter-space">{{slide.name}}</h4>
                <span class="text-left block brand-primary letter-space">{{slide.location}}</span>
                <div class="descp brand-primary">
                  <p class="text-justify">{{slide.descp}}</p>
                </div>
              </div>
            </div>
          </div>
          <!--
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
          </div>
-->
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
</div>
<div class="health-diet">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="diet-info">
              <h4 class="text-center text-bold letter-space font-semibold">RECIPES</h4>
              <div class="diet-holder m-center">
                <img src="img/recipes.png" alt="" class="img-responsive m-center">
              </div>
              <p class="descp m-center">Recipes that help you eat right without compromising on taste.</p>
              <div class="more text-center">
                <button class="btn btn-primary text-uppercase" type="button">Coming Soon</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="diet-info">
              <h4 class="text-center text-bold letter-space font-semibold">CALORIE METER</h4>
              <div class="diet-holder m-center">
                <img src="img/calorie.png" alt="" class="img-responsive m-center">
              </div>
              <p class="descp m-center">Browse through nutritional information of your favourite foods with this easy to use calculator and learn which foods and beverages work for your waistline and which don't.</p>
              <div class="more text-center">
                <button class="btn btn-primary text-uppercase" type="button">Coming Soon</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-section brand-brown-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="blog-main brand-graylight-bg">
          <div class="heading">
            <h4 class="text-bold font-semibold">BLOG</h4>
          </div>
          <div class="blog-info">
            <div class="row">
              <div class="col-md-4 col-sm-4 ">
                <div class="blog-imgholder">
                  <img src="img/blog1.png" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-8 col-sm-8 ">
                <div class="blog-imginfo">
                  <p class="letter-space font-semibold">Anti Ageing Tips</p>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-info">
            <div class="row">
              <div class="col-md-4 col-sm-4 ">
                <div class="blog-imgholder ">
                  <img src="img/blog2.png" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-8 col-sm-8 ">
                <div class="blog-imginfo">
                  <p class="letter-space font-semibold">Calcium For All Ages And Genders</p>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-info">
            <div class="row">
              <div class="col-md-4 col-sm-4 ">
                <div class="blog-imgholder">
                  <img src="img/blog3.png" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-8 col-sm-8">
                <div class="blog-imginfo last-blog-info">
                  <p class="letter-space font-semibold">Calories In Cocktails</p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-right btn-center">
            <button class="text-uppercase btn btn-primary" type="button">Coming Soon</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="askqts blog-main brand-graylight-bg">
          <div class="heading">
            <h4 class="font-semibold">ASK
              <span class="text-light">SUMAN</span>
            </h4>
          </div>
          <h4 class="tips">Ask and get an answer on the healthiest food tips</h4>
          <form name="asksumanForm">
            <div class="form-group">
              <div class="custom-select">
                <select name="category" id="" ng-options="askcategory.value as askcategory.name for askcategory in askcategories" ng-model="asksuman.category" required class="form-control text-bold">
                  <!-- <option value="">Choose a Category</option>
                  <option value="Weight Loss">Weight Loss</option>
                  <option value="Weight Gain">Weight Gain</option>
                  <option value="Diet">Diet</option>
                  <option value="Health and Immunity">Health and Immunity</option>
                  <option value="Ailment Control">Ailment Control</option>
                  <option value="General">General</option> -->
                </select>
                <span class="select-caret"></span>
              </div>
              <!-- <span class="caret white"></span> -->
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="name" ng-model="asksuman.name" class="form-control" required placeholder="Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" name="email" ng-model="asksuman.email" class="form-control" required placeholder="Email">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="question" ng-model="asksuman.question" name="" required id="" placeholder="Type your question here..."></textarea>
            </div>
          </form>
          <div class="text-center" ng-show="asksumanForm.$invalid && asksumanForm.category.$touched && asksumanForm.name.$touched && asksumanForm.email.$touched && asksumanForm.question.$touched" alert="role">
            Please enter all details
          </div>
          <div class="text-right btn-center">
            <button class="text-uppercase btn btn-primary btn-more" type="submit" ng-click="askSumanSubmit(asksuman,asksumanForm)">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-about">
  <div class="container">
    <div class="aboutus">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="about-info">
            <h3 class="text-uppercase brand-brown-dark2 font-semibold">About us</h3>
            <h5 class="font-semibold">Only the fit know how fabulous it feels.</h5>
            <p class="text-justify">At Selfcare a team of experts create designer diets to balance out a body-system that rights itself to suit your needs—be it weight loss, the need to circumvent aging, evade arthritis, diabetes or hypertension. Under the expert and experienced guidance of nutritionist Suman Agarwal , a qualified clinical nutritionist as well as a fitness expert, each nutrition plan is orchestrated to fit individualized needs without compromising on lifestyle. At Selfcare health overrides weight loss.</p>
            <div class="more btn-center">
              <a href="#/aboutus" class="text-uppercase btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="about-imgholder m-center">
            <img src="img/suman_priyanka.jpg" alt="" class="img-responsive m-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
