<div class="home-slider">
  <flex-slider flex-slide="slide in homeslider track by $index" animation="slide" class="carousel">
    <li>
      <div class="slide-holder relate">
        <img ng-src="{{slide.img}}">
        <div class="slider-info get-center text-center">
          <h2 class="text-uppercase brand-primary text-bold">{{slide.title}}</h2>
          <p>{{slide.descp}}</p>
          <button class="text-uppercase btn btn-primary" type="button">Know more</button>
        </div>
      </div>
    </li>
  </flex-slider>
</div>
<div class="container">
  <div class="health-design brand-brown-bg relate">
    <h4 class="text-capitalize inline-block">Health design by suman agarwal</h4>
    <div class="img-holder get-round">
    </div>
    <div class="pull-right more-abt-suman">
      <a href="#meet" class="text-uppercase inline-block">More about suman <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
  <div class="health-cat">
    <div class="row">
      <div class="col-md-4">
        <div class="health-info">
          <h3 class="brand-primary title text-uppercase text-bold">Health <span class="block">Packages</span></h3>
          <p class="text-justify health-descp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
          <button class="btn btn-primary text-uppercase" type="button">know more</button>
          <div class="health-imgholder">
            <img src="img/health-package.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="health-info">
          <h3 class="brand-yellow title text-uppercase  text-bold">Health <span class="block">Products</span></h3>
          <p class="text-justify health-descp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
          <button class="btn btn-yellow text-uppercase" type="button">know more</button>
          <div class="health-imgholder">
            <img src="img/health-products.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="health-info">
          <h3 class="brand-blue title text-uppercase  text-bold">cool <span class="block">sculpting</span></h3>
          <p class="text-justify health-descp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
          <button class="btn btn-blue text-uppercase" type="button">know more</button>
          <div class="health-imgholder">
            <img src="img/cool-sculpting.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="brand-primary-bg people-info">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-4">
            <div class="info text-center">
              <div class=" inline-block v-top">
                <h5 class="text-uppercase text-bold brand-brown-dark health-title">Total number of
                  <span class="block">Clients</span>
                </h5>
                <h3 class="health-count text-left white text-bold">10348</h3>
              </div>
              <div class="icon inline-block v-top">
                <img src="img/user.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info  text-center">
              <div class="inline-block v-top">
                <h5 class="text-uppercase text-bold brand-brown-dark health-title">Total
                  <span class="block count">Weight Loss</span>
                </h5>
                <h3 class="health-count text-left white text-bold">7500
                  <span>in kgs</span>
                </h3>
              </div>
              <div class="icon inline-block">
                <img src="img/weight-meter.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info  text-center">
              <div class="inline-block v-top">
                <h5 class="text-uppercase text-bold  brand-brown-dark health-title">Presence in
                  <span class="block">Countries</span>
                </h5>
                <h3 class="health-count text-left white text-bold">38</h3>
              </div>
              <div class="icon inline-block">
                <img src="img/world.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="brand-brown-bg section-story">
  <div class="container">
    <div class="slider brand-brown-light-bg">
   <carousel interval="myInterval" no-wrap="noWrapSlides">
        <slide ng-repeat="slide in homestory" active="slide.active">
          <div class="row">
            <div class="col-md-6">
              <div class="story-video">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/dnmzOqhu62k" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <div class="view-detail relate">
                <h4 class="text-left brand-brown-dark name">{{slide.name}}</h4>
                <span class="text-left block brand-primary letter-space">{{slide.location}}</span>
                <div class="descp brand-primary">
                  <p class="text-justify">{{slide.descp}}</p>
                </div>
                <div class="get-round weight-info text-center">
                  <span class="text-uppercase brand-brown-dark-bg">Lost</span>
                  <br>
                  <span class="weight-count">{{slide.weight}}kgs</span>
                </div>
              </div>
            </div>
          </div>
          <!--
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
          </div>
-->
        </slide>
      </carousel>
    </div>
  </div>
</div>
<div class="health-diet">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-6">
            <div class="diet-info">
              <h4 class="text-center text-bold letter-space">RECIPES</h4>
              <div class="diet-holder m-center">
                <img src="img/recipes.png" alt="" class="img-responsive m-center">
              </div>
              <p class="descp m-center">Recipes that help you eat right without compromising on taste.</p>
              <div class="more text-center">
                <button class="btn btn-primary text-uppercase" type="button">Try them</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="diet-info">
              <h4 class="text-center text-bold letter-space">CALORIE METER</h4>
              <div class="diet-holder m-center">
                <img src="img/calorie.png" alt="" class="img-responsive m-center">
              </div>
              <p class="descp m-center">Browse through nutritional information of your favourite foods with this easy to use calculator and learn which foods and beverages work for your waistline and which don't.</p>
              <div class="more text-center">
                <button class="btn btn-primary text-uppercase" type="button">track them</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-section brand-brown-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="blog-main brand-graylight-bg">
          <div class="heading">
            <h4 class="text-bold">BLOG</h4>
          </div>
          <div class="blog-info">
            <div class="row">
              <div class="col-md-4">
                <div class="blog-imgholder">
                  <img src="img/blog1.png" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-8">
                <div class="blog-imginfo">
                  <p class="letter-space">Anti Ageing Tips</p>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-info">
            <div class="row">
              <div class="col-md-4">
                <div class="blog-imgholder ">
                  <img src="img/blog2.png" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-8">
                <div class="blog-imginfo">
                  <p class="letter-space">Calcium For All Ages And Genders</p>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-info">
            <div class="row">
              <div class="col-md-4">
                <div class="blog-imgholder">
                  <img src="img/blog3.png" alt="" class="img-responsive">
                </div>
              </div>
              <div class="col-md-8">
                <div class="blog-imginfo last-blog-info">
                  <p class="letter-space">Calories In Cocktails</p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-right">
            <button class="text-uppercase btn btn-primary" type="button">Read more</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="askqts blog-main brand-graylight-bg">
          <div class="heading">
            <h4>ASK
              <span class="text-light">SUMAN</span>
            </h4>
          </div>
          <h4 class="letter-space">Ask and get an answer on the healthiest food tips</h4>
          <form action="">
            <div class="form-group relate">
              <select name="" id="" class="form-control">
                <option value="">Choose a Category</option>
                <option value="">Category 1</option>
                <option value="">Category 2</option>
                <option value="">Category 3</option>
              </select>
              <span class="caret white"></span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Type your question here..."></textarea>
            </div>
          </form>
          <div class="text-right">
            <button class="text-uppercase btn btn-primary btn-more" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-about">
  <div class="container">
    <div class="aboutus">
      <div class="row">
        <div class="col-md-6">
          <div class="about-info">
            <h3 class="text-uppercase brand-brown-dark2">About us</h3>
            <h5 class="text-bold">Only the fit know how fabulous it feels.</h5>
            <p class="text-justify">At Selfcare a team of experts create designer diets to balance out a body-system that rights itself to suit your needs—be it weight loss, the need to circumvent aging, evade arthritis, diabetes or hypertension. Under the expert and experienced guidance of nutritionist Suman Agarwal , a qualified clinical nutritionist as well as a fitness...</p>
            <div class="more">
              <a href="#/aboutus" class="text-uppercase btn btn-primary">know more</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-imgholder m-center">
            <img src="img/suman_priyanka.jpg" alt="" class="img-responsive m-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
