<section>
  <div class="selfcare-image">
    <img src="img/banners/image-consulting.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Image Consulting</h2>
  </div>

  <div class="container">
    <!-- <div class="consult-detail get-up brand-brown-bg white rel health-descp">
      <p>An AICI consultant, Tina is a PersonalImage consultant, Corporate Speaker and Personal Stylist.She has a masters degree in Luxury Marketing and Management fom France. She has practiced her image and Grooming skills in the luxury industry in fashion across the globe in France, Germany, China and Hong Kong.</p>
      <p>Tina hopes to empower people by teaching them the power of Image and Personal Branding.</p>
      <p>Her personal styling services caters to clients at all ages from 14 years onwards men, women and younger girls. Her services involve personal styling for men and women, bridal and trousseau services as well as corporate image management.</p>
      <p>Her recent achievements include; A diploma in Personal Branding &amp; Menswear from the prestigious Image Professional Institute - NY, USA.</p>
      <p>Adding to this she is now part of the faculty at Fashion Institute and representative of UK-Nottingham Mumbai Pearl Academy.</p>
    </div> -->
  </div>

  <!-- <div class="consults">
    <div class="container">
      <div class="inner-consults">
        <div class="row">

          <div class="col-md-6 col-sm-6 ">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/analysis.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">The <span>Analysis</span></h3>
                <p>Discover your best colors, body shape to know you best fit and style</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 ">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/wardrobe.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Wardrobe <span>Management</span></h3>
                <p>Develop a wardrobe that projects your personality</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 ">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/grooming.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">The <span>Grooming</span></h3>
                <p>Basic Makeup application &amp; Hair styling</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 ">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/shopping.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Personalized <span>Shopping</span></h3>
                <p>Sttyling &amp; enhancing the way your dress</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 ">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/make-up.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Advanced <span>Make-up</span></h3>
                <p>Advanced makeup application &amp; Makeup buying for the client</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 ">
            <div class="single-consult">
              <div class="consult-image">
                <img src="img/consulting/styling.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Personalized <span>Styling</span></h3>
                <p>Building the wardrobe - Learn how to shop future</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 ">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/hair.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Hair <span>&amp; Styling</span></h3>
                <p>care &amp; styling &amp; quick tips for easy maintenance</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 ">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/accessories.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Accessorizing <span>&amp; Styling</span></h3>
                <p>Accessorizing and styling with statement pieces</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="we-enroll">
    <div class="container">
      <h2 class="text-uppercase text-center font-semibold">How do we enroll:</h2>

      <div class="session-one">
        <div class="row">

          <div class="col-md-6">
            <div class="single-session">
              <div class="row">

                <div class="col-md-4">
                  <div class="session-number brand-primary-bg text-center">
                    <span class="font-gotham-bold">2</span>
                    <h4 class="text-uppercase white font-gotham-bold">Sessions</h4>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="session-charges brand-brown-bg text-center">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="inner-session">
                          <p class="text-uppercase white charge font-gotham-bold">Charges</p>
                          <p>Rs 10000</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <p class="text-uppercase services font-gotham"><span class="block font-gotham-bold">Pick any 2</span> of the above services</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-session">
              <div class="row">

                <div class="col-md-4">
                  <div class="session-number brand-primary-bg text-center">
                    <span class="font-gotham-bold">8</span>
                    <h4 class="text-uppercase white font-gotham-bold">Sessions</h4>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="session-charges brand-brown-bg text-center">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="inner-session">
                          <p class="text-uppercase white charge font-gotham-bold">Charges</p>
                          <p>Rs 27500</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <p class="text-uppercase services font-gotham"><span class="block font-gotham-bold">Pick any 8</span> of the above services</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="session-two">
        <div class="row">

          <div class="col-md-6">
            <div class="single-session">
              <div class="row">

                <div class="col-md-4">
                  <div class="session-number brand-primary-bg text-center">
                    <span class="font-gotham-bold">4</span>
                    <h4 class="text-uppercase white font-gotham-bold">Sessions</h4>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="session-charges brand-brown-bg text-center">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="inner-session">
                          <p class="text-uppercase white charge font-gotham-bold">Charges</p>
                          <p>Rs 15000</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <p class="text-uppercase services font-gotham"><span class="block font-gotham-bold">Pick any 4</span> of the above services</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-session last">
              <div class="row">

                <div class="col-md-4">
                  <div class="session-number brand-primary-bg text-center">
                    <span class="font-gotham-bold">12</span>
                    <h4 class="text-uppercase white font-gotham-bold">Sessions</h4>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="session-charges brand-brown-bg text-center">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="inner-session">
                          <p class="text-uppercase white charge font-gotham-bold">Charges</p>
                          <p>Rs 42500</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <p class="text-uppercase services font-gotham"><span class="block font-gotham-bold">Make your</span> plan with tina</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div> -->
  <div class="consulting">
    <div class="tina consult-back">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="more-abt-tina">
              <h2 class="text-uppercase brand-primary consult-head">know more about tina</h2>
              <div class="descp text-justify">
                <p class="">
                  An AICI consultant Tina is a <b>Personal Image consultant, Corporate Speaker and Personal Stylist.</b> She has a masters degree in Luxury Marketing and Management from France. She has practiced her Image and Grooming skills in the luxury
                  industry in fashion across the globe in <b>France, Germany, China and Hong Kong.</b> Tina hopes to <b>empower people by teaching them</b> the power of <b>Image &amp; Personal Branding.</b>
                </p>
                <p class="">Her personal styling services caters to clients at all ages from 14 years onwards men, women and younger girls. <b>Her services involve personal styling for men and women, bridal and trousseau services as well as corporate image management.</b></p>
                <p class="">
                  Her recent achievements include; A diploma in Personal Branding &amp; Menswear from the prestigious <b>Image Professional Institute - NY, USA.</b></p>
                <p class="">Adding to this she is now part of the faculty at <b>Fashion institute and representative of UK-Nottingham in Mumbai Pearl Academy.</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tagline consult-back right-pattern">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="tag-text">
              <h3 class="brand-primary text-center">A reflection of our personality, our visual appearance creates
          the first &amp; lasting impression on the opposite person’s mind</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="services consult-back left-pattern">
      <div class="container">
        <h2 class="text-uppercase brand-primary consult-head">our services include</h2>
        <div class="service-list">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <div class="service-info">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="service-imgholder">
                          <img src="img/consulting/analysis.png" alt="" class="img-responsive m-center">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="service-detail">
                          <h3 class="title">The Analysis</h3>
                          <p class="descp">Discover the best colors, body shape to know your best fit and style</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="service-imgholder">
                          <img src="img/consulting/wardrobe.png" alt="" class="img-responsive m-center">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="service-detail">
                          <h3 class="title">Wardrobe Management</h3>
                          <p class="descp">Develope a wardrobe that projects your personality</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-info">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="service-imgholder">
                          <img src="img/consulting/grooming.png" alt="" class="img-responsive m-center">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="service-detail">
                          <h3 class="title">The Grooming</h3>
                          <p class="descp">Basic makeup application and hair styling</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="service-imgholder">
                          <img src="img/consulting/shopping.png" alt="" class="img-responsive m-center">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="service-detail">
                          <h3 class="title">Personality Shopping</h3>
                          <p class="descp">Styling and enhancing the way you dress</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-info">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="service-imgholder">
                          <img src="img/consulting/makeup.png" alt="" class="img-responsive m-center">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="service-detail">
                          <h3 class="title">Advanced Makeup</h3>
                          <p class="descp">Advanced makeup application &amp; makeup buying for the client</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="service-imgholder">
                          <img src="img/consulting/styling.png" alt="" class="img-responsive m-center">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="service-detail">
                          <h3 class="title">Personalized Styling</h3>
                          <p class="descp">Building the wardrobe - Learn how to shop for the future</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-info">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="service-imgholder">
                          <img src="img/consulting/hair.png" alt="" class="img-responsive m-center">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="service-detail">
                          <h3 class="title">Hair and Hairstyling</h3>
                          <p class="descp">Care &amp; styling and quick tips for easy maintenance</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="service-imgholder">
                          <img src="img/consulting/acessory.png" alt="" class="img-responsive m-center">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="service-detail">
                          <h3 class="title">Accessorizing &amp; Styling</h3>
                          <p class="descp">Accessorizing and styling with statement pieces</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="packages women consult-back right-pattern">
      <div class="container">
        <div class="pack-women">
          <h2 class="text-uppercase brand-primary text-center consult-head">packages for women</h2>
          <div class="package-list">
            <div class="row">
              <div class="col-md-6">
                <div class="package-chart">
                  <div class="row">
                    <div class="col-md-3 col-sm-3 ">
                      <div class="consult-chart relate inline-block text-center">
                        <span class="noconsult brand-brown-dark font-semibold">2</span>
                        <span class="text-uppercase white session font-gotham-bold">sessions</span>
                      </div>
                    </div>
                    <div class="col-md-7 col-sm-8">
                      <div class="session-charges brand-brown-bg">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="price">
                              <span class="block">Charges</span>
                              <span class="block money"><i class="fa fa-inr">10000</i></span>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="session-descp">
                              <span class="block text-center white">Pick any 2 of the above services</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="package-chart">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <div class="consult-chart relate inline-block text-center">
                        <span class="noconsult brand-brown-dark font-semibold">8</span>
                        <span class="text-uppercase white session font-gotham-bold">sessions</span>
                      </div>
                    </div>
                    <div class="col-md-7 col-sm-8">
                      <div class="session-charges brand-brown-bg">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="price">
                              <span class="block">Charges</span>
                              <span class="block money"><i class="fa fa-inr">27500</i></span>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="session-descp">
                              <span class="block text-center white">Pick all 8 or make your plan with Tina</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="package-chart">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <div class="consult-chart relate inline-block text-center">
                        <span class="noconsult brand-brown-dark font-semibold">4</span>
                        <span class="text-uppercase white session font-gotham-bold">sessions</span>
                      </div>
                    </div>
                    <div class="col-md-7 col-sm-8">
                      <div class="session-charges brand-brown-bg">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="price">
                              <span class="block">Charges</span>
                              <span class="block money"><i class="fa fa-inr">15000</i></span>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="session-descp">
                              <span class="block text-center white">Pick any 4 of the above services</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="package-chart">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <div class="consult-chart relate inline-block text-center">
                        <span class="noconsult brand-brown-dark font-semibold">12</span>
                        <span class="text-uppercase white session font-gotham-bold">sessions</span>
                      </div>
                    </div>
                    <div class="col-md-7 col-sm-8">
                      <div class="session-charges brand-brown-bg">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="price">
                              <span class="block">Charges</span>
                              <span class="block money"><i class="fa fa-inr">42500</i></span>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="session-descp">
                              <span class="block text-center white">Make your plan with Tina</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="packages men consult-back left-pattern">
      <div class="container">
        <div class="pack-men">
          <h2 class="text-uppercase brand-primary text-center consult-head">packages for women</h2>
          <div class="package-list">
            <div class="row">
              <div class="col-md-6">
                <div class="package-chart">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <div class="consult-chart relate inline-block text-center">
                        <span class="noconsult brand-brown-dark font-semibold">4</span>
                        <span class="text-uppercase white session font-gotham-bold">sessions</span>
                      </div>
                    </div>
                    <div class="col-md-7 col-sm-8">
                      <div class="session-charges brand-brown-bg">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="price">
                              <span class="block">Charges</span>
                              <span class="block money"><i class="fa fa-inr">25000</i></span>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="session-descp">
                              <span class="block text-center white">1 Month Duration</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="package-chart">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <div class="consult-chart relate inline-block text-center">
                        <span class="noconsult brand-brown-dark font-semibold">8</span>
                        <span class="text-uppercase white session font-gotham-bold">sessions</span>
                      </div>
                    </div>
                    <div class="col-md-7 col-sm-8">
                      <div class="session-charges brand-brown-bg">
                        <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="price">
                              <span class="block">Charges</span>
                              <span class="block money"><i class="fa fa-inr">45000</i></span>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="session-descp">
                              <span class="block text-center white">2 Months Duration</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="package-list">
            <div class="row">
              <div class="col-md-6">
                <div class="package-detail">
                  <h3>Corporate Styling</h3>
                  <ul>
                    <li>Mens wardrobe analysis and initial analysis</li>
                    <li>Business wear design and shopping for 2 suits</li>
                    <li>Accesory including shoes, cufflinks, sunglasses, frames, ties etc.</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="package-detail">
                  <h3>Ultimate Corporate Styling</h3>
                  <ul>
                    <li>Complete wardrobe analysis and initial assessment</li>
                    <li>Complete wardrobe building exercise</li>
                    <li>Personal branding</li>
                    <li>Business to casual wear dressing</li>
                    <li>Accessories including shoes, cufflinks, sunglasses, frames, ties</li>
                    <li>Body languange and business etiquette tips</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="consult-testimonal consult-back right-pattern ">
      <div class="container">
        <h2 class="text-uppercase brand-primary text-center consult-head">testimonials</h2>
        <div class="testimonial-list">
          <div class="row">
            <div class="col-md-2 col-sm-3">
              <div class="testimonial-imgholder">
                <img src="img/consulting/test-img1.png" alt="" class="img-responsive m-center">
              </div>
            </div>
            <div class="col-md-10 col-sm-9">
              <div class="testi-detail">
                <h3 class="name brand-primary m-clear visible-xs">Amruta Mapuskar</h3>
                <h4 class="profession brand-primary m-clear visible-xs">Profesional and Dancer</h4>
                <p class="text-justify">A girl with amazing fashion sense. Instead of writing something about you I would like to be honest and confess the changes you brought in my fashion sense. You made me realise rather than running after and spending huge amount of money
                  on fashionable designer clothes, it is important to have good physic. Your skill in fixing &amp; matching out of existing clothes &amp; taking care of pocket is well appreciated. I would like to mention that my fashion sense right from
                  head to toe has been very well taken care by you.</p>
                <h3 class="name brand-primary m-clear hidden-xs">Amruta Mapuskar</h3>
                <h4 class="profession brand-primary m-clear hidden-xs">Profesional and Dancer</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-list">
          <div class="row">
            <div class="col-md-2 col-sm-3 visible-xs">
              <div class="testimonial-imgholder">
                <img src="img/consulting/test-img2.png" alt="" class="img-responsive m-center">
              </div>
            </div>
            <div class="col-md-10 col-sm-9">
              <div class="testi-detail">
                <h3 class="name brand-primary m-clear visible-xs">Roy</h3>
                <p class="text-justify">Improvement in image and grooming requires personal care! That’s exactly what TINA provides with her complete uniqueness and thorough understanding of my needs! What’s WOW is the value for money. She brings added freshness in an individual’s
                  self esteem. Journey has just begun.</p>
                <h3 class="name brand-primary m-clear hidden-xs">Roy</h3>
              </div>
            </div>
            <div class="col-md-2 col-sm-3 hidden-xs">
              <div class="testimonial-imgholder">
                <img src="img/consulting/test-img2.png" alt="" class="img-responsive m-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
