<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Image Consulting</h2>
  </div>

  <div class="container">
    <div class="consult-detail get-up brand-brown-bg white rel">
      <p>An AICI consultant, Tina is a PersonalImage consultant, Corporate Speaker and Personal Stylist.She has a masters degree in Luxury Marketing and Management fom France. She has practiced her image and Grooming skills in the luxury industry in fashion across the globe in France, Germany, China and Hong Kong.</p>
      <p>Tina hopes to empower people by teaching them the power of Image and Personal Branding.</p>
      <p>Her personal styling services caters to clients at all ages from 14 years onwards men, women and younger girls. Her services involve personal styling for men and women, bridal and trousseau services as well as corporate image management.</p>
      <p>Her recent achievements include; A diploma in Personal Branding &amp; Menswear from the prestigious Image Professional Institute - NY, USA.</p>
      <p>Adding to this she is now part of the faculty at Fashion Institute and representative of UK-Nottingham Mumbai Pearl Academy.</p>
    </div>
  </div>

  <div class="consults">
    <div class="container">
      <div class="inner-consults">
        <div class="row">

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/analysis.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">The <span>Analysis</span></h3>
                <p>Discover your best colors, body shape to know you best fit and style</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/wardrobe.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Wardrobe <span>Management</span></h3>
                <p>Develop a wardrobe that projects your personality</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/grooming.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">The <span>Grooming</span></h3>
                <p>Basic Makeup application &amp; Hair styling</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/shopping.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Personalized <span>Shopping</span></h3>
                <p>Sttyling &amp; enhancing the way your dress</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/make-up.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Advanced <span>Make-up</span></h3>
                <p>Advanced makeup application &amp; Makeup buying for the client</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-consult">
              <div class="consult-image">
                <img src="img/consulting/styling.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Personalized <span>Styling</span></h3>
                <p>Building the wardrobe - Learn how to shop future</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/hair.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Hair <span>&amp; Styling</span></h3>
                <p>care &amp; styling &amp; quick tips for easy maintenance</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-consult">
              <div class="consult-image v-top">
                <img src="img/consulting/accessories.png" alt="" class="img-responsive">
              </div>
              <div class="consult-title">
                <h3 class="text-uppercase brand-primary font-semibold">Accessorizing <span>&amp; Styling</span></h3>
                <p>Accessorizing and styling with statement pieces</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="we-enroll font-gotham">
    <div class="container">
      <h2 class="text-uppercase text-center">How do we enroll:</h2>

      <div class="session-one">
        <div class="row">

          <div class="col-md-6">
            <div class="single-session">
              <div class="row">

                <div class="col-md-4">
                  <div class="session-number brand-primary-bg text-center">
                    <span>2</span>
                    <h4 class="text-uppercase white">Sessions</h4>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="session-charges brand-brown-bg text-center">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="inner-session">
                          <p class="text-uppercase white charge">Charges</p>
                          <p>Rs 10000</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <p class="text-uppercase services"><span class="block">Pick any 2</span> of the above services</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-session">
              <div class="row">

                <div class="col-md-4">
                  <div class="session-number brand-primary-bg text-center">
                    <span>8</span>
                    <h4 class="text-uppercase white">Sessions</h4>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="session-charges brand-brown-bg text-center">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="inner-session">
                          <p class="text-uppercase white charge">Charges</p>
                          <p>Rs 27500</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <p class="text-uppercase services"><span class="block">Pick any 8</span> of the above services</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="session-two">
        <div class="row">

          <div class="col-md-6">
            <div class="single-session">
              <div class="row">

                <div class="col-md-4">
                  <div class="session-number brand-primary-bg text-center">
                    <span>4</span>
                    <h4 class="text-uppercase white">Sessions</h4>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="session-charges brand-brown-bg text-center">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="inner-session">
                          <p class="text-uppercase white charge">Charges</p>
                          <p>Rs 15000</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <p class="text-uppercase services"><span class="block">Pick any 4</span> of the above services</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-session last">
              <div class="row">

                <div class="col-md-4">
                  <div class="session-number brand-primary-bg text-center">
                    <span>12</span>
                    <h4 class="text-uppercase white">Sessions</h4>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="session-charges brand-brown-bg text-center">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="inner-session">
                          <p class="text-uppercase white charge">Charges</p>
                          <p>Rs 42500</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <p class="text-uppercase services"><span class="block">Make your</span> plan with tina</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
