<section>
  <div class="selfcare-image">
    <img src="img/banners/stats.jpg" alt="">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">Know your stats</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="calorie-meter">
          <uib-accordion close-others="oneAtATime" is-open="status.open">
            <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
              <uib-accordion-heading> Calorie Meter<i class="open-me fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>
              </uib-accordion-heading>
              <div class="calorie-detail">
                <div class="choose-prd">
                  <div class="row">
                    <div class="col-md-5 col-sm-5">
                      <div class="text-center">
                        <span class="text-uppercase inline-block">Choose a food group :</span>
                        <select class="" ng-change="getProducts(productrequest.category)" ng-model="productrequest.category">
                          <option ng-repeat="category in foodgroup" value="{{category.name}}">{{category.name}}</option>

                        </select>
                      </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                      <div class="text-center">
                        <span class="text-uppercase inline-block">Pick a product :</span>
                        <select class="" ng-model="productrequest.product">
                          <option ng-repeat="item in products" value="{{item.name}}">{{item.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                      <div class="text-center">
                        <a href="" class="text-uppercase white brand-primary-bg calorie-btn" ng-click="go(productrequest)">Go</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="result">
                  <div class="row">
                    <div class="col-md-5">
                        <p class="burn">
                          <span class="text-uppercase">Results</span>
                          <i class="brand-primary">(for {{calcproduct.product || 'Product'}})</i>
                        </p>
                        <input class="result-number" type="number" ng-model= "filter.quantity">
                        <span class="multiply"> x </span>
                        <span>{{calcproduct.measurements || 'x quantity = x gms'}}</span>
                        <a href="" class="text-uppercase white brand-primary-bg calorie-btn" ng-click="checkCalculate(filter.quantity)">Go</a>
                    </div>

                    <div class="col-md-7">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="calorie">
                            <div class="calorie-number white brand-primary-bg inline-block">{{calcproduct.calorie || '0'}}</div>
                            <div class="inline-block kcal v-top">
                              <span class="block brand-primary">Calorie</span>
                              <span class="block brand-primary">kcal</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                          <div class="nutrients inline-block">
                            <span class="block">Protein (gms)</span>
                            <span class="block">Fat (gms)</span>
                            <span class="block">Carbs (gms)</span>
                          </div>
                        </div>
                        <div class="col-md-offset-1 col-md-3 col-sm-6 col-xs-6">
                          <div class="nutrients-numbers inline-block text-right">
                            <span class="block">{{calcproduct.protein || '0'}}</span>
                            <span class="block">{{calcproduct.fat || '0'}}</span>
                            <span class="block">{{calcproduct.carbs || '0'}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="">
                  <div class="calorie-count">
                    <p class="burn">
                      <span class="text-uppercase">How to burn {{calcproduct.calorie || '0'}} calories</span>
                      <i class="brand-primary">(to burn {{calcproduct.calorie || '0'}} calories, you could do any of the following)</i>
                    </p>
                    <div class="walking count-cat">
                      <span class="white brand-primary-bg calorie-btn">{{filter.walking || '0'}} mins</span>
                      <img src="img/stats/walking.png" alt="" class="img-responsive inline-block">
                      <span class="brand-brown-dark2">Walking</span>
                    </div>
                    <div class="running count-cat">
                      <span class="white brand-primary-bg calorie-btn">{{filter.running || '0'}} mins</span>
                      <img src="img/stats/running.png" alt="" class="img-responsive inline-block">
                      <span class="brand-brown-dark2">Running</span>
                    </div>
                    <div class="swimming count-cat">
                      <span class="white brand-primary-bg calorie-btn">{{filter.swimming || '0'}} mins</span>
                      <img src="img/stats/swimming.png" alt="" class="img-responsive inline-block">
                      <span class="brand-brown-dark2">Swimming</span>
                    </div>
                    <div class="cycling count-cat">
                      <span class="white brand-primary-bg calorie-btn">{{filter.cycling || '0'}} mins</span>
                      <img src="img/stats/cycling.png" alt="" class="img-responsive inline-block">
                      <span class="brand-brown-dark2">Cycling</span>
                    </div>
                  </div>
                </div>
              </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open2">
              <uib-accordion-heading>
                BMI Calculator<i class="open-me fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i>
              </uib-accordion-heading>
              <div class="bmi-detail">
                <div class="bmi-cal">
                  <span class="text-uppercase bmi-heading inline-block">Sex:</span>
                  <a class="male gender text-uppercase inline-block" ng-click="maleactive = true;" ng-class="{'brand-primary-bg':maleactive}">Male <img src="img/stats/male.png" alt="" class="img-responsive inline-block"></a>
                  <a class="female gender text-uppercase inline-block">Female <img src="img/stats/female.png" alt="" class="img-responsive inline-block"></a>
                </div>

                <div class="bmi-cal">
                  <span class="text-uppercase bmi-heading inline-block">Age:</span>
                  <input type="number" class="age" />
                </div>

                <div class="bmi-cal">
                  <span class="text-uppercase bmi-heading inline-block">Height:</span>
                  <select ng-change="heightChange(bmi.height)" ng-model="bmi.height" class="feet text-uppercase">
                    <option value="feet">feet</option>
                    <option value="meter">meter</option>
                  </select>
                  <select ng-show="footfield" ng-model="bmi.feet.ft" class="ft text-uppercase">
                    <option value="">ft</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                  <select ng-show="footfield" ng-model="bmi.feet.inc" class="inc text-uppercase">
                    <option value="">inc</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    </select>
                    <input ng-show="meterfield" type="number" ng-model="bmi.meter" class="weight" placeholder="0"/>
                </div>

                <div class="bmi-cal">
                  <span class="text-uppercase bmi-heading inline-block">Weight:</span>
                  <input type="number" ng-model="bmi.weight" class="weight" />
                  <select class="kgs text-uppercase">
                    <option>kgs</option>
                  </select>
                </div>
                <div class="bmi-cal">
                  <a href="" class="btn btn-primary text-uppercase no-radius calorie-btn" ng-click="calculateBMI(bmi)">calculate bmi</a>
                </div>
              </div>
              <div class="bmi-result">
                <div class="custom-scroll">
                  <div class="scroll-stats">
                    <div class="result-bar relate">
                      <div class="progress">
                        <div class="progress-bar severly severly-under same-progressdata">
                          <span>SEVERLY UNDERWEIGHT</span>
                        </div>
                        <div class="progress-bar under same-progressdata">
                          <span>UNDER WEIGHT</span>
                        </div>
                        <div class="progress-bar normal same-progressdata">
                          <span>NORMAL</span>
                        </div>
                        <div class="progress-bar over same-progressdata">
                          <span>OVERWEIGHT</span>
                        </div>
                        <div class="progress-bar severly-obese obese same-progressdata">
                          <span>OBESE</span>
                        </div>
                      </div>
                      <div class="progress-calcu brand-primary-bg" ng-style="{'left':(resultpercent-3.5)+'%'}">
                        <div class="bmi-ans">
                          <span class="inline-block text-uppercase urbmi">your bmi</span>
                          <span class="resultcal">{{result}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="resultbar-detail">
                  <h4 class="text-uppercase">We recommended you to join our following program :</h4>
                  <div class="bmi-package">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="package-name bmi-health text-center">
                          <span class="text-uppercase brand-primary">Health management</span>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="package-descp bmi-healthdescp">
                          <p>Select any one of the programmes we offer to help boost your immunity and to obtain specific guidance on general health concerns.</p>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="text-center package-more">
                          <button class="btn btn-primary no-radius text-uppercase" ui-sref="healthmanagement">know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bmi-package">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="package-name bmi-weight text-center">
                          <span class="text-uppercase">weight <br>loss</span>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="package-descp">
                          <p>Your health and immunity are as important as your weight loss goals. Along with the diet, blood tests and diet plans, a well-planned exercise schedule is also crafted to address specific health issues. Most importantly, we believe it's vital to achieve optimal weight for better long term health and to keep it off thereafter. Click on the link and take a look at the programmes we offer.</p>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="text-center package-more">
                          <button class="btn btn-primary no-radius text-uppercase" ui-sref="weightmanagement">know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bmi-package">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="package-name bmi-cool text-center">
                          <span class="text-uppercase">cool <br>sculpting</span>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="package-descp">
                          <p>The CoolSculpting procedure eliminates stubborn fat safely and effectively, without surgery or downtime. This fat reduction treatment is the only FDA-cleared program to use controlled cooling to safely target and eliminate diet and exercise resistant fat. CoolSculpting results are proven, noticeable, and lasting, so you'll look and feel great from every angle. Click here to know more about the procedure.
</p>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="text-center package-more">
                          <button class="btn btn-primary no-radius text-uppercase" ui-sref="coolsculpting">know more</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary no-radius">RE-CALCULATE</button>
                </div>
              </div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
