<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">Know your stats</h2>
    </div>
  </div>

  <div class="container">
    <div class="calorie-meter">
      <uib-accordion close-others="oneAtATime" is-open="status.open">
        <uib-accordion-group is-open="status.isFirstOpen" is-disabled= "status.isFirstDisabled">
          <uib-accordion-heading>
            <span class="text-uppercase white">Calorie Meter</span> <i class="open-me fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>
          </uib-accordion-heading>
          <div class="calorie-detail">
            <div class="row">
              <div class="col-md-5">
                <div class="col-md-6">
                  <span class="text-uppercase">Choose a food group :</span>
                </div>
                <div class="col-md-6">
                  <select class="">
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="col-md-5">
                <div class="col-md-6">
                  <span class="text-uppercase">Pick a product :</span>
                </div>
                <div class="col-md-6">
                  <select class="">
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <a href="" class="text-uppercase white brand-primary-bg">Go</a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <p>
                  <span class="text-uppercase">Results</span>
                  <span class="brand-primary">(for Lorem Ipsum product)</span>
                </p>
                <span class="result-number">1</span>
                <span> x 1 biscuit = 9 gm</span>
                <a href="" class="text-uppercase white brand-primary-bg">Go</a>
              </div>

              <div class="col-md-6">
                <div class="calorie inline-block">
                  <div class="calorie-number white brand-primary-bg block">44</div>
                  <span class="block brand-primary">Calorie</span>
                  <span class="block brand-primary">kcal</span>
                </div>
                <div class="nutrients inline-block">
                  <span class="block">Protein (gms)</span>
                  <span class="block">Fat (gms)</span>
                  <span class="block">Carbs (gms)</span>
                </div>
                <div class="nutrients-numbers inline-block">
                  <span class="block">0.7</span>
                  <span class="block">2.1</span>
                  <span class="block">6</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="calorie-count">
                <p>
                  <span class="text-uppercase">How to burn 44 calories</span>
                  <span class="brand-primary">(to burn 44 calories, you could do any of the following)</span>
                </p>
                <div class="walking">
                  <span class="white brand-primary-bg">8 mins</span>
                  <img src="" alt="" class="img-responsive">
                  <span>Walking</span>
                </div>
                <div class="running">
                  <span class="white brand-primary-bg">3 mins</span>
                  <img src="" alt="" class="img-responsive">
                  <span>Running</span>
                </div>
                <div class="swimming">
                  <span class="white brand-primary-bg">6 mins</span>
                  <img src="" alt="" class="img-responsive">
                  <span>Swimming</span>
                </div>
                <div class="cycling">
                  <span class="white brand-primary-bg">4 mins</span>
                  <img src="" alt="" class="img-responsive">
                  <span>cycling</span>
                </div>
              </div>
            </div>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.isFirstOpen" is-disabled= "status.isFirstDisabled">
          <uib-accordion-heading>
            <span class="text-uppercase white">Bmi Calculator</span> <i class="open-me fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>
          </uib-accordion-heading>
          <div class="bmi-detail">
            <div class="row">
              <span class="text-uppercase">Sex:</span>
              <span class="male text-uppercase">Male</span>
              <span class="female text-uppercase">Female</span>
            </div>

            <div class="row">
              <span class="text-uppercase">Age:</span>
              <input type="number" />
            </div>

            <div class="row">
              <span class="text-uppercase">Height:</span>
              <select class="feet text-uppercase">
                <option>feet</option>
              </select>
              <select class="ft text-uppercase">
                <option>ft</option>
              </select>
              <select class="inc text-uppercase">
                <option>inc</option>
              </select>
            </div>

            <div class="row">
              <span class="text-uppercase">Weight:</span>
              <input type="number" />
              <select class="kgs text-uppercase">
                <option>kgs</option>
              </select>
            </div>
          </div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</section>
