<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">News</h2>
  </div>

  <div class="news">
    <div class="container">
      <div class="slider">
        <!-- SLIDER -->
      </div>

      <div class="news-article" ng-repeat="article in news">
        <div class="row">
          <div class="col-md-4">
            <div class="article-image">
              <img ng-src="{{article.image1}}" alt="" class="doneloading">
            </div>
            <p>{{article.title1}}</p>
          </div>

          <div class="col-md-4">
            <div class="article-image">
              <img ng-src="{{article.image2}}" alt="" class="doneloading">
            </div>
            <p>{{article.title2}}</p>
          </div>

          <div class="col-md-4">
            <div class="article-image">
              <img ng-src="{{article.image3}}" alt="" class="doneloading">
            </div>
            <p>{{article.title3}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
