<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">News</h2>
  </div>

  <div class="news">
    <div class="container">
      <div class="slider">
        <!-- SLIDER -->
        <!-- <uib-carousel>
          <uib-slide ng-repeat="slide in slides" active="slide.active">
            <button type="button" class="btn brand-brown-bg white">{{slide.year}}</button>
          </uib-slide>
        </uib-carousel> -->
        <flex-slider class="carousel" flex-slide="year in yearslide track by $index" animation="" item-width="130" item-margin="5">
          <li>
            <button type="button" class="btn brand-brown-bg white" ng-click="activeTab(year);" ng-class="{'actif':year.year==activeYear.year}">{{year.year}}</button>
          </li>
        </flex-slider>
      </div>

      <div class="news-article">
        <div class="row">
          <div class="col-md-4 col-sm-4" ng-repeat="article in activeYear.news">

            <div class="article-image">
              <a fancybox-box href="{{article.image}}">
                <img ng-src="{{article.image}}" alt="" class="img-responsive">
              </a>
            </div>
            <p class="brand-brown-dark">{{article.title}}</p>
          </div>

          <!-- <div class="col-md-4 col-sm-4">
            <div class="article-image">
            <a fancybox-box href="{{article.image2}}">  <img ng-src="{{article.image2}}" alt="" class="img-responsive"></a>
            </div>
            <p class="brand-brown-dark">{{article.title2}}</p>
          </div>

          <div class="col-md-4 col-sm-4">
            <div class="article-image">
              <a fancybox-box href="{{article.image3}}" ><img ng-src="{{article.image3}}" alt="" class="img-responsive"></a>
            </div>
            <p class="brand-brown-dark">{{article.title3}}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
