<section>
  <div class="selfcare-image">
    <img ng-src="{{product.product.bannerimg|serverimage}}" alt="" class="img-responsive">
  </div>

  <div class="container">
    <div class="alert-postion">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="text-center" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
        </div>
    <div class="product-detail">
      <div class="row">
        <div class="col-md-6">
          <div class="product-image">
            <img src="{{product.product.image | serverimage}}" alt="" class="img-responsive round">
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-10">
              <div class="prd-title">
                <h3 class="text-uppercase font-semibold">{{product.product.name || 'Loading..'}}
                </h3>
                <span class="text-center font-semibold brand-primary prd-price">
                  <i class="fa fa-inr"></i>
                  {{product.product.price}}</span>
              </div>
              <div class="prd-descp">
                <div class="product-price inline-block">
                  <p class="font-semibold">Net Weight:
                    {{product.product.netweight}}
                    gms</p>
                </div>
                <form action="" class="inline-block">
                  <div class="form-group relate">
                    <label for="quan" class="font-semibold">Quantity :</label>
                    <div class="custom-select inline-block">
                      <select ng-model="filter.quantity" required class="form-control" id="">
                        <option selected>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                      </select>
                      <span class="select-caret"></span>
                    </div>
                  </div>
                </form>
              </div>
              <div class="product-buttons">
                <a class="btn btn-primary text-uppercase" ng-click="cartAdd(product.product.id)"  data-toggle="modal">
                  Add to cart</a>
                <!-- <a ui-sref="home" class="btn btn-primary text-uppercase">Continue Shopping</a> -->
              </div>
            </div>
          </div>
          <div class="product-tab-detail">
            <tabset>
              <tab>
                <tab-heading>
                  <span class="text-uppercase font-semibold">About</span>
                </tab-heading>
                <div class="inner-product-detail" ng-bind-html="product.product.about || 'Loading..'"></div>
              </tab>
              <tab>
                <tab-heading>
                  <span class="text-uppercase font-semibold" ng-if="product.product.category != '4'">Nutritional Value</span>
                  <span class="text-uppercase font-semibold" ng-if="product.product.category == '4'">Reviews</span>
                </tab-heading>
                <div class="inner-product-detail" ng-bind-html="product.product.nutritional || 'Loading..'"></div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-also-like">
    <div class="container" ng-if="product.relatedproduct.length > 0">
      <h3 class="text-center text-uppercase brand-brown-dark font-semibold" >You may also like</h3>
      <!-- Slider -->
      <uib-carousel>
        <uib-slide ng-repeat="likes in product.relatedproduct">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="likepro in likes">
              <div class="inner-like text-center pointer" ui-sref="productdetail({
                id:likepro.id
              })">
                <div class="like-image">
                  <img ng-src="{{likepro.image | serverimage}}" alt="" class="img-responsive round"/>
                </div>
                <span class="text-uppercase brand-primary font-semibold">{{likepro.name}}
                  |
                  <i class="fa fa-inr"></i> {{likepro.price}}</span>
              </div>
            </div>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
</section>
<div class="successcart">
  <div class="modal fade" id="successcart" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
          <h3>Your product has been added to the cart, successfully!</h3>
          <div class="success-btn">
            <a href="#/healthproducts/1" class="btn btn-primary text-uppercase continue" data-dismiss="modal">Continue Shopping</a>
            <a class="btn btn-primary text-uppercase" ng-click="closeToCheckout()">Proceed to checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cart-fixed brand-primary-bg">
  <div class="relate">
    <a href="#/cart" ng-controller="countChange" class="ng-scope">
      <i class="fa fa-shopping-cart fa-2x white"></i>
      <div class="bagde round brand-primary-bg">
        <span class="white ng-binding">{{Count}}</span>
      </div>
    </a>
  </div>
</div>
