<section>
  <div class="selfcare-image">
    <img src="" alt="">
    <h2 class="text-uppercase">Health Products</h2>
  </div>

  <div class="container">
    <div class="product-detail">
      <p></p>
    </div>
  </div>

  <div class="product-categories">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="single-category">
            <div class="category-image">
              <img src="" alt="">
            </div>
            <h3 class="text-uppercase">Food Munchie &amp; Beverages</h3>
          </div>
        </div>

        <div class="col-md-6">
          <div class="single-category">
            <div class="category-image">
              <img src="" alt="">
            </div>
            <h3 class="text-uppercase">Vitamins &amp; Minerals</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="single-category">
            <div class="category-image">
              <img src="" alt="">
            </div>
            <h3 class="text-uppercase">Protein Supplement</h3>
          </div>
        </div>

        <div class="col-md-6">
          <div class="single-category">
            <div class="category-image">
              <img src="" alt="">
            </div>
            <h3 class="text-uppercase">Books &amp; Gadgets</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
