<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
  </div>

  <div class="container">
    <div class="product-detail">
      <div class="row">
        <div class="col-md-6">
          <div class="product-image">
            <img src="{{product.image | serverimage}}" alt="" class="img-responsive">
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-10">
              <h3 class="text-uppercase font-semibold">{{product.name || 'Loading..'}}
                <span class="text-center font-semibold brand-primary prd-price">
                  <i class="fa fa-inr"></i>
                  {{product.price}}</span>
              </h3>
              <div class="prd-descp">
                <div class="product-price inline-block">
                  <p class="font-semibold">Net Weight:
                    {{product.netweight}}
                    gms</p>
                </div>
                <form action="" class="inline-block">
                  <div class="form-group relate">
                    <label for="quan" class="font-semibold">Quantity :</label>
                    <div class="custom-select inline-block">
                      <select class="form-control" id="quan">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                      </select>
                      <span class="select-caret"></span>
                    </div>
                  </div>
                </form>
              </div>
              <div class="product-buttons">
                <a class="btn btn-primary text-uppercase" ng-click="cartAdd(product.id)">Add to cart</a>
                <a ui-sref="home" class="btn btn-primary text-uppercase">Continue Shopping</a>
              </div>
            </div>
          </div>
          <div class="product-tab-detail">
            <tabset>
              <tab>
                <tab-heading>
                  <span class="text-uppercase font-semibold">About</span>
                </tab-heading>
                <div class="inner-product-detail" ng-bind-html="product.about"></div>
              </tab>
              <tab>
                <tab-heading>
                  <span class="text-uppercase font-semibold">Nutritional Value</span>
                </tab-heading>
                <div class="inner-product-detail" ng-bind-html="product.nutritional"></div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-also-like">
    <div class="container">
      <h3 class="text-center text-uppercase brand-brown-dark font-semibold">You may also like</h3>
      <!-- Slider -->
      <uib-carousel>
        <uib-slide ng-repeat="likes in like">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="likepro in likes">
              <div class="inner-like text-center">
                <div class="like-image round">
                  <img ng-src="{{likepro.image}}" alt="" class="img-responsive"/>
                </div>
                <span class="text-uppercase brand-primary font-semibold">{{likepro.name}}
                  |
                  <i class="fa fa-inr"></i>{{likepro.price}}</span>
              </div>
            </div>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
</section>
