<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Health Products</h2>
  </div>

  <div class="container">
    <div class="get-up brand-brown-bg white rel health-descp">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="product-categories">
    <div class="container">
      <div class="row" ng-repeat="row in categories">
        <div class="col-md-6 col-sm-6 col-xs-6" ng-repeat="category in row">
          <div class="single-category text-center" ui-sref="healthproducts({id:category.id})">
            <div class="category-image round">
              <img ng-src="{{category.categoryimg}}" alt="" class="img-responsive">
            </div>
            <h3 class="text-uppercase brand-primary font-semibold">{{category.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
