<section>
  <div class="selfcare-image">
    <img src="img/banners/recepie.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Recipes</h2>
  </div>

  <div class="container">
    <div class="about-desc get-up brand-brown-bg white relate">
      <p class="health-descp">Recipes that help you eat right without compromising on taste.</p>
    </div>
  </div>

  <div class="recipes-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="recipe-imgholder round">
            <img src="img/recipes/baingan.jpg" alt="">
          </div>
          <div class="recipe-slider">
            <flex-slider class="carousel" flex-slide="slide in recipe track by $index" animation="slide" item-width="90" item-margin="15" Control-Nav="false">
              <li>
                <div class="recipe-category round">
                  <img ng-src="{{slide}}" alt="" class="img-responsive">
                </div>
              </li>
            </flex-slider>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="recipes-detail">
            <h2 class="text-uppercase font-semibold">Baingan Bharta</h2>
            <span>Roasted brinjal lightly cooked with spring onion flavour</span>
            <div class="recipes-menu font-semibold">
              <span class="block">Makes 1<sup>1/2</sup> cups</span>
              <span class="block">Serving size: 1/2 cup</span>
              <span class="block">Serves: 3</span>
            </div>
            <div class="recipes-time">
              <span class="block">Preparation time: 5 mins</span>
              <span class="block">Cooking time: 15 mins</span>
            </div>
          </div>
          <div class="recipe-accordion">
            <uib-accordion close-others="oneAtATime" is-open="status.open">
              <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                <uib-accordion-heading>
                  Ingredients <i class="open-me fa" ng-class="{'fa-minus': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>
                </uib-accordion-heading>
                <div class="recipe-descp">
                  <span class="block">1 large Brinjal (350 gms)</span>
<span class="block">1 large bulb of spring onion, chopped finely</span>
<span class="block">1/3  cup spring onion greens, chopped finely</span>
<span class="block">1 small tomato, chopped finely</span>
<span class="block">3 cloves garlic (optional), chopped finely</span>
<span class="block">1/4  tsp red chilli powder</span>
<span class="block">1/4  tsp turmeric powder</span>
<span class="block">Salt as per taste</span>
<span class="block">2 tsp oil</span>
                </div>
              </uib-accordion-group>
              <uib-accordion-group is-open="status.open2">
                <uib-accordion-heading>
                  Method<i class="open-me fa" ng-class="{'fa-minus': status.open2, 'fa-plus': !status.open2}"></i>
                </uib-accordion-heading>
                <div class="faq-descp">
                  <p class="text-justify">Yes, money can be paid in installments depending on the package taken by client.</p>
                </div>
              </uib-accordion-group>
              <uib-accordion-group is-open="status.open3">
                <uib-accordion-heading>
                  Value Per Serving <i class="open-me fa" ng-class="{'fa-minus': status.open3, 'fa-plus': !status.open3}"></i>
                </uib-accordion-heading>
                <div class="faq-descp">
                  <p class="text-justify">Yes. Suman will meet the client personally for the first consultation. For further follow-ups she will be expected to meet the client depending upon the package taken by the client, or when there is a need to evaluate the reports and
                    in case if the desired result is not achieved by client.</p>
                </div>
              </uib-accordion-group>
            </uib-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="other-recipes text-center">
    <h3 class="text-uppercase font-semibold">Other recipes</h3>
    <!-- flexslider -->
  </div>
</section>
