<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Success Stories</h2>
  </div>

  <div class="brand-primary-bg people-info">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-4">
            <div class="info text-center">
              <div class=" inline-block v-top">
                <h5 class="text-uppercase text-bold brand-brown-dark health-title">Total number of
                  <span class="block">Clients</span>
                </h5>
                <h3 class="health-count text-left white text-bold">10348</h3>
              </div>
              <div class="icon inline-block v-top">
                <img src="img/user.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info  text-center">
              <div class="inline-block v-top">
                <h5 class="text-uppercase text-bold brand-brown-dark health-title">Total
                  <span class="block count">Weight Loss</span>
                </h5>
                <h3 class="health-count text-left white text-bold">7500
                  <span>in kgs</span>
                </h3>
              </div>
              <div class="icon inline-block">
                <img src="img/weight-meter.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info  text-center">
              <div class="inline-block v-top">
                <h5 class="text-uppercase text-bold  brand-brown-dark health-title">Presence in
                  <span class="block">Countries</span>
                </h5>
                <h3 class="health-count text-left white text-bold">38</h3>
              </div>
              <div class="icon inline-block">
                <img src="img/world.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="stories-section">
    <div class="container">
      <div class="text-center">
        <tabset>
          <tab>
            <tab-heading>
              <button type="button" class="btn btn-primary text-uppercase"><i class="fa fa-play-circle-o"></i> View Here</button>
            </tab-heading>

            <div class="row">
              <div class=" col-md-offset-1 col-md-10">
                <div class="single-read text-center brand-brown-bg" ng-repeat="read in read1">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="read-detail">
                        <span class="text-left white">{{read.title}}</span>
                        <span class="text-right brand-brown-dark">{{read.name}}</span>
                        <span class="text-right white">{{read.location}}</span>
                        <hr>
                        <p class="text-left brand-brown-dark" ng-bind-html="read.desc"></p>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="read-image">
                        <img ng-src="{{read.image}}" alt="" class="doneloading">
                      </div>
                      <div class="get-round">
                        <span class="text-uppercase">Lost</span><br>
                        <span>{{read.weight}}kgs</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class=" col-md-offset-1 col-md-10">
                <div class="read-story text-center brand-brown-bg" ng-repeat="read in read2">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="read-image">
                        <img ng-src="{{read.image}}" alt="" class="doneloading">
                      </div>
                      <div class="get-round">
                        <span class="text-uppercase">Lost</span><br>
                        <span>{{read.weight}}kgs</span>
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="read-detail">
                        <span class="text-left white">{{read.title}}</span>
                        <span class="text-right brand-brown-dark">{{read.name}}</span>
                        <span class="text-right white">{{read.location}}</span>
                        <hr>
                        <p class="text-left brand-brown-dark" ng-bind-html="read.desc"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>

          <tab>
            <tab-heading>
              <button type="button" class="btn btn-primary text-uppercase"><i class="fa fa-comment"></i> Read Here</button>
            </tab-heading>

            <div class="row">
              <div class=" col-md-offset-1 col-md-10">
                <div class="single-view text-center" ng-repeat="view in views">
                  <div class="row">
                    <div class="col-md-6">
                      <!-- youtube video -->
                    </div>

                    <div class="col-md-6">
                      <div class="get-round">
                        <span class="text-uppercase">Lost</span><br>
                        <span>{{view.weight}}kgs</span>
                      </div>
                      <div class="view-detail">
                        <span class="text-left">{{view.name}}</span>
                        <span class="text-left">{{view.location}}</span>
                        <span class="text-left">{{view.title}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class=" col-md-offset-1 col-md-10">
                <div class="single-view text-center" ng-repeat="view in views">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="get-round">
                        <span class="text-uppercase">Lost</span><br>
                        <span>{{view.weight}}kgs</span>
                      </div>
                      <div class="view-detail">
                        <span class="text-left">{{view.name}}</span>
                        <span class="text-left">{{view.location}}</span>
                        <span class="text-left">{{view.title}}</span>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <!-- youtube video -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

  <div class="growth-section">
    <div class="container">
      <h3 class="text-center text-uppercase">Growth in the number of clients across the past decade:</h3>

      <div class="growth-years">
        <div class="growth-line"></div>
        <ul>
          <li>
            <span class="growth-year up">2004</span>
            <div class="line-up"></div>
            <span class="growth-number round">316</span>
          </li>
          <li>
            <span class="growth-year down">2005</span>
            <div class="line-down"></div>
            <span class="growth-number round">470</span>
          </li>
          <li>
            <span class="growth-year up">2006</span>
            <div class="line-up"></div>
            <span class="growth-number round">795</span>
          </li>
          <li>
            <span class="growth-year down">2007</span>
            <div class="line-down"></div>
            <span class="growth-number round">913</span>
          </li>
          <li>
            <span class="growth-year up">2008</span>
            <div class="line-up"></div>
            <span class="growth-number round">1593</span>
          </li>
          <li>
            <span class="growth-year down">2009</span>
            <div class="line-down"></div>
            <span class="growth-number round">316</span>
          </li>
          <li>
            <span class="growth-year up">2010</span>
            <div class="line-up"></div>
            <span class="growth-number round">1239</span>
          </li>
          <li>
            <span class="growth-year down">2011</span>
            <div class="line-down"></div>
            <span class="growth-number round">1223</span>
          </li>
          <li>
            <span class="growth-year up">2012</span>
            <div class="line-up"></div>
            <span class="growth-number round">1124</span>
          </li>
          <li>
            <span class="growth-year down">2013</span>
            <div class="line-down"></div>
            <span class="growth-number round">749</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="care-programs">
    <h3 class="text-center text-uppercase brand-brown-dark font-semibold">Get to know more about our care programs:</h3>
    <div class="care-buttons text-center">
      <a href="" class="btn btn-primary-inverse text-uppercase font-semibold"><img src="img/packages/1.png" alt="" class="img-responsive">Weight Loss</a>
      <a href="" class="btn btn-primary-inverse text-uppercase font-semibold"><img src="img/packages/2.png" alt="" class="img-responsive">Health Management</a>
    </div>
  </div>
</section>
