<section>
  <div class="selfcare-image">
    <img src="img/apple.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">Success Stories</h2>
  </div>

  <div class="brand-primary-bg people-info">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="info text-center">
                <div class=" inline-block v-top census">
                  <h5 class="text-uppercase text-bold brand-brown-dark font-semibold health-title">Total number of
                    <span class="block">Clients</span>
                  </h5>
                  <h3 class="health-count text-left white text-bold">10348</h3>
                </div>
                <div class="icon inline-block v-top">
                  <img src="img/user.png" alt="" class="img-responsive">
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="info  text-center people-weight-count">
                <div class="inline-block v-top census">
                  <h5 class="text-uppercase text-bold brand-brown-dark font-semibold health-title">Total
                    <span class="block count">Weight Loss</span>
                  </h5>
                  <h3 class="health-count text-left white text-bold">7500
                    <span class="font-primary">in kgs</span>
                  </h3>
                </div>
                <div class="icon inline-block">
                  <img src="img/weight-meter.png" alt="" class="img-responsive">
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="info no-border">
                <div class="inline-block v-top census">
                  <h5 class="text-uppercase text-bold  brand-brown-dark font-semibold health-title">Presence in
                    <span class="block">Countries</span>
                  </h5>
                  <h3 class="health-count text-left white text-bold">38</h3>
                </div>
                <div class="icon inline-block">
                  <img src="img/world.png" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stories-section">
    <div class="container">
      <div class="text-center">
        <tabset>
          <tab>
            <tab-heading>
              <button class="btn brand-brown-bg white text-uppercase"><i class="fa fa-play-circle-o"></i> View Here</button>
            </tab-heading>

            <div class="inner-stories-view" ng-repeat="view in views">
              <div class="row" ng-if="$index%2==0">
                <div class=" col-md-offset-1 col-md-10 ">
                  <div class="single-view text-center brand-brown-bg">
                    <div class="row">
                      <div class="col-md-6">
                        <!-- youtube video -->
                        <!-- <iframe width="100%" height="300" src="https://www.youtube.com/embed/dnmzOqhu62k" frameborder="0" allowfullscreen></iframe> -->
                        <a class="various fancybox.iframe" fancybox href="{{view.link}}">
                          <img ng-src="{{view.image}}" alt="" class="img-responsive" />
                        </a>
                      </div>

                      <div class="col-md-6">
                        <div class="inner-view-left">
                          <div class="get-round pull-right view-right">
                          <span class="text-uppercase brand-brown-dark-bg lost">Lost</span>
                          <p>
                            <span class="weight-number inline-block font-vista">5</span>kgs
                          </p>
                        </div>
                          <span class="name text-left brand-brown-dark font-semibold">{{view.name}}</span><br>
                          <span class="location text-left white">{{view.location}}</span>
                        </div>
                        <div class="view-detail">
                          <span class="title text-justify brand-brown-dark">{{view.title}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" ng-if="$index%2!=0">
                <div class=" col-md-offset-1 col-md-10">
                  <div class="single-view text-center brand-brown-bg">
                    <div class="row">
                      <div class="col-md-6 hidden-md hidden-lg">
                        <!-- youtube video -->
                        <!-- <iframe width="100%" height="300" src="https://www.youtube.com/embed/dnmzOqhu62k" frameborder="0" allowfullscreen></iframe> -->
                        <a class="various fancybox.iframe" fancybox href="{{view.link}}">
                          <img ng-src="{{view.image}}" alt="" class="img-responsive" />
                        </a>
                      </div>

                      <div class="col-md-6">
                        <div class="inner-view-right">
                          <div class="get-round pull-right view-right">
                            <span class="lost text-uppercase brand-brown-dark-bg">Lost</span>
                            <p class="font-vista"><span class="weight-number">{{view.weight}}</span>kgs</p>
                          </div>
                          <span class="name text-right brand-brown-dark font-semibold">{{view.name}}</span><br>
                          <span class="location text-right white">{{view.location}}</span>
                        </div>
                        <div class="view-detail">
                          <span class="title text-justify brand-brown-dark">{{view.title}}</span>
                        </div>
                      </div>

                      <div class="col-md-6 hidden-sm hidden-xs">
                        <!-- youtube video -->
                        <!-- <iframe width="100%" height="300" src="https://www.youtube.com/embed/dnmzOqhu62k" frameborder="0" allowfullscreen></iframe> -->
                        <a class="various fancybox.iframe" fancybox href="{{view.link}}">
                          <img ng-src="{{view.image}}" alt="" class="img-responsive" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>

          <tab>
            <tab-heading>
              <button class="btn brand-brown-bg white text-uppercase"><i class="fa fa-comment"></i> Read Here</button>
            </tab-heading>

            <div class="inner-stories-read" ng-repeat="read in reads">
              <div class="row" ng-if="$index%2==0">
                <div class=" col-md-offset-1 col-md-10">
                  <div class="single-read text-center brand-brown-bg">
                    <div class="row">
                      <div class="col-md-4 hidden-md hidden-lg">
                        <div class="read-image round left">
                          <img ng-src="{{read.image}}" alt="" class="img-responsive">
                        </div>
                        <div class="get-round img-left">
                          <span class="lost text-uppercase brand-brown-dark-bg">Lost</span>
                          <p class="font-vista"><span class="weight-number">{{read.weight}}</span>kgs</p>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <div class="read-detail left">
                          <div class="row">
                            <div class="col-md-7">
                              <span class="title text-left white font-semibold">{{read.title}}</span>
                            </div>
                            <div class="col-md-5">
                              <span class="name text-left font-semibold brand-brown-dark">{{read.name}}</span>
                              <span class="location text-left white">{{read.location}}</span>
                            </div>
                          </div>
                          <hr>
                          <p class="text-justify brand-brown-dark" ng-bind-html="read.desc"></p>
                        </div>
                      </div>

                      <div class="col-md-4 hidden-sm hidden-xs">
                        <div class="read-image round">
                          <img ng-src="{{read.image}}" alt="" class="img-responsive">
                        </div>
                        <div class="get-round img-left">
                          <span class="lost text-uppercase brand-brown-dark-bg">Lost</span>
                          <p class="font-vista"><span class="weight-number">{{read.weight}}</span>kgs</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" ng-if="$index%2!=0">
                <div class=" col-md-offset-1 col-md-10">
                  <div class="single-read text-center brand-brown-bg">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="read-image round read-image-right">
                          <img ng-src="{{read.image}}" alt="" class="img-responsive">
                        </div>
                        <div class="get-round img-right">
                          <span class="lost text-uppercase brand-brown-dark-bg">Lost</span>
                          <p class="font-vista"><span class="weight-number">{{read.weight}}</span>kgs</p>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <div class="read-detail right">
                          <div class="row">
                            <div class="col-md-5">
                              <span class="name text-left font-semibold brand-brown-dark">{{read.name}}</span><br>
                              <span class="location text-left white">{{read.location}}</span>
                            </div>
                            <div class="col-md-7">
                              <span class="title title-right text-right white font-semibold">{{read.title}}</span>
                            </div>
                          </div>
                          <hr>
                          <p class="text-justify brand-brown-dark" ng-bind-html="read.desc"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </tab>
        </tabset>
      </div>
    </div>
  </div>

  <div class="growth-section">
    <div class="container">
      <h3 class="text-center text-uppercase font-semibold">Growth in the number of clients across the past decade:</h3>

      <div class="growth-inner">
        <div class="growth-years">
          <div class="growth-line"></div>
          <ul>
            <li>
              <span class="growth-year up">2004</span>
              <div class="line-up"></div>
              <span class="growth-number round">316</span>
            </li>
            <li>
              <span class="growth-year down">2005</span>
              <div class="line-down"></div>
              <span class="growth-number round">470</span>
            </li>
            <li>
              <span class="growth-year up">2006</span>
              <div class="line-up"></div>
              <span class="growth-number round">795</span>
            </li>
            <li>
              <span class="growth-year down">2007</span>
              <div class="line-down"></div>
              <span class="growth-number round">913</span>
            </li>
            <li>
              <span class="growth-year up">2008</span>
              <div class="line-up"></div>
              <span class="growth-number round">1593</span>
            </li>
            <li>
              <span class="growth-year down">2009</span>
              <div class="line-down"></div>
              <span class="growth-number round">316</span>
            </li>
            <li>
              <span class="growth-year up">2010</span>
              <div class="line-up"></div>
              <span class="growth-number round">1239</span>
            </li>
            <li>
              <span class="growth-year down">2011</span>
              <div class="line-down"></div>
              <span class="growth-number round">1223</span>
            </li>
            <li>
              <span class="growth-year up">2012</span>
              <div class="line-up"></div>
              <span class="growth-number round">1124</span>
            </li>
            <li>
              <span class="growth-year down">2013</span>
              <div class="line-down"></div>
              <span class="growth-number round">749</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="care-programs">
    <h3 class="text-center text-uppercase brand-brown-dark font-semibold">Get to know more about our care programs:</h3>
    <div class="care-buttons text-center">
      <a href="#/weightmanagement" class="btn btn-primary-inverse text-uppercase"><img src="img/packages/1.png" alt="" class="img-responsive">Weight Loss</a>
      <a href="#/healthmanagement" class="btn btn-primary-inverse text-uppercase"><img src="img/packages/2.png" alt="" class="img-responsive">Health Management</a>
    </div>
  </div>
</section>
