<section>
  <div class="selfcare-image text-center">
    <img src="img/banners/team.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">The Selfcare Team</h2>
  </div>
  <div class="container" ng-init="teamone=true;teamtwo=false">
    <div class="team-desc health-descp get-up brand-brown-bg white rel">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="team-members" ng-show="teamone">
    <div class="container">

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/vibha.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Vibha Rane</h3>
              <h4 class="brand-primary font-semibold">Head of Operations, Senior Nutritionist</h4>
              <p>Nutritionist Vibha is Selfcare’s second employee, having joined in 2002.</p>
              <p>A B.Com graduate from Mumbai’s Hinduja College, she is armed with an additional diploma in Software Designing from SSI. Vibha also holds a diploma in Nutrition &amp; Dietetics and a Certificate in an advance course of Nutrition. Her work profile at Selfcare includes administration, accounts, handling legal matters, visiting branch offices for training nutritionists, updating new policies and information, as well as consulting clients from Selfcare’s Tardeo branch.</p>
              <p>Vibha’s favorite way to exercise is dancing. She also enjoys long walks at the seaside.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/adity.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Adity Killa</h3>
              <h4 class="brand-primary font-semibold">Senior Nutritionist, Kolkata Branch Head</h4>
              <p>Adity became a part of Selfcare in the year 2005. A graduate in Political Science and a diploma holder in Nutrition and Dietetics is not all that sets Adity apart from others in her city. She brings to the table warmth, empathy and dynamism and is also a certified Clinical Nutritionist.</p>
              <p>When Adity is not managing the branch or bringing in business, she loves to read and cook.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/deepti.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Deepti Nair</h3>
              <h4 class="brand-primary font-semibold">Senior Nutritionist, Santacruz Branch Head</h4>
              <p>Deepti has been with Selfcare since 2011. She has done her Masters in Science, PGD in Nutrition and Dietetics, certificate course in Sports Nutrition and has done a diabetes educator course.</p>
              <p>She consults clients at Tardeo and Santacruz and is also involved in online consultations. In her leisure time Deepti enjoys listening to music, reading books about nutrition and loves to try out new recipes.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/nidhi.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Nidhi Agarwal</h3>
              <h4 class="brand-primary font-semibold">Senior Nutritionist</h4>
              <p>Nidhi has been with Selfcare since 2011. She has done her Masters in Clinical Nutrition and Dietetics, She consults clients at Tardeo and Juhu and is also involved in online consultations. In her leisure time Nidhi enjoys listening to music, reading books about nutrition</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/shaikh.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Shaikh Mona Afroz</h3>
              <h4 class="brand-primary font-semibold">Senior Nutritionist</h4>
              <p>Mona began working at Selfcare in 2011. After completing her graduation in Microbiology from G.N. Khalsa College (Mumbai) she achieved her postgraduate diploma in Nutrition and Dietetics from SNDT College (Juhu). She also completed a three-month internship at Nanavati Hospital (Vile Parle, Mumbai).</p>
              <p>She consults clients at the Tardeo and Santacruz branches and is also involved in consulting online clients all over India.</p>
              <p>Mona loves travelling and enjoys music.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/vishakha.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Vishakha Shah</h3>
              <h4 class="brand-primary font-semibold">Senior Nutritionist</h4>
              <p>Vishakha joined Selfcare with her twin sister in 2012. Vishakha has done her Masters in Foods Nutrition and Dietetics from Mumbai's college of Home Science - Nirmala Niketan. She has also done an additional certificate course in Nutrition, Exercise and Fitness, and Food Preservation and Processing.</p>
              <p>She consults clients at Selfcare’s Tardeo branch.</p>
              <p>Vishakha is a big foodie; she loves to prepare different cuisines and coffee. She enjoys aerobics and belly dancing.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/vaishali.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Vaishali Shah</h3>
              <h4 class="brand-primary font-semibold">Senior Nutritionist</h4>
              <p>Vaishali joined Selfcare with her twin sister in 2012. Vaishali has pursued her Masters in Foods Nutrition and Dietetics from Mumbai's Nirmala Niketan, College of Home Science. She has also done an additional certificate course in Nutrition, Exercise and Fitness, and Food Preservation and Processing.</p>
              <p>She consults clients at Selfcare’s Tardeo branch.</p>
              <p>Vaishali loves food. Her favorite way of exercising is belly dancing.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/pameli.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Pameli Seal</h3>
              <h4 class="brand-primary font-semibold">Senior Nutritionist</h4>
              <p>Pameli joined Selfcare team as a nutritionist after completing her graduation in Clinical Nutrition &amp; Dietetics in 2007. She also has done Masters in Dietetics &amp; Food Service Management &amp; a diabetic educator course.</p>
              <p>She consults clients at Selfcare Kolkata branch.</p>
              <p>She loves to hear music, reading story books &amp; participating in quiz contest.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/neha.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Neha Sisangia Vakharia</h3>
              <h4 class="brand-primary font-semibold">Senior Nutritionist</h4>
              <p>Neha has been with selfcare since 2011. She has done her graduation in biotechnology from N.B.Mehta College, Bordi Followed by post graduation diploma in nutrition and dietetics from SNDT University Juhu. She has done a certificate course in Diabetes management from Dr. V. Mohan's institute (chennai).</p>
              <p>She consults clients from Juhu and tardeo as well as is involved in online consultation.</p>
              <p>In her leisure time she enjoys cooking and playing badminton.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="team-members" ng-show="teamtwo">
    <div class="container">

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/smriti.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Smriti Poddar</h3>
              <h4 class="brand-primary font-semibold">Senior Nutritionist</h4>
              <p>Smriti joined Selfcare in 2014. She has pursued her Masters in Food and Nutrition from J.D Borla Institute, Kolkata, and has done Postgraduate diploma in Dietetics and Applied Nutrition. She consults clients at Kolkata branch and is involved in online consultation.</p>
              <p>In her leisure time, Smriti enjoys listening to music and spending time with family and friends.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/hiral.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Hiral Shah</h3>
              <h4 class="brand-primary font-semibold">Nutritionist</h4>
              <p>Hiral  joined Selfcare in 2014. Hiral  has  pursued  her  Masters in Food  Science  and  Nutrition  from  SNDT  University, Mumbai.  She’s been awarded “Dr. K.U. Naram Award”, instituted by Association of Food Scientist and Technologist (INDIA), Mumbai chapter for securing third rank in the final year of  Msc. Food Science and Nutrition. She consults clients at Selfcare’s Tardeo branch  as well as handles our online consultation where she is in touch with our National and International clients.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/shwetal.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Shwetal Doshi</h3>
              <h4 class="brand-primary font-semibold">Nutritionist</h4>
              <p>Shwetal joined Selfcare in 2015. She has done her Masters in Clinical Nutrition and Dietetics, She consults clients at Tardeo and Juhu and is also involved in online consultations. She has also done an additional certificate course for Diabetic educator, in Nutrition, Exercise and Fitness and also Food Preservation and Processing.</p>
              <p>Other than consultation, she loves practicing yoga and meditation.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/jahnavi.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Jahnavi Gosalia</h3>
              <h4 class="brand-primary font-semibold">Nutritionist</h4>
              <p>Jahnavi has joined selfcare in 2015.She has pursued her post Graduation in Clinical, Nutrition and Dietetics. She has a good and rich experience in Corporate Clientele.</p>
              <p>She consults clients at selfcare tardeo and juhu branch and is involved in online consultations. In her free time, she loves to cook new recipes and her favorite form of exercise is walking.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/cinthia.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Cinthia Rebello</h3>
              <h4 class="brand-primary font-semibold">Personal Assistant, Customer Support Manager</h4>
              <p>Cinthia has been with Selfcare since 2009. She has completed her BAF (Bachelor of Accounting and Finance) from St. Andrew’s College, Mumbai University. When it comes to appointments and the precarious juggling of scheduled tasks for internal and external customers, Cinthia’s at the helm.</p>
              <p>She likes playing badminton and football and is fond of travelling.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/kadambari.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Kadambari Narwane</h3>
              <h4 class="brand-primary font-semibold">Front Desk Manager</h4>
              <p>Kadambari has been with Selfcare since 2011. She completed her B.Tech. in Information Technology from S.N.D.T. University (Juhu).</p>
              <p>She manages the front desk and sales section at Santacruz.</p>
              <p>She likes listening to music and enjoys travelling.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/kabita.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Kabita</h3>
              <h4 class="brand-primary font-semibold">Front Desk Manager</h4>
              <p>Kabita is working with selfcare since 2007.She is handling Front desk and admin responsibilities in kolkata Branch .she has also completed certificate course in Clinical Nutrition and dietetics.</p>
              <p>She loves to spend time with children’s and enjoy listening music.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/nanditha.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Nanditha Enagandula</h3>
              <h4 class="brand-primary font-semibold">Sales Executive</h4>
              <p>Nandhita joined Selfcare in 2010. She has done her B.A. from Hyderabad’s Osmania University and is the Sales Executive at Selfcare’s Tardeo office.</p>
              <p>She likes reading books and listening to music.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="single-member">
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="member-image">
              <img src="img/team/adity.jpg" alt="" class="img-responsive">
            </div>
          </div>

          <div class="col-md-10 col-sm-9">
            <div class="member-detail">
              <h3 class="brand-brown-dark font-semibold">Adity Mitra</h3>
              <h4 class="brand-primary font-semibold">Relationship and Communication Manager</h4>
              <p>Adity Joined selfcare in 2015 .she is passionately involved in mentoring Hamari Muskan, an organisation striving to mainstreaming prostituted women and their children for over six years.</p>
              <p>A rich life experience has given her a broad base from which she has out-of-the-box approaches to diverse real life situations. She lives in Kolkata with her husband and loves to spend leisure with her pets ~ pair of Blue &amp; Gold Macaws.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="team-nav text-center">
    <ul class="pagination" ng-init="aclass='active';bclass=''">
      <li><a class="{{aclass}}" ng-click="teamone=true;teamtwo=false;aclass='active';bclass=''">1</a></li>
      <li><a class="{{bclass}}" ng-click="teamone=false;teamtwo=true;aclass='';bclass='active'">2</a></li>
    </ul>
  </div>

  <div class="join-team text-center">
    <a href="" class="btn btn-primary text-uppercase font-semibold letter-space">Join our team</a>
  </div>
</section>
