<section>
  <div class="selfcare-image">
    <img src="img/termsandcondition.jpg" alt="">
    <h2 class="text-uppercase get-center white font-semibold">terms and conditions</h2>
  </div>
  <div class="container">
    <div class="terms">
      <p><b>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE</b></p>
      <p>By using this site, you grant your assent to these terms of use. If you do not agree to these terms of use, you are not authorized to use this website. These terms govern your use of the website, any content (such as text, data, information, software,
        graphics, or photographs) that
        <strong>Selfcare The Suman Agarwal Way</strong> and its syndicate members/affiliates (hereinafter &quot;
        <strong>Selfcare</strong>&quot;) may make available through the site (hereinafter &ldquo;
        <strong>materials</strong>&rdquo;) and any services that Selfcare may provide through the site (hereinafter &ldquo;
        <strong>services</strong>&rdquo;). The website, materials, and services are referred to in these terms collectively as the <a href="http://www.selfcareindia.com">www.selfcareindia.com</a> (hereinafter &ldquo;
        <strong>website</strong>&rdquo;).</p>
      <ol type="1">
        <li>
          <strong>AMENDMENT</strong>
          <div class="term-info">
            <p>Selfcare reserves its right to amend or modify this website at any time and without notice. These Terms of Use shall govern your use in effect at the time of each usage, and as amended from time to time. We may amend these terms of use at any
              time and any revised version will be effective immediately that it is displayed on this website.</p>
          </div>
        </li>
        <li>
          <strong>RESTRICTIONS ON USE</strong>
        </li>
        <li>
          <div class="term-info">
            <p>The Website also provides for acceptance in registration for new registering users for accessing certain sections of the Website. Any use other than by the registered user shall constitute unauthorized use of those sections of the Website.</p>
          </div>
        </li>
        <li>
          <div class="term-info">
            <p>The Selfcare Logo etc are service marks of Selfcare and this website. Our failure to list a current trademark is not a waiver of our intellectual property rights to that name or logo. Use of any of our trademarks by you, expressly or impliedly,
              interalia in commerce etc., shall be a violation of the law without the express written permission of Selfcare.</p>
          </div>
        </li>
        <li>
          <div class="term-info">
            <p>Use of the Website is available only to persons who can form legally binding contracts under applicable law. Persons who are "incompetent to contract" within the meaning of the Indian Contract Act, 1872 are not eligible to use the Website. Some
              of the Content on this Website may not be appropriate for children. Children under the age of 13 years are not permitted to use this website. We strongly recommend that children between the ages of 13 and 18 ask for their parent's or guardian's
              permission before viewing our Website. The Website is not available to persons whose membership has been suspended or terminated by the Owner of the Website.</p>
          </div>
        </li>
        <li>
          <div class="term-info">
            <p>If you use the Website, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account
              or Password.
            </p>
            <span>You agree to:</span>
            <ul class="sub-term">
              <li>(a) Provide true, accurate, current and complete information about yourself as prompted by the Website’s registration form (such information being the "Registration Data"); and</li>
              <li>(b) Maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete or the Website or its sponsors have reasonable grounds
                to suspect that such information is untrue, inaccurate, not current or incomplete, or not in accordance with the User Agreement, the Website Owner has the right to indefinitely suspend or terminate your membership and refuse to provide you
                with access to the Website.</li>
            </ul>
          </div>
        </li>
        <li>
          <div class="term-info">
            <p>When you visit the Website or send emails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by email or by posting notices on the Website. You agree
              that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>
          </div>
        </li>
        <li>
          <div class="term-info">
            <p>Registration on the Website is free. Selfcare do not presently charge any fee for registering and browsing on the Website. However, this is subject to any future changes in the membership fees, which shall be intimated accordingly.</p>
          </div>
        </li>
        <li>
          <div class="term-info">
            <p>The Website also provides for acceptance in registration for new registering users for accessing certain sections of the Website. Any use other than by the registered user shall constitute unauthorized use of those sections of the Website.</p>
          </div>
        </li>
        <li>
          <div class="term-info">
            <p>You agree, undertake and confirm that your use of the Website shall be strictly governed by the following binding principles</p>
            <ol type="a" class="sub-term">
              <li>You are solely responsible for the Information provided by you in the registration, bidding, online shopping process, in the feedback area or through any e-mail feature;</li>
              <li>Information provided by you:
                <ol type="a">
                  <li>
                    Shall not be false, inaccurate or misleading;</li>
                  <li>
                    Shall not be fraudulent or involve the sale of counterfeit or stolen items;</li>
                  <li>
                    Shall not infringe anybody&rsquo;s intellectual property, trade secret or other proprietary rights or rights of publicity or privacy;</li>
                  <li>
                    Shall not be threatening, libellous, defamatory, obscene, scandalous, inflammatory, pornographic, indecent or profane or that could constitute or encourage a violation of any law</li>
                  <li>
                    Shall not contain any viruses, Trojan horses, worms, or other computer programming routines that may damage, detrimentally interfere with, surreptitiously intercept or expropriate any system data or personal information; and</li>
                  <li>
                    Shall not create liability for us or cause us to lose (in whole or in part) the services of our ISPs or other suppliers</li>

                </ol>
                <li>Any material you send to the Website will be deemed non-confidential and non-proprietary. This includes any data, questions, comments, suggestions, ideas or other information, material or property. We are entitled to use any or all of it for any purpose, without compensation to you, including for reproduction, disclosure, transmission, publication, broadcast and posting.</li>
              </li>
            </ol>
          </div>
        </li>
        <li>
          <strong>TRADEMARK INFORMATION</strong>
        </li>
        <li>
          <strong>MEMBERSHIP ELIGIBILITY</strong>
        </li>
        <li>
          <strong>YOUR ACCOUNT AND REGISTRATION</strong>
        </li>
        <li>
          <strong>ELECTRONIC COMMUNICATIONS</strong>
        </li>
        <li>
          <strong>FEES AND SERVICES</strong>
        </li>
        <li>
          <strong>RESTRICTIONS ON USE</strong>
        </li>
        <li>
          <strong>USE OF THE WEBSITE</strong>
        </li>
        <li>
          <strong>RESTRICTIONS ON USE</strong>
        </li>
      </ol>
      <div class="terms-sec2">
        <ol>
          <li>
            <strong>PERMISSION TO QUOTE, COPY OR USE OUR MATERIALS</strong>
          </li>
          <li>
            Accessing images or text provided on the Website do not give you any rights to use them as you desire. You may not, at any point, and for any reason whatsoever, modify, copy, reproduce, republish, upload, post, transmit or distribute, in any way, any
            material from this site including code and software without prior and written, discretionary approval from us. Selfcare may provide from time to time certain useful material for free download. You may download material from the website for only
            your personal use and for non-commercial use, provided you 1) keep intact all copyright and other proprietary notices, 2) do not copy or post the material on any networked computer or any other type of media, 3) make no modification to the material
            and 4) make no representations of ownership.
            <br />
            <br /> If you wish to quote information, material, use our trademarks or our images and graphics of any kind from this Website in any form of publication or for non-personal or commercial use, please contact <a href="mailto:info@selfcareindia.com">info@selfcareindia.com</a>.</li>
          <li>
            This Website may contain links to other sites as well or may contain information gathered from other sites. These other sites are provided as information or for convenience to our visitors. We, in no way, guarantee or endorse the content(s) of these other
            sites. Visitors may visit their websites&#39; Terms of Use and Privacy Policy for further details.</li>
          <li>
            This Website provides weight loss management and health management programs and also information, applications and content published over the internet and is intended only to assist users in their personal weight loss/health management efforts. Selfcare
            is not a medical organization and our staff cannot give you medical advice or diagnosis. Nothing contained in this Website should be construed as such advice or diagnosis. The information and reports generated by us should not be interpreted
            as a substitute for physician consultation, evaluation, or treatment.</li>
          <li>
            The materials on this site are provided &#39;as is&#39; and without warranties of any kind either expresses or implied. To the fullest extent permissible, pursuant to applicable law, Selfcare disclaims all warranties, express or implied, including, but
            not limited to, implied warranties of merchant-ability and fitness for a particular purpose. Selfcare does not warrant that the functions contained in the materials will be uninterrupted or error-free, that defects will be corrected, or that
            this site, including bulletin boards, or the server that makes it available, are free of viruses or other harmful components. Selfcare does not warrant or make any representation regarding the use or the result of the use of the materials in
            this site in terms of their correctness, accuracy, timeliness, reliability or otherwise. You assume the entire cost of all necessary maintenance, repair or correction.</li>
          <li>
            Selfcare has contracted the services of a banking partner to process credit/debit card transactions made online. Our banking partners&#39; secured server encrypts your credit/debit card information so that it may be safely transmitted over the Web. Your
            credit/debit card information will not be released by Selfcare or its banking partner to any other party, without your express consent. However, such information may be disclosed if so required under any law for the time being in force or if
            required under any order of a Court of law.</li>
          <li>
            In no event shall the Website, its sponsors or agents be liable for any direct, indirect, incidental, special, incidental, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible
            losses arising out of or in connection with the Website, its services or this agreement (however arising, including negligence) whatsoever. Selfcare, its associates and affliates make no representations or Warranties about the accuracy, reliability,
            completeness, correctness and/or timeliness of any content, information, software, text, graphics, links or communications provided on or through the use of the Website or that the operation of the Website will be error free and/or uninterrupted.
            Consequently, the Website or its sponsors assumes no liability whatsoever for any monetary or other damage suffered by you on account of:
            <br />
            <ol type="a" class="sub-term">
              <li>
                The delay, failure, interruption, or corruption of any data or other information transmitted in connection with use of the website; and/or</li>
              <li>
                Any interruption or errors in the operation of the Website. You expressly understand and agree that Selfcare, its primary sponsors, its associates and technology partners shall not be liable for any direct, indirect, incidental, special, consequential
                or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses.</li>
            </ol>
          </li>
          <li>
            You expressly acknowledge and agree to indemnify, defend and hold Selfcare, subsidiaries, affiliates, officers, directors, employees, agents, information providers and suppliers and the network harmless from all losses, expenses, damages, costs, claims
            or demands, (including but not limited to reasonable legal fees, defense or settlement costs and accounting fees), resulting from any violation of these Terms of Use by you or any activity related to your account and/or use of the Network by
            you or any other person accessing the Network using your account or arising in any other way, whether in contract, tort, negligence, statute or otherwise.</li>
          <li>
            This agreement is effective until terminated by Selfcare, whether expressly or impliedly, at any time without notice. In the event of termination, you are no longer authorized to access any information or bulletin boards that the site may host in future
            and the restrictions imposed on you with respect to material downloaded from the websites, the disclaimers and limitations set forth in this agreement shall survive.</li>
          <li>
            This website has been designed and these terms of use shall be governed by and construed in accordance with the laws of India. Any dispute arising out of the accessing or use of this website shall be subject to the jurisdiction of the courts of law situate
            at Mumbai, India.</li>
          <li>
            If any provision of these terms shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these terms and shall not affect the validity and enforceability of any remaining provisions. These Terms &amp;
            Conditions are the entire agreement between you and Selfcare relating to the subject matter herein. These Terms &amp; Conditions may be modified only by our posting of changes to these Terms &amp; Conditions on this Website. Each time you access
            this Website, you will be deemed to have accepted any such changes.
            <br />
            <br /> We may assign our rights and obligations under these Terms &amp; Conditions. These Terms &amp; Conditions will inure to the benefit of our successors, assigns and licensees. The failure of either party to insist upon or enforce the strict performance
            of the other party with respect to any provision of these Terms &amp; Conditions or to exercise any right under the Terms &amp; Conditions, will not be construed as a waiver or relinquishment to any extent of such party&#39;s right under the
            Terms &amp; Conditions but the same shall remain in full force.</li>
          <li>
            <strong>LINKS TO THIRD PARTIES</strong>
          </li>
          <li>
            <strong>HEALTH DISCLAIMER</strong>
          </li>
          <li>
            <strong>DISCLAIMER</strong>
          </li>
          <li>
            <strong>CREDIT CARD INFORMATION</strong>
          </li>
          <li>
            <strong>LIMITATION OF LIABILITY</strong>
          </li>
          <li>
            <strong>INDEMNITY</strong>
          </li>
          <li>
            <strong>TERMINATION</strong>
          </li>
          <li>
            <strong>JURISDICTION</strong>
          </li>
          <li>
            <strong>MISCELLANEOUS TERMS</strong>
          </li>
        </ol>
      </div>
    </div>
  </div>
  </section>
