<div class="pregnancy">
  <div class="banner selfcare-image">
    <img src="img/banners/healthmanagement.jpg" alt="">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">health management</h2>
    </div>
  </div>
  <div class="container">
    <div class="get-up brand-brown-bg relate">
      <h2 class="text-center text-bold brand-brown-dark health-heading">WEIGHT GAIN</h2>
      <p class="white health-descp">
        There is a myth that eating fried and sweets can increase weight. At Selfcare we strike the right ratio of
carbohydrate rich  and protein rich foods to gain muscle mass, improve good fat  in the body and help you gaining weight with perfect combination of exercise.
      </p>
    </div>
    <div class="health-chart">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
          <div class="health-tab healthchart-list">
            <div class="inline-block v-top space">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">2</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
                <span class="text-uppercase white duration font-gotham-bold">Duration</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price text-capitalize">4</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                      <p class="price">Rs 6500<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 103</span>
                        <span class="brand-primary font-gotham-bold">Rs. 6500</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 9900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 160</span>
                        <span class="brand-primary font-gotham-bold">Rs. 9900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 18500<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance as often as possible.</li>
                        <li>If you not reach your goals in the stipulated time then you will be given an extension.</li>
                        <li>We will try to attend you as soon as you arrive.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 285</span>
                        <span class="brand-primary font-gotham-bold">Rs. 18500</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 25000<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance every week there after</li>
                        <li>Extra motivational support</li>
                        <li>We generally like to keep a consulting room empty for you, if you inform us 5 minutes before your arrival</li>
                        <li>Separate watsapp group support for queries in between the week</li>
                        <li>One consultation with our Grooming expert</li>
                        <li>One consultation with your cook to guide about portions and serving size</li>
                        <li>If you do not reach your goals in the stipulated time then you will be given an extension</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 400</span>
                        <span class="brand-primary font-gotham-bold">Rs. 25000</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">3-4</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
                <span class="text-uppercase white duration font-gotham-bold">Duration</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price text-capitalize">8</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">silver</p>
                      <p class="price">Rs 9900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 160</span>
                        <span class="brand-primary font-gotham-bold">Rs. 9900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 17900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 290</span>
                        <span class="brand-primary font-gotham-bold">Rs. 17900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 29500<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance as often as possible.</li>
                        <li>If you not reach your goals in the stipulated time then you will be given an extension.</li>
                        <li>We will try to attend you as soon as you arrive.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 465</span>
                        <span class="brand-primary font-gotham-bold">Rs. 29500</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 40000<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance every week there after</li>
                        <li>Extra motivational support</li>
                        <li>We generally like to keep a consulting room empty for you, if you inform us 5 minutes before your arrival</li>
                        <li>Separate watsapp group support for queries in between the week</li>
                        <li>One consultation with our Grooming expert</li>
                        <li>One consultation with your cook to guide about portions and serving size</li>
                        <li>If you do not reach your goals in the stipulated time then you will be given an extension</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 625</span>
                        <span class="brand-primary font-gotham-bold">Rs. 40000</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="health-tab healthchart-list">
            <div class="inline-block v-top space">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">6-7</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
                <span class="text-uppercase white duration font-gotham-bold">Duration</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price text-capitalize">16</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                      <p class="price">Rs 17900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 290</span>
                        <span class="brand-primary font-gotham-bold">Rs. 17900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 29900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 480</span>
                        <span class="brand-primary font-gotham-bold">Rs. 29900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 49500<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance as often as possible.</li>
                        <li>If you not reach your goals in the stipulated time then you will be given an extension.</li>
                        <li>We will try to attend you as soon as you arrive.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 770</span>
                        <span class="brand-primary font-gotham-bold">Rs. 49500</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 75000<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance every week there after</li>
                        <li>Extra motivational support</li>
                        <li>We generally like to keep a consulting room empty for you, if you inform us 5 minutes before your arrival</li>
                        <li>Separate watsapp group support for queries in between the week</li>
                        <li>One consultation with our Grooming expert</li>
                        <li>One consultation with your cook to guide about portions and serving size</li>
                        <li>If you do not reach your goals in the stipulated time then you will be given an extension</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 1170</span>
                        <span class="brand-primary font-gotham-bold">Rs. 75000</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-round">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in healthdetail" active="slide.active">
            <div class="healthmanagement-slider">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="detail in slide">
                  <a ui-sref="{{detail.link}}">
                    <figure>
                    <div class="slide-imghold round m-center">
                      <img ng-src="{{detail.img}}" alt="" class="img-responsive">
                    </div>
                    <figcaption class="text-uppercase brand-brown-dark text-bold letter-space">{{detail.caption}}</figcaption>
                    </figure>
                  </a>
                </div>
                <!-- <div class="col-md-4">
                  <figure>
                  <div class="slide-imghold round m-center">
                    <img ng-src="{{slide.img}}" alt="" class="img-responsive">
                  </div>
                  <figcaption class="text-uppercase brand-brown-dark text-bold">{{slide.caption}}</figcaption>
                  </figure>
                </div>
                <div class="col-md-4">
                  <figure>
                  <div class="slide-imghold round m-center">
                    <img ng-src="{{slide.img}}" alt="" class="img-responsive">
                  </div>
                  <figcaption class="text-uppercase brand-brown-dark text-bold">{{slide.caption}}</figcaption>
                  </figure>
                </div>
              </div> -->
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>
