<div class="weight">
  <div class="banner selfcare-image">
      <img src="img/banners/weight-management.jpg" alt="">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">Weight loss</h2>
    </div>
  </div>
  <div class="container">
    <div class="get-up brand-brown-bg relate">
      <p class="health-descp white text-justify">At Selfcare, we individually design and monitor weight loss and health care programmes by emphasizing well-balanced, portion-controlled diets and the importance of exercise. Your health and immunity are as important as your weight loss goals. Along
        with the diet, blood tests and diet plans, a well-planned exercise schedule is also crafted to address specific health issues. Most importantly, at Selfcare we believe its vital to achieve optimal weight for better long term health and to keep
        it off thereafter.</p>
    </div>
    <div class="health-chart">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
          <div class="health-tab healthchart-list">
            <div class="inline-block v-top">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">1</span>
                <span class="text-uppercase white month font-gotham-bold">Month</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price">4</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                      <p class="price">Rs 5900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 95</span>
                        <span class="brand-primary font-gotham-bold">Rs. 5900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 14900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 150</span>
                        <span class="brand-primary font-gotham-bold">Rs. 14900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 27900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance as often as possible.</li>
                        <li>If you not reach your goals in the stipulated time then you will be given an extension.</li>
                        <li>We will try to attend you as soon as you arrive.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 275</span>
                        <span class="brand-primary font-gotham-bold">Rs. 27900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 37900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance every week there after</li>
                        <li>Extra motivational support</li>
                        <li>We generally like to keep a consulting room empty for you, if you inform us 5 minutes before your arrival</li>
                        <li>Separate watsapp group support for queries in between the week</li>
                        <li>One consultation with our Grooming expert</li>
                        <li>One consultation with your cook to guide about portions and serving size</li>
                        <li>If you do not reach your goals in the stipulated time then you will be given an extension</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 350</span>
                        <span class="brand-primary font-gotham-bold">Rs. 37900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">2</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price">8
                      </p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                      <p class="price">Rs 9900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 165</span>
                        <span class="brand-primary font-gotham-bold">Rs. 9900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 27900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 240</span>
                        <span class="brand-primary font-gotham-bold">Rs. 27900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 52900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance as often as possible.</li>
                        <li>If you not reach your goals in the stipulated time then you will be given an extension.</li>
                        <li>We will try to attend you as soon as you arrive.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 440</span>
                        <span class="brand-primary font-gotham-bold">Rs. 52900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 68900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance every week there after</li>
                        <li>Extra motivational support</li>
                        <li>We generally like to keep a consulting room empty for you, if you inform us 5 minutes before your arrival</li>
                        <li>Separate watsapp group support for queries in between the week</li>
                        <li>One consultation with our Grooming expert</li>
                        <li>One consultation with your cook to guide about portions and serving size</li>
                        <li>If you do not reach your goals in the stipulated time then you will be given an extension</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 600</span>
                        <span class="brand-primary font-gotham-bold">Rs. 25000</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">3</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price">13
                      </p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                      <p class="price">Rs 14900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 245</span>
                        <span class="brand-primary font-gotham-bold">Rs. 14900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 40900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 370</span>
                        <span class="brand-primary font-gotham-bold">Rs. 40900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 74900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance as often as possible.</li>
                        <li>If you not reach your goals in the stipulated time then you will be given an extension.</li>
                        <li>We will try to attend you as soon as you arrive.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 610</span>
                        <span class="brand-primary font-gotham-bold">Rs. 74900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 97900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance every week there after</li>
                        <li>Extra motivational support</li>
                        <li>We generally like to keep a consulting room empty for you, if you inform us 5 minutes before your arrival</li>
                        <li>Separate watsapp group support for queries in between the week</li>
                        <li>One consultation with our Grooming expert</li>
                        <li>One consultation with your cook to guide about portions and serving size</li>
                        <li>If you do not reach your goals in the stipulated time then you will be given an extension</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 850</span>
                        <span class="brand-primary font-gotham-bold">Rs. 97900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">4</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price">17</p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                      <p class="price">Rs 17900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 300</span>
                        <span class="brand-primary font-gotham-bold">Rs. 17900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 52900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 465</span>
                        <span class="brand-primary font-gotham-bold">Rs. 52900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 95900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance as often as possible.</li>
                        <li>If you not reach your goals in the stipulated time then you will be given an extension.</li>
                        <li>We will try to attend you as soon as you arrive.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 770</span>
                        <span class="brand-primary font-gotham-bold">Rs. 95900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 125900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance every week there after</li>
                        <li>Extra motivational support</li>
                        <li>We generally like to keep a consulting room empty for you, if you inform us 5 minutes before your arrival</li>
                        <li>Separate watsapp group support for queries in between the week</li>
                        <li>One consultation with our Grooming expert</li>
                        <li>One consultation with your cook to guide about portions and serving size</li>
                        <li>If you do not reach your goals in the stipulated time then you will be given an extension</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 1000</span>
                        <span class="brand-primary font-gotham-bold">Rs. 125900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top">
              <div class="consult-chart relate inline-block text-center">
                <span class="noconsult brand-brown-dark font-semibold">6</span>
                <span class="text-uppercase white month font-gotham-bold">Months</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">consults</p>
                      <p class="price">26 </p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">silver</p>
                      <p class="price">Rs 26900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 435</span>
                        <span class="brand-primary font-gotham-bold">Rs. 26900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 64900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 640</span>
                        <span class="brand-primary font-gotham-bold">Rs. 64900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 125900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance as often as possible.</li>
                        <li>If you not reach your goals in the stipulated time then you will be given an extension.</li>
                        <li>We will try to attend you as soon as you arrive.</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 1080</span>
                        <span class="brand-primary font-gotham-bold">Rs. 125900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading class="duration">
                    <div class="chart-head">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 147900<sup></sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">special addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>Suman Madam’s one to one consultation along with nutritionist for the first visit when the diet is created.</li>
                        <li>Suman Madam’s one to one guidance every week there after</li>
                        <li>Extra motivational support</li>
                        <li>We generally like to keep a consulting room empty for you, if you inform us 5 minutes before your arrival</li>
                        <li>Separate watsapp group support for queries in between the week</li>
                        <li>One consultation with our Grooming expert</li>
                        <li>One consultation with your cook to guide about portions and serving size</li>
                        <li>If you do not reach your goals in the stipulated time then you will be given an extension</li>
                        <li>WhatsApp / Message support with your nutritionist.</li>
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime.</li>
                        <li>Vitamin Check.</li>
                        <li>Blood Report Analysis.</li>
                        <li>Dietary support for ailments, if required.</li>
                        <li>Invaluable tips on health, hair and skin care.</li>
                        <li>Holiday survival guide &amp; Travel tips.</li>
                        <li>Balanced dining out options for numerous cuisines.</li>
                        <li>Medical guidance, if required.</li>
                      </ul>
                      <div class="pricing text-center">
                        <span class="brand-primary font-gotham-bold">$ 1400</span>
                        <span class="brand-primary font-gotham-bold">Rs. 147900</span>
                      </div>
                    </div>
                    <div class="tab-foot text-right">
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup></sup>inclusive of all taxes</span>
                        <a href="#/checkout" class="white btn btn-primary text-uppercase">take this plan</a>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider">
    <div class="brand-brown-bg section-story">
      <div class="container">
        <div class="slider brand-brown-light-bg">
          <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in weightinfo" active="slide.active">
              <div class="row">
                <div class="col-md-6">
                  <div class="story-video">
                    <!-- <iframe width="100%" height="300" src="https://www.youtube.com/embed/dnmzOqhu62k" frameborder="0" allowfullscreen></iframe> -->
                    <a class="various fancybox.iframe" fancybox href="{{slide.link}}">
                      <img ng-src="{{slide.image}}" alt="" />
                      <div class="circle">
                        <img src="img/play.png" alt="" class="img-responsive" />
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="view-detail relate">
                    <div class="get-round weight-info text-center">
                      <span class="text-uppercase brand-brown-dark-bg lost">Lost</span>
                      <p>
                        <span class="weight-number">{{slide.weight}}</span>kgs
                      </p>
                    </div>
                    <h4 class="text-left brand-brown-dark name font-semibold letter-space">{{slide.name}}</h4>
                    <span class="text-left block brand-primary letter-space">{{slide.location}}</span>
                    <div class="descp brand-primary">
                      <p class="text-justify">{{slide.descp}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
