<div class="weight">
  <div class="banner selfcare-image">
    <img src="img/apple.jpg" alt="">
    <div class="get-center">
      <h2 class="text-uppercase letter-space white font-semibold">Weight loss</h2>
    </div>
  </div>
  <div class="container">
    <div class="get-up brand-brown-bg relate">
      <p class="health-descp white text-justify">At Selfcare, we individually design and monitor weight loss and health care programmes by emphasiszing well-balanced, portion-controlled diets and the importance of exercise. Your health and immunity are as important as your weight loss goals. Along
        with the diet, blood tests and diet plans, a well-planned exercise schedule is also crafted to address specific health issues. Most importantly, at Selfcare we believe its vital to achieve optimal weight for better long term health and to keep
        it off thereafter.</p>
    </div>
    <div class="health-chart">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
          <div class="health-tab healthchart-list">
            <div class="inline-block v-top align">
              <div class="get-round weight-round">
                <span class="text-uppercase brand-brown-dark-bg">loose</span>
                <br>
                <span class="weight-count font-vista">5 kgs</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">duration</p>
                      <p class="price">8-10
                        <span>weeks</span>
                      </p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 14900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-head">
                      <p>Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert
                        nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                    </div>
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">specail addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime</li>
                        <li>Vitamin Check</li>
                        <li>Blood Report Analysis</li>
                        <li>Dietary support for ailments, if required</li>
                        <li>Invaluable tips on health, hair and skin care</li>
                        <li>Holiday survival guide &amp; Travel tips</li>
                        <li>Balanced dining out options for numerous cuisines</li>
                        <li>Whatsapp/ message support with your nutritionist</li>
                        <li>Medical guidance, if required</li>
                      </ul>
                    </div>
                    <div class="tab-foot">
                      <div class="tab-footinfo">
                        <div class="tick inline-block">
                          <img src="img/tick.png" alt="" class="img-responsive">
                        </div>
                        <p class="inline-block">Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                      </div>
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 27900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-head">
                      <p>Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert
                        nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                    </div>
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">specail addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime</li>
                        <li>Vitamin Check</li>
                        <li>Blood Report Analysis</li>
                        <li>Dietary support for ailments, if required</li>
                        <li>Invaluable tips on health, hair and skin care</li>
                        <li>Holiday survival guide &amp; Travel tips</li>
                        <li>Balanced dining out options for numerous cuisines</li>
                        <li>Whatsapp/ message support with your nutritionist</li>
                        <li>Medical guidance, if required</li>
                      </ul>
                    </div>
                    <div class="tab-foot">
                      <div class="tab-footinfo">
                        <div class="tick inline-block">
                          <img src="img/tick.png" alt="" class="img-responsive">
                        </div>
                        <p class="inline-block">Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                      </div>
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 37900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                  <div class="chart-info">
                    <div class="tab-head">
                      <p>Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert
                        nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                    </div>
                    <div class="tab-body">
                      <h5 class="text-uppercase font-semibold">specail addons</h5>
                      <ul class="chart-list font-semibold">
                        <li>A folder, Diet Dairy and Measuremnet Card.</li>
                        <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                        <li>Personalized exercise regime</li>
                        <li>Vitamin Check</li>
                        <li>Blood Report Analysis</li>
                        <li>Dietary support for ailments, if required</li>
                        <li>Invaluable tips on health, hair and skin care</li>
                        <li>Holiday survival guide &amp; Travel tips</li>
                        <li>Balanced dining out options for numerous cuisines</li>
                        <li>Whatsapp/ message support with your nutritionist</li>
                        <li>Medical guidance, if required</li>
                      </ul>
                    </div>
                    <div class="tab-foot">
                      <div class="tab-footinfo">
                        <div class="tick inline-block">
                          <img src="img/tick.png" alt="" class="img-responsive">
                        </div>
                        <p class="inline-block">Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                      </div>
                      <div class="plan">
                        <span class="note font-baubodi letter-space"><sup>*</sup>inclusive of all taxes</span>
                        <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top align">
              <div class="get-round  weight-round">
                <span class="text-uppercase brand-brown-dark-bg">loose</span>
                <br>
                <span class="weight-count font-vista">10 kgs</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">duration</p>
                      <p class="price">16-20
                        <span>weeks</span>
                      </p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 27900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 52900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 68900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top align">
              <div class="get-round  weight-round">
                <span class="text-uppercase brand-brown-dark-bg">loose</span>
                <br>
                <span class="weight-count font-vista">15 kgs</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">duration</p>
                      <p class="price">24-30
                        <span>weeks</span>
                      </p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 40900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 74900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 97900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
          <div class="healthchart-list">
            <div class="inline-block v-top align">
              <div class="get-round  weight-round">
                <span class="text-uppercase brand-brown-dark-bg">loose</span>
                <br>
                <span class="weight-count font-vista">20 kgs</span>
              </div>
            </div>
            <div class="tab-chart">
              <uib-tabset>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">duration</p>
                      <p class="price">32-40
                        <span>weeks</span>
                      </p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">gold</p>
                      <p class="price">Rs 52900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">platinum</p>
                      <p class="price">Rs 95900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                  <uib-tab-heading>
                    <div class="chart-head ">
                      <p class="white text-bold text-uppercase">diamond</p>
                      <p class="price">Rs 125900<sup>*</sup></p>
                    </div>
                  </uib-tab-heading>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider">
    <div class="brand-brown-bg section-story">
      <div class="container">
        <div class="slider brand-brown-light-bg">
          <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in weightinfo" active="slide.active">
              <div class="row">
                <div class="col-md-6">
                  <div class="story-video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dnmzOqhu62k" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="view-detail relate">
                    <h4 class="text-left brand-brown-dark name font-semibold letter-space">{{slide.name}}</h4>
                    <span class="text-left block brand-primary letter-space">{{slide.location}}</span>
                    <div class="descp brand-primary">
                      <p class="text-justify">{{slide.descp}}</p>
                    </div>
                    <div class="get-round weight-info text-center">
                      <span class="text-uppercase brand-brown-dark-bg">Lost</span>
                      <br>
                      <span class="weight-count">{{slide.weight}}kgs</span>
                    </div>
                  </div>
                </div>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
