<div class="weight">
    <div class="banner">
        <div class="get-center">
            <h2 class="text-uppercase">weightloss</h2>
        </div>
    </div>
    <div class="container">
        <div class="get-up bg">
            <p>At Selfcare, we individually design and monitor weight loss and health care programmes by emphasiszing well-balanced, portion-controlled diets and the importance of exercise. Your health and immunity are as important as your weight loss goals. Along with the diet, blood tests and diet plans, a well-planned exercise schedule is also crafted to address specific health issues. Most importantly, at Selfcare we believe its vital to achieve optimal weight for better long term health and to keep it off thereafter.</p>
        </div>
        <div class="weight-chart">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    
                </div>
            </div>
        </div>
    </div>
</div>