<div class="weight">
    <div class="banner">
        <div class="get-center">
            <h2 class="text-uppercase">weightloss</h2>
        </div>
    </div>
    <div class="container">
        <div class="get-up bg">
            <p>At Selfcare, we individually design and monitor weight loss and health care programmes by emphasiszing well-balanced, portion-controlled diets and the importance of exercise. Your health and immunity are as important as your weight loss goals. Along with the diet, blood tests and diet plans, a well-planned exercise schedule is also crafted to address specific health issues. Most importantly, at Selfcare we believe its vital to achieve optimal weight for better long term health and to keep it off thereafter.</p>
        </div>
         <div class="health-chart">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="health-tab healthchart-list">
                        <div class="get-round">
                            <span class="text-uppercase bg">loose</span>
                            <span class="">5 kgs</span>
                        </div>
                        <div class="tab-chart">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">duration</p>
                                            <p>8-10 <span>weeks</span></p>
                                        </div>
                                    </tab-heading>
                                    <div class="chart-info">
                                        <div class="tab-head">
                                            <p>Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                                        </div>
                                        <div class="tab-body">
                                            <h5 class="text-uppercase">specail addons</h5>
                                            <ul class="chart-list">
                                                <li>A folder, Diet Dairy and Measuremnet Card.</li>
                                                <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                                                <li>Personalized exercise regime</li>
                                                <li>Vitamin Check</li>
                                                <li>Blood Report Analysis</li>
                                                <li>Dietary support for ailments, if required</li>
                                                <li>Invaluable tips on health, hair and skin care</li>
                                                <li>Holiday survival guide &amp; Travel tips</li>
                                                <li>Balanced dining out options for numerous cuisines</li>
                                                <li>Whatsapp/ message support with your nutritionist</li>
                                                <li>Medical guidance, if required</li>
                                            </ul>
                                          
                                        </div>
                                          <div class="tab-foot">
                                                <div class="tab-footinfo">
                                                    <p>Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                                                </div>
                                                <div class="plan">
                                                    <span class="note"><sup>*</sup>inclusive of all taxes</span>
                                                    <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                                                </div>
                                            </div>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">gold</p>
                                            <p>Rs 14900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                    <div class="chart-info">
                                        <div class="tab-head">
                                            <p>Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                                        </div>
                                        <div class="tab-body">
                                            <h5 class="text-uppercase">specail addons</h5>
                                            <ul class="chart-list">
                                                <li>A folder, Diet Dairy and Measuremnet Card.</li>
                                                <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                                                <li>Personalized exercise regime</li>
                                                <li>Vitamin Check</li>
                                                <li>Blood Report Analysis</li>
                                                <li>Dietary support for ailments, if required</li>
                                                <li>Invaluable tips on health, hair and skin care</li>
                                                <li>Holiday survival guide &amp; Travel tips</li>
                                                <li>Balanced dining out options for numerous cuisines</li>
                                                <li>Whatsapp/ message support with your nutritionist</li>
                                                <li>Medical guidance, if required</li>
                                            </ul>
                                        </div>                                        
                                            <div class="tab-foot">
                                                <div class="tab-footinfo">
                                                    <p>Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                                                </div>
                                                <div class="plan">
                                                    <span class="note"><sup>*</sup>inclusive of all taxes</span>
                                                    <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                                                </div>
                                            </div>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">platinum</p>
                                            <p>Rs 27900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                    <div class="chart-info">
                                        <div class="tab-head">
                                            <p>Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                                        </div>
                                        <div class="tab-body">
                                            <h5 class="text-uppercase">specail addons</h5>
                                            <ul class="chart-list">
                                                <li>A folder, Diet Dairy and Measuremnet Card.</li>
                                                <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                                                <li>Personalized exercise regime</li>
                                                <li>Vitamin Check</li>
                                                <li>Blood Report Analysis</li>
                                                <li>Dietary support for ailments, if required</li>
                                                <li>Invaluable tips on health, hair and skin care</li>
                                                <li>Holiday survival guide &amp; Travel tips</li>
                                                <li>Balanced dining out options for numerous cuisines</li>
                                                <li>Whatsapp/ message support with your nutritionist</li>
                                                <li>Medical guidance, if required</li>
                                            </ul>                                           
                                        </div>
                                         <div class="tab-foot">
                                                <div class="tab-footinfo">
                                                    <p>Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                                                </div>
                                                <div class="plan">
                                                    <span class="note"><sup>*</sup>inclusive of all taxes</span>
                                                    <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                                                </div>
                                            </div>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">diamond</p>
                                            <p>Rs 37900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                    <div class="chart-info">
                                        <div class="tab-head">
                                            <p>Learn the essentials of a healthy way of life and find out what works the best for you. Shed that extra five kilos by opting for our basic Gold Plan where the first consultation is with Suman and follow ups will be conducted by expert nutritionists, who are supervised by Suman. Spread over approximately two months (eight weeks) this is a designer diet programme tailor-made for you.</p>
                                        </div>
                                        <div class="tab-body">
                                            <h5 class="text-uppercase">specail addons</h5>
                                            <ul class="chart-list">
                                                <li>A folder, Diet Dairy and Measuremnet Card.</li>
                                                <li>10 Pillars of Health Design and Fruit Exchange List.</li>
                                                <li>Personalized exercise regime</li>
                                                <li>Vitamin Check</li>
                                                <li>Blood Report Analysis</li>
                                                <li>Dietary support for ailments, if required</li>
                                                <li>Invaluable tips on health, hair and skin care</li>
                                                <li>Holiday survival guide &amp; Travel tips</li>
                                                <li>Balanced dining out options for numerous cuisines</li>
                                                <li>Whatsapp/ message support with your nutritionist</li>
                                                <li>Medical guidance, if required</li>
                                            </ul>                                            
                                        </div>
                                        <div class="tab-foot">
                                                <div class="tab-footinfo">
                                                    <p>Choosing the above programs also includes any of the issues you are facing in the "Health Management" Packages as well.</p>
                                                </div>
                                                <div class="plan">
                                                    <span class="note"><sup>*</sup>inclusive of all taxes</span>
                                                    <button class="btn btn-primary text-uppercase" type="button">take this plan</button>
                                                </div>
                                            </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                    <div class="healthchart-list">
                        <div class="get-round">
                            <span class="text-uppercase bg">loose</span>
                            <span class="">10 kgs</span>
                        </div>
                        <div class="tab-chart">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">duration</p>
                                            <p>16-20 <span>weeks</span></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">gold</p>
                                            <p>Rs 27900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">platinum</p>
                                            <p>Rs 52900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">diamond</p>
                                            <p>Rs 68900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                    <div class="healthchart-list">
                         <div class="get-round">
                            <span class="text-uppercase bg">loose</span>
                            <span class="">15 kgs</span>
                        </div>
                        <div class="tab-chart">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">duration</p>
                                            <p>24-30 <span>weeks</span></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">gold</p>
                                            <p>Rs 40900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">platinum</p>
                                            <p>Rs 74900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">diamond</p>
                                            <p>Rs 97900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                    <div class="healthchart-list">
                        <div class="get-round">
                            <span class="text-uppercase bg">loose</span>
                            <span class="">20 kgs</span>
                        </div>
                        <div class="tab-chart">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">duration</p>
                                            <p>32-40 <span>weeks</span></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">gold</p>
                                            <p>Rs 52900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">platinum</p>
                                            <p>Rs 95900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <div class="chart-head ">
                                            <p class="brand-primary text-uppercase">diamond</p>
                                            <p>Rs 125900 <sup>*</sup></p>
                                        </div>
                                    </tab-heading>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider"></div>
    </div>
</div>