<div class="health-foot">
  <div class="row-flex">
    <div class="col-flex">
      <div class="health-back package relate">
        <a href="#/healthpackages"><button class="btn get-center text-uppercase foot-btn font-gotham-bold" type="button">health packages</button></a>
      </div>
    </div>
    <div class="col-flex">
      <div class="health-back shop relate">
        <a href="#/healthproducts/1"><button class="btn get-center text-uppercase foot-btn font-gotham-bold" type="button">health shop</button></a>
      </div>
    </div>
  </div>
</div>
