<header>
  <div class="header-main">
    <div class="container">

      <div class="row">
        <div class="col-md-6">

          <div class="row">
            <div class="col-md-1">
              <div class="hamburger">
                <span class="brand-primary-bg one"></span>
                <span class="brand-primary-bg two"></span>
                <span class="brand-primary-bg three"></span>
              </div>
            </div>
            <div class="col-md-11">
              <div class="logo">
                <h1>
                  <img src="img/logo.png" alt="">
                  <span>for Health &amp; Immunity</span>
                </h1>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="links">

            <div class="row">
              <div class="col-md-6">
                <div class="social-links">
                  <ul>
                    <li><a href="#/cart"><i class="fa fa-shopping-cart brand-primary"></i></a></li>
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook brand-primary"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-twitter brand-primary"></i></a></li>
                    <li><a href="https://instagram.com/"><i class="fa fa-instagram brand-primary"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa fa-youtube brand-primary"></i></a></li>
                    <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p brand-primary"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="contact-tel">
                  <a class="brand-primary" href="tel:+912261312222">+91 22 6131 2222</a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="signin">
                  <a class="brand-primary text-uppercase" href="#" ng-click="">Sign In</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</header>
