<div class="enter-mail">
  <div class="brand-primary-bg">
      <h2 class="text-uppercase text-center white m-clear">forgot password ?</h2>
  </div>
  <h3 class="text-uppercase text-center">{{msg}}</h3>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <form name="forgotpop" class="text-center forgot-form">
        <div class="form-group">
          <input name="forgotemail" ng-model="forgot.email" required type="email" class="form-control input-placeholder" placeholder="Email *">
        </div>
        <div class="" ng-show="forgotpop.forgotemail.$invalid && forgotpop.forgotemail.$touched" role="alert">
          Please Enyter Your Email Id.
        </div>
        <div class="form-group">
          <button type="" class="btn btn-primary" ng-click="submitForgot(forgot.email)" ng-show="forgotpop.$valid">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>
