<div class="login-tab">
  <uib-tabset>
    <uib-tab heading="Sign up">
      <div class="login-form">
        <form name="signupForm">
            <div class="row">
              <div class="col-md-offset-1 col-md-10">
                <div class="form-group">
                  <input type="text" name="firstname" class="form-control" ng-model="signup.firstname" required placeholder="First Name">
                </div>
                <div class="" ng-show="signupForm.firstname.$error.required && signupForm.firstname.$touched" role="alert">
                  Please enter your first name.
                </div>
                <div class="form-group">
                  <input type="text" name="lastname" class="form-control" ng-model="signup.lastname" required placeholder="Last Name">
                </div>
                <div class="" ng-show="signupForm.lastname.$error.required && signupForm.lastname.$touched" role="alert">
                  Please enter your last name.
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" ng-model="signup.email" required placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" ng-model="signup.password" ng-minlength="6" required placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" ng-model="signup.password" ng-minlength="6" required placeholder="Confirm Password">
                </div>
                <div class="accept">
                  <div class="checkbox">
                    <input type="checkbox" ng-model="accept" ng-change="acceptIt(accept)" class="text-uppercase" id="accept">
                    <label for="accept" class="text-light text-uppercase">
                      <span></span> I Accept The Terms And Conditions And Privacy Policy Of The Website
                    </label>
                  </div>
                  <div class="" ng-show="acceptValidate">
                    Please accept the terms and conditions to proceed.
                  </div>
                  <div class="text-center" ng-show="alreadyReg">
                    Email ID is already registered
                  </div>
                </div>
              </div>
            </div>

          <div class="text-center submit">
            <button class="btn btn-primary text-uppercase" ng-click="doSignup(accept,signup,signupForm)">Signup</button>
          </div>
        </form>
        <div class="text-center text-uppercase">
          <span class="block or">or</span>
          <p>sign up via</p>
        </div>
        <div class="social-btn text-center">
          <div class="btn-round inline-block">
            <button type="button" class="btn fb-btn no-border round" ng-click="facebookLogin()">
              <i class="fa fa-facebook"></i>
            </button>
          </div>
          <div class="btn-round inline-block">
            <button type="button" class="btn google-btn no-border round" ng-click="googleLogin()">
              <i class="fa fa-google-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Sign in">
      <div class="login-form">
        <form name="loginForm">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <div class="form-group">
                <input type="email" name="email" ng-model="login.email" class="form-control" required placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" name="password" ng-model="login.password" class="form-control" required placeholder="Password">
              </div>
              <div class="text-center" ng-show="invalidinput" role="alert">
                Invalid email or password.
              </div>
              <div class="text-center">
                <a class="" ng-click="openForgot();">Forgot Password?</a>
              </div>
              <div class="text-center submit">
                <button class="text-uppercase btn btn-primary" type="submit" ng-click="doLogin(login,loginForm)">Sign in</button>
              </div>

            </div>
          </div>
        </form>
        <div class="text-center text-uppercase">
          <span class="block">or</span>
          <p>sign in via</p>
        </div>
        <div class="social-btn text-center">
          <div class="btn-round inline-block" ng-click="facebookLogin()">
            <button type="button" class="btn fb-btn round no-border">
              <i class="fa fa-facebook"></i>
            </button>
          </div>
          <div class="btn-round inline-block">
            <button type="button" class="btn google-btn round no-border" ng-click="googleLogin()">
              <i class="fa fa-google-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
