<div class="login-tab">
    <tabset>
        <tab heading="Sign up">
            <div class="login-form">
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="accept">
                        <label for="" class="text-light text-uppercase">
                            <input type="checkbox" class="text-uppercase"> I Accept The Terms And Conditions And Privacy Policy Of The Website
                        </label>
                    </div>
                    <div class="text-center submit">
                        <button class="btn btn-primary text-uppercase" type="submit">Signup</button>
                    </div>
                </form>
                <div class="text-center text-uppercase">
                    <span class="block or">or</span>
                    <p>sign up via</p>
                </div>
                <div class="social-btn text-center">
                    <div class="btn-round inline-block">
                        <button type="button" class="btn fb-btn no-border round"><i class="fa fa-facebook"></i></button>
                    </div>
                    <div class="btn-round inline-block">
                        <button type="button" class="btn google-btn no-border round"><i class="fa fa-google-plus"></i></button>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Sign in">
            <div class="login-form">
                <form action="">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="text-center submit">
                                <button class="text-uppercase btn btn-primary" type="submit">Sign in</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center text-uppercase">
                    <span class="block">or</span>
                    <p>sign up via</p>
                </div>
                <div class="social-btn text-center">
                    <div class="btn-round inline-block">
                        <button type="button" class="btn fb-btn round no-border"><i class="fa fa-facebook"></i></button>
                    </div>
                    <div class="btn-round inline-block">
                        <button type="button" class="btn google-btn round no-border"><i class="fa fa-google-plus"></i></button>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>
